.map_slt{
  background: red;
  color: red;
  }
  .input-with-select .el-input-group__prepend {
    background-color: #fff;
  }
  .res_slt{
    margin-left:-10px;padding-top:30px;width:240px;border:none;
    position:relative; z-index:66;
  }
  .pagenum{
    position:fixed;
    bottom:10px;
    margin-left:22px;
    color:black;
    /* border:2px solid #3CBFA5; */
    /* background: #3A254F; */
    /* border-radius: 5px; */
  }
  .pagenum_btn{
    font-weight:bold;
    text-decoration: none;
    color:black;
  }

  .el-pagination__total{
    color:#fff;
  } 

  .el-pagination__jump{
    color:#fff;
  } 
  
  .el-pagination__editor{
    color:#fff;
    border-radius: 0px;
    background: #3E3F43;
    border:0px;
  }

  /* 左侧底部分页的样式 */
  .btn-prev{
    background: #3E3F43 !important;
    border:0px !important;
    color:#fff !important;
  }

  .btn-next{
    background: #3E3F43 !important;
    border:0px !important;
    color:#fff !important;
  }

  .an{
    text-decoration: none;
  }
  
  .map_btn_f{
    background:#000;margin-top:100px;
  }

  .map_btn{
    background:#000;margin-top:10px;margin-left:0px;
  }

  .menu-box-main{
    overflow:auto;
    max-height:410px;
  }

  .menu-box-main::-webkit-scrollbar {
    display:none;
  }

  .el-collapse-item__header {
    height: 25px;
    line-height: 25px;
    padding-left: 0; 
    text-align: center;
    font-size: 12px;
  }

  .bx {
    height: 60px;
  }
  
  .el-card__header {
    padding: 5px 10px;
    border-bottom: none;
  }
  .el-card__body div {
    padding: 0 10px;
  }
  .el-card__body div:last-child {
    padding: 0 10px 5px;
  }
  .el-dropdown-menu__item{
    line-height: 20px;
    text-align: left;
    padding: 5px 10px;
  }
  .el-checkbox{
    margin-left: 0;
  }
  .el-checkbox__label{
    font-size: 12px;
  }
  .el-checkbox__inner{
    width: 15px;
    height: 15px;
  }
  .el-input__inner{
    height: 35px;
    font-size: 12px;
    border-radius: 0px;
  }
  .el-button{
    padding: 6px 13px;
    font-size: 12px;
    height: 35px;
  }
  
  .input-with-select{
    width: 163px;
  }
  .el-input__icon{
    width: 30px;
    height: 25px;
  }
  .el-card{
    margin-bottom: 0px;
    text-align: left;
    border-radius: 0px;
    border:1px solid #333;
    height: 48px;
    background: #3E3F43;
    padding: 8px;
    cursor: pointer;
  }
  .el-card:hover{
    margin-bottom: 0px;
    text-align: left;
    border-radius: 0px;
    border:1px solid #333;
    height: 48px;
    background: #20A0FF !important;
    padding: 8px;
  }
  .menu-toggle-btn{
    bottom: 80px;
  }
  .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: inherit;
    border: none;
  }
  .pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    background-color: inherit;
    border: none;
  }
  .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    background-color: inherit;
    border: none;
  }
  .pagination>li>a, .pagination>li>span{
    background-color: inherit;
    border: none;
  }
  .pagination {
    margin: 0; 
  }
  .anchorBL{display:none;}/*左下角百度地图图标隐藏*/
  
  .map-menu-left div::-webkit-scrollbar {
    display:none;
  }