.digitalList-right{
    width:405px;
}
.detailDisplay{
    display: inline-flex;
}
.imgWidth{
    width: 150px;
}
.leftDetail{
    width: 220px;
}
.el-upload__input{
    display: none !important;
}
.el-form-item {
    margin-bottom: 0;
}
label {
    margin-bottom: 0;
}
.el-form-item:last-child {
    margin-bottom: 10px;
}
.el-row > .el-col >.el-form-item {
    margin-bottom: 0;
}
.el-row > .el-col >.el-form-item >label {
    padding: 5px 11px;
}
.el-checkbox-button__inner {
    border: 0;
    /* border-left: 1px solid #bfcbd9; */
    margin: 0 2px;
}
.el-checkbox-button--small .el-checkbox-button__inner {
    border-radius: 4px;
}
.el-checkbox-button:first-child .el-checkbox-button__inner {
    border: 0;
    border-radius: 4px;
}
.el-checkbox-button:last-child .el-checkbox-button__inner {
    border: 0;
    border-radius: 4px;
}
.el-radio-button:first-child .el-radio-button__inner {
    border: 0;
    border-radius: 4px;
}
.el-radio-button__inner {
    border: 0;
    /* border-left: 1px solid #bfcbd9; */
    margin: 0 2px;
}
.el-radio-button--small .el-radio-button__inner {
    border-radius: 4px;
}
.el-radio-button:last-child .el-radio-button__inner {
    border: 0;
    border-radius: 4px;
}
.el-button--primary,.el-button--clear{
    margin: 3px 0;
}
.el-form-item__label{
    width: 100px;
}