.digitalList-right{
    width:405px;
}
.detailDisplay{
    display: inline-flex;
}
.imgWidth{
    width: 150px;
}
.leftDetail{
    width: 220px;
}
.el-upload__input{
    display: none !important;
}
.el-form-item {
    margin-bottom: 0;
}
label {
    margin-bottom: 0;
}
.el-form-item:last-child {
    margin-bottom: 10px;
}
.el-row > .el-col >.el-form-item {
    margin-bottom: 0;
}
.el-row > .el-col >.el-form-item >label {
    padding: 5px 11px;
}