.el-dialog__body {
    padding: 10px 20px 20px;
}
.dib {
    margin-left: 7px;
}
.el-button{
    margin-top: 7px;
}
#basic-Inform-Picture img {
    width: 120px;
} 
.yadxtitle{
    font-size: 14px;
    font-weight: 700;
    margin: 10px;
}