input[type=file] {
    display: none;
}
.el-input{
    width: 230px;
}
.main-container {
    padding: 40px 20px 20px;
}
.el-form-item {
    width: 100%;
    margin-bottom: 0;
}
.el-form-item__content {
    margin-left: 0 !important; 
    
}
.el-form-item__error {
    padding-top: 0;
}
.el-card__header{
    padding: 0px 20px;
    color: #20a0ff;
}
.el-card__body{
    padding: 15px;    
}
.el-textarea {
    width: 90%;
}
/* .disasterForm{
    width:100%;
}
.disasterForm >.el-form-item__content{
    margin: 0;
} */