.digitalList-right{
    width:405px;
}
.detailDisplay{
    display: inline-flex;
}
.imgWidth{
    width: 150px;
    margin-top: 2px;
}
.leftDetail{
    width: 220px;
}
.el-upload__input{
    display: none !important;
}
.el-dialog--small{
    width:55% !important;
}
.openPlan{
    margin-top: 35px;
}
.digitalSearch{
    width: 200px;
}
.digitalType{
    width:268px;
}
.digitalDate{
    width: 125px !important;
}

.cell{
    display: block;
    width: 100%;
}