<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/planobject/bwjwplan.css">
    <title>预案对象-消防保卫警卫</title>
</head>

<body class="fw f14 main-index-body">
    <div id="app">
        <div class="main-box">
            <!-- v-loading="loading" element-loading-text="加载中" -->
            <div class="main-container" >
                <div id="lib :: main_container_header('消防保卫警卫','消防保卫警卫')"></div>
                <!-- 面包屑 -->
                <div id="breadcrumb_box"></div>
                <div id="tableView">
                    <el-row>
                        <el-form label-width="155px" :inline="true" class="el-form demo-form-inline">
                            <el-row>
                                <el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
                                <el-col :xs="9" :sm="9" :md="9" :lg="9" :xl="9" class="searchInline">
                                    <label class="el-form-item__label searchLabel">活动主题</label>
                                    <el-input size="small" v-model="searchForm.hdzt" placeholder="活动主题"></el-input>
                                </el-col>
                                <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                <el-col :xs="9" :sm="9" :md="9" :lg="9" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">主（承）办单位</label>
                                    <el-input size="small" v-model="searchForm.zcbdw" placeholder="主（承）办单位"></el-input>
                                </el-col>
                                <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                            </el-row>
                            <el-row>                   
                                <el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
                                <el-col :xs="9" :sm="9" :md="9" :lg="9" :xl="9" class="searchInline">
                                    <label class="el-form-item__label searchLabel">消防管辖</label>
                                    <el-select size="small" v-model="searchForm.xfgx" placeholder="全部" class="searchSelect" clearable>
                                        <el-option v-for="type in allSsdzData" :label="type.codeName" :value="type.codeValue" :key="type.codeName"></el-option>
                                    </el-select>
                                </el-col>
                                <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                    <el-col :xs="9" :sm="9" :md="9" :lg="9" :xl="9" class="searchInline">
                                    <label class="el-form-item__label searchLabel">持续时间（天）</label>
                                    <el-input size="small" v-model="searchForm.cxsj" placeholder="持续时间"></el-input>
                                </el-col>
                                <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                            </el-row>
                            <div>
                                <el-form>
                                    <el-col :span="12" class="btnEditDelete">
                                        <el-form-item align="left">
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12"></el-col>
                                    <el-col :span="12" class="btnSearchPlus">
                                        <el-form-item>
                                            <el-button type="primary" icon="search" size="small" @click="searchClick">查询</el-button>
                                            <el-button type="clear" icon="delete" size="small" @click="clearClick">重置</el-button>
                                        </el-form-item>
                                    </el-col>
                                </el-form>
                            </div>
                        </el-form>
                    </el-row>
                    <div class="table_container">
                        <el-table border id="table" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" @selection-change="selectionChange"
                            class="tableStyle" :height="tableheight">
                            <el-table-column type="index" label="序号" show-overflow-tooltip width="65px" align="center"></el-table-column>
                            <el-table-column prop="hdzt" label="活动主题" show-overflow-tooltip min-width="35%" align="center">
                                <template slot-scope="scope">
                                    <a @click="informClick(scope.row)">{{scope.row.hdzt}}</a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="zcbdw" label="主（承）办单位" show-overflow-tooltip min-width="25%" align="center"></el-table-column>
                            <el-table-column prop="xfgxmc" label="消防管辖" show-overflow-tooltip min-width="25%" align="center"></el-table-column>
                            <el-table-column prop="cxsj" label="持续时间（天）" show-overflow-tooltip min-width="15%" align="center"></el-table-column>
                        </el-table> 
    
                        <!--列表底部工具条和分页符-->
                        <el-row type="flex" justify="end">
                            <el-col :span="18">
                                <el-pagination @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage" :page-sizes="[10, 20, 30, 50]"
                                    :page-size="pageSize" layout="total, prev, pager, next, jumper" :total=parseInt(total)>
                                </el-pagination>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </div>
            <!-- main-container -->
        </div>
    </div>
</body>
<script src="../../static/js/planobject/guardobjects_list.js"></script>
</html>