<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/planobject/importantunits.css">
	<title>预案对象-重点单位</title>
</head>

<body class="fw f14 main-index-body">
	<div id="header_box"></div>
	<div class="left-sidebar">
		<a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
		<input type="hidden" id="activeIndex"/>
		<div id="menu-box">
			<big-tree default-active=""></big-tree>
		</div>
	</div>
	<div id="app">
		<div class="main-box">
			<div class="main-container" v-loading="loading" element-loading-text="加载中">
				<div id="lib :: main_container_header('重点单位管理','重点单位管理')"></div>
				<!-- 面包屑 -->
                <div id="breadcrumb_box"></div>
				<div id="tableView">
					<el-row>
						<el-form label-width="75px" :inline="true" class="el-form demo-form-inline">
							<el-row>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">单位名称</label>
									<el-input size="small" v-model="searchForm.dwmc" placeholder="单位名称"></el-input>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">单位性质</label>
									<el-select size="small" v-model="searchForm.dwxz" placeholder="全部" class="searchSelect" clearable>
										<el-option v-for="item in dwxzData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">单位建筑情况</label>
									<el-select size="small" v-model="searchForm.jzfl" placeholder="全部" class="searchSelect" clearable>
										<el-option v-for="item in jzflData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-col>
							</el-row>
							<el-row>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">防火等级</label>
									<el-select size="small" v-model="searchForm.fhdj" placeholder="全部" class="searchSelect" clearable>
										<el-option v-for="item in fhdjData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">灭火队站</label>
									<el-select size="small" v-model="searchForm.mhdzbm" placeholder="全部" class="searchSelect" clearable>
										<el-option v-for="item in mhdzidData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">有无消防队伍</label>
									<el-select size="small" v-model="searchForm.xfdwlxmc" placeholder="全部" class="searchSelect" clearable>
										<el-option v-for="item in xfdwlxmcData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-col>
							</el-row>

							<div>
								<el-form>
									<el-col :span="12" class="btnEditDelete">
										<el-form-item align="left">
											<!--<el-button type="primary" icon="edit" size="small" @click="editClick">编辑</el-button>-->
											<!-- <el-button type="danger" icon="delete" size="small" @click="removeSelection">删除</el-button>   -->
										</el-form-item>
									</el-col>
									<el-col :span="12"></el-col>
									<el-col :span="12" class="btnSearchPlus">
										<el-form-item>
											<el-button type="primary" icon="search" size="small" @click="searchClick">查询</el-button>
											<el-button type="clear" icon="delete" size="small" @click="clearClick">清空</el-button>
										</el-form-item>
									</el-col>
								</el-form>
							</div>
						</el-form>
					</el-row>
					<div class="table_container">
						<el-table border id="table" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" class="tableStyle" :height="tableheight">
							<el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
							<el-table-column prop="dwmc" label="单位名称" show-overflow-tooltip min-width="25%" align="center">
								<template slot-scope="scope">
									<a @click="informClick(scope.row)" type="text" v-text="scope.row.dwmc||'无'"></a>
								</template>
							</el-table-column>
							<el-table-column prop="dwxzmc" label="单位性质" show-overflow-tooltip min-width="25%" align="center"></el-table-column>
							<el-table-column prop="mhdzidmc" label="灭火队站" show-overflow-tooltip min-width="15%" align="center"></el-table-column>
							<el-table-column prop="fhdjmc" label="防火等级" show-overflow-tooltip min-width="11%" align="center"></el-table-column>
							<el-table-column prop="jzflmc" label="建筑情况" show-overflow-tooltip min-width="13%" align="center"></el-table-column>
							<el-table-column prop="xfdwlxmc" label="消防队伍" show-overflow-tooltip min-width="11%" align="center"></el-table-column>
						</el-table>

						<!--列表底部工具条和分页符-->
						<el-row type="flex" justify="end">
							<el-col :span="18">
								<el-pagination @current-change="currentPageChange" :current-page="currentPage" layout="total, prev, pager, next, jumper"
								 :total=parseInt(total)>
								</el-pagination>
							</el-col>
						</el-row>
					</div>
				</div>
			</div>
			<!-- main-container -->
		</div>
	</div>
</body>
<script src="../../static/js/lib.js"></script>
<script src="../../static/js/planobject/importantunits_list.js"></script>
<script src="../../static/js/menu.js"></script>

</html>