<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/planobject/importantunits.css">
    <title>预案对象-其他对象</title>
</head>

<body class="fw f14 main-index-body">
    <div id="app">
        <div class="main-box">
            <div class="main-container" v-loading="loading" element-loading-text="加载中">
                <!-- 面包屑 -->
                <div id="breadcrumb_box"></div>
                <div id="lib :: main_container_header('其他对象','其他对象')"></div>
                <div id="tableView">
                    <el-row>
                        <el-form label-width="75px" :inline="true" class="el-form demo-form-inline">
                            <el-row>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">对象名称</label>
                                    <el-input size="small" v-model="searchForm.dxmc" placeholder="对象名称"></el-input>
                                </el-col>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">对象地址</label>
                                    <el-input size="small" v-model="searchForm.dxdz" placeholder="对象地址"></el-input>
                                </el-col>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">消防管辖</label>
                                    <el-select size="small" v-model="searchForm.xfgx" placeholder="全部" class="searchSelect" clearable>
                                            <el-option v-for="item in xfgxData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <div>
                                <el-form>
                                    <el-col :span="12" class="btnEditDelete">
                                        <el-form-item align="left">
                                            <!--<el-button type="primary" icon="edit" size="small" @click="editClick">编辑</el-button>-->
                                            <!-- <el-button type="danger" icon="delete" size="small" @click="removeSelection">删除</el-button>   -->
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12"></el-col>
                                    <el-col :span="12" class="btnSearchPlus">
                                        <el-form-item>
                                            <el-button type="primary" icon="search" size="small" @click="searchClick">查询</el-button>
                                            <el-button type="clear" icon="delete" size="small" @click="clearClick">重置</el-button>
                                        </el-form-item>
                                    </el-col>
                                </el-form>
                            </div>
                        </el-form>
                    </el-row>
                    <div class="table_container">
                        <el-table border id="table" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" @selection-change="selectionChange"
                            class="tableStyle" :height="tableheight">
                            <el-table-column type="index" label="序号" show-overflow-tooltip width="65px" align="center"></el-table-column>
                            <el-table-column prop="dxmc" label="对象名称" show-overflow-tooltip min-width="30%" align="center">
                                <template slot-scope="scope">
                                    <a @click="informClick(scope.row)" v-text=scope.row.dxmc></a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="dxdz" label="对象地址" show-overflow-tooltip min-width="25%" align="center"></el-table-column>
                            <el-table-column prop="xfgxmc" label="消防管辖" show-overflow-tooltip min-width="25%" align="center"></el-table-column>
                            <el-table-column prop="lxdh" label="联系电话" show-overflow-tooltip min-width="20%" align="center"></el-table-column>
                        </el-table>
    
                        <!--列表底部工具条和分页符-->
                        <el-row type="flex" justify="end">
                            <el-col :span="18">
                                <el-pagination @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage" :page-sizes="[10, 20, 30, 50]"
                                    :page-size="pageSize" layout="total, prev, pager, next, jumper" :total=parseInt(total)>
                                </el-pagination>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </div>
            <!-- main-container -->
        </div>
    </div>
</body>
<script src="../../static/js/planobject/otherobjects_list.js"></script>
</html>