<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/system/codelist.css">
    <title>代码集管理</title>
</head>

<body class="fw f14 main-index-body">
    <div id="header_box"></div>
    <div class="left-sidebar">
        <a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
        <input type="hidden" id="activeIndex"/>
        <div id="menu-box">
            <big-tree default-active=""></big-tree>
        </div>
    </div>
    <div id="app">
        <div class="main-box">
            <div class="main-container" v-loading="loading" element-loading-text="加载中">
                <div id="lib :: main_container_header('角色管理','角色管理')"></div>
                <!-- 面包屑 -->
                <div id="breadcrumb_box"></div>
                <div id="tableView">
                    <el-row>
                        <el-form label-width="75px" :inline="true" class="el-form demo-form-inline">
                            <el-row>
                                <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                <el-col :xs="9" :sm="9" :md="9" :lg="9" :xl="9" class="searchInline">
                                    <label class="el-form-item__label searchLabel">代码类型</label>
                                    <el-input size="small" v-model="searchForm.codetype" placeholder="请输入代码类型名称" prefix-icon="el-icon-search"></el-input>
                                </el-col>
                                <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                <el-col :xs="9" :sm="9" :md="9" :lg="9" :xl="9" class="searchInline">
                                    <label class="el-form-item__label searchLabel">创建时间</label>
                                    <el-date-picker
                                        type="daterange"
                                        @change="dateChange"
                                        format="yyyy/MM/dd"
                                        value-format="yyyy/MM/dd"
                                        size="small" 
                                        v-model="searchForm.createTime"
                                        range-separator="至"
                                        placeholder="创建时间"
                                        start-placeholder="开始日期"
                                        end-placeholder="结束日期"
                                        class="searchDatePicker">
                                    </el-date-picker>
                                </el-col>
                                <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                            </el-row>
                            <div>
                                <el-form>
                                    <el-col :span="12" class="btnEditDelete">
                                        <el-form-item align="left">
                                            <el-button type="primary" icon="edit" size="small" @click="editClick">修改</el-button>
                                            <el-button type="danger" icon="delete2" size="small" @click="removeSelection">删除</el-button>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12"></el-col>
                                    <el-col :span="12" class="btnSearchPlus">
                                        <el-form-item>
                                            <el-button type="primary" icon="search" size="small" @click="searchClick">查询</el-button>
                                            <el-button type="success" icon="plus" size="small" @click="addClick">新增</el-button>
                                        </el-form-item>
                                    </el-col>
                                </el-form>
                            </div>
                        </el-form>
                    </el-row>

                    <div class="table_container">
                        <el-table class="table-formal" border id="table" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
                            @selection-change="selectionChange" :height="tableheight" tooltip-effect="dark">
                            <el-table-column type="selection" width="45"></el-table-column>
                            <el-table-column type="index" show-overflow-tooltip label="序号" align="center" width="65"></el-table-column>
                            <el-table-column prop="codetype" show-overflow-tooltip label="代码类型" min-width="10%" align="center" :formatter="dataFormat">
                                <template slot-scope="scope">
                                    <el-button @click="codetypeCilck(scope.row)" type="text" v-text="scope.row.codetype"></el-button>
                                </template>
                            </el-table-column>
                            <el-table-column prop="codetypeName" show-overflow-tooltip label="代码类型" min-width="15%" show-overflow-tooltip align="center" :formatter="dataFormat"></el-table-column>
                            <el-table-column prop="remark" show-overflow-tooltip label="备注" min-width="22%" align="center" show-overflow-tooltip :formatter="dataFormat"></el-table-column>
                            <!-- <el-table-column prop="language" label="国际化信息" min-width="12%" align="center"></el-table-column> -->
                            <el-table-column prop="createName" show-overflow-tooltip label="创建人" min-width="10%" align="center" :formatter="dataFormat"></el-table-column>
                            <el-table-column prop="createTime" show-overflow-tooltip label="创建时间" min-width="13%" align="center" :formatter="dateFormat"></el-table-column>
                            <el-table-column prop="alterName" show-overflow-tooltip label="修改人" min-width="10%" align="center" :formatter="dataFormat"></el-table-column>
                            <el-table-column prop="alterTime" show-overflow-tooltip label="修改时间" min-width="13%" align="center" :formatter="dateFormat"></el-table-column>
                        </el-table>

                        <!--列表底部工具条和分页符-->
                        <el-row class="table-page-top" type="flex" justify="end">
                            <el-col :span="18">
                                <el-pagination class="table-page" @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage"
                                    :page-sizes="[10, 20, 30, 50]" :page-size="pageSize" layout="total, prev, pager, next, jumper"
                                    :total=parseInt(total)>
                                </el-pagination>
                            </el-col>
                        </el-row>
                    </div>

                    <!--新建界面-->
                    <el-dialog title="新建代码集" :visible.sync="addFormVisible" @close="closeDialog('addForm')" :close-on-click-modal="false">
                        <el-form :model="addForm" label-width="120px" :rules="addFormRules" ref="addForm">
                            <el-row>
                                <el-col :span="22">
                                    <el-form-item label="代码类型" prop="codetype">
                                        <el-input v-model="addForm.codetype" auto-complete="off" placeholder="代码类型"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="22">
                                    <el-form-item label="代码类型名称" prop="codetypeName">
                                        <el-input v-model="addForm.codetypeName" auto-complete="off" placeholder="代码类型名称"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="22">
                                    <el-form-item label="备注" prop="remark">
                                        <el-input v-model="addForm.remark" auto-complete="off" placeholder="备注"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="22">
                                    <el-form-item label="国际化信息" prop="language" value="zh_CN">
                                        <el-input v-model="addForm.language" auto-complete="off" placeholder="国际化信息"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click.native="closeDialog('addForm')">取消</el-button>
                            <el-button type="primary" @click.native="addSubmit(addForm)">提交</el-button>
                        </div>
                    </el-dialog>

                    <!--修改界面 -->
                    <el-dialog title="修改代码集" :visible.sync="editFormVisible" @close="closeDialog('editForm')" :close-on-click-modal="false">
                        <el-form :model="editForm" label-width="120px" :rules="editFormRules" ref="editForm">
                            <el-row>
                                <el-col :span="22">
                                    <el-form-item label="代码类型" prop="codetype">
                                        <el-input v-model="editForm.codetype" auto-complete="off" placeholder="代码类型"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="22">
                                    <el-form-item label="代码类型名称" prop="codetypeName">
                                        <el-input v-model="editForm.codetypeName" auto-complete="off" placeholder="代码类型名称"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="22">
                                    <el-form-item label="备注" prop="remark">
                                        <el-input v-model="editForm.remark" auto-complete="off" placeholder="备注"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="22">
                                    <el-form-item label="国际化信息" prop="language" value="zh_CN">
                                        <el-input v-model="editForm.language" auto-complete="off" placeholder="国际化信息"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click.native="closeDialog('editForm')">取消</el-button>
                            <el-button type="primary" @click.native="editSubmit(editForm)">提交</el-button>
                        </div>
                    </el-dialog>
                </div>
            </div>
            <!-- main-container -->
        </div>
    </div>
</body>
<script src="../../static/js/lib.js"></script>
<script src="../../static/js/system/codelist.js"></script>
<script src="../../static/js/menu.js"></script>

</html>