<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>权限管理</title>
</head>

<body class="fw f14 main-index-body">
	<div id="app">
		<div class="main-box">
			<div class="main-container" v-loading="loading" element-loading-text="加载中">
				<div id="lib :: main_container_header('权限管理','权限管理')"></div>
				<!-- 面包屑 -->
				<div id="breadcrumb_box"></div>
				<div id="tableView">
					<el-row>
						<el-form label-width="75px" :inline="true" class="el-form demo-form-inline">
							<el-row>
								<el-col :span="8" class="searchInline">
									<label class="el-form-item__label searchLabel">权限名称</label>
									<el-input size="small" v-model="searchForm.permissionname" placeholder="权限名称"></el-input>
								</el-col>
								<el-col :span="8" class="searchInline">
									<label class="el-form-item__label searchLabel">权限描述</label>
									<el-input size="small" v-model="searchForm.permissioninfo" placeholder="权限描述"></el-input>
								</el-col>
								<el-col :span="8" class="searchInline">
									<label class="el-form-item__label searchLabel">创建时间</label>
									<el-date-picker
                                        type="daterange"
                                        @change="dateChange"
                                        format="yyyy/MM/dd"
                                        value-format="yyyy/MM/dd"
                                        size="small" 
                                        v-model="searchForm.createTime"
                                        range-separator="至"
                                        placeholder="创建时间"
                                        start-placeholder="开始日期"
                                        end-placeholder="结束日期"
                                        class="searchDatePicker">
                                    </el-date-picker>
								</el-col>
							</el-row>
							<div>
								<el-form>
									<el-col :span="12" class="btnEditDelete">
										<el-form-item align="left">
											<el-button v-if="hasPermission('system/permission:add')" type="success" icon="plus" size="small" @click="addClick">新增</el-button>
											<el-button v-if="hasPermission('system/permission:delete')" type="danger" icon="delete2" size="small" @click="removeSelection">删除</el-button>
										</el-form-item>
									</el-col>
									<el-col :span="12"></el-col>
									<el-col :span="12" class="btnSearchPlus">
										<el-form-item>
											<el-button type="primary" icon="search" size="small" @click="searchClick">查询</el-button>
											<el-button type="clear" icon="delete" size="small" @click="clearClick">重置</el-button>
										</el-form-item>
									</el-col>
								</el-form>
							</div>
						</el-form>
					</el-row>

					<div class="table_container">
						<el-table class="tableStyle" border id="table" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
						 @selection-change="selectionChange" :height="tableheight">
							<el-table-column type="selection" width="45"></el-table-column>
							<el-table-column type="index" show-overflow-tooltip label="序号" align="center" width="65"></el-table-column>
							<el-table-column prop="permissionname" show-overflow-tooltip label="权限名称" min-width="20%" align="center"></el-table-column>
							<el-table-column prop="permissioninfo" show-overflow-tooltip label="权限描述" min-width="15%" align="center"></el-table-column>
							<el-table-column prop="createName" show-overflow-tooltip label="创建人" min-width="12%" align="center"></el-table-column>
							<el-table-column prop="createTime" show-overflow-tooltip label="创建时间" min-width="13%" align="center" :formatter="tableDateFormat"></el-table-column>
							<el-table-column prop="alterName" show-overflow-tooltip label="修改人" min-width="12%" align="center"></el-table-column>
							<el-table-column prop="alterTime" show-overflow-tooltip label="修改时间" min-width="13%" align="center" :formatter="tableDateFormat"></el-table-column>
							<el-table-column label="操作" width="65" align="center" v-if="hasPermission('system/permission:edit')">
								<template slot-scope="scope">
									<el-button type="text" @click="editClick(scope.row, scope.$index)">编辑</el-button>
								</template>
							</el-table-column>
						</el-table>

						<!--列表底部工具条和分页符-->
						<el-row type="flex" justify="end">
							<el-col :span="18">
								<el-pagination @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage"
								 :page-sizes="[10, 20, 30, 50]" :page-size="pageSize" layout="total, prev, pager, next, jumper" :total=parseInt(total)>
								</el-pagination>
							</el-col>
						</el-row>
					</div>

					<!--修改界面-->
					<el-dialog :title="dialogTitle" :visible.sync="editFormVisible" :close-on-click-modal="false">
						<el-form :model="editForm" label-width="120px" :rules="editFormRules" ref="editForm">
							<div v-show="false" v-once v-model="permissionnameOld"></div>
							<el-row>
								<el-col :span="23">
									<el-form-item label="权限名称" prop="permissionname">
										<el-input v-model="editForm.permissionname" auto-complete="off" placeholder="权限名称" size="small" maxlength="15"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="23">
									<el-form-item label="权限描述" prop="permissioninfo">
										<el-input v-model="editForm.permissioninfo" auto-complete="off" placeholder="权限描述" size="small" maxlength="50"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row class="mt35 mb20 editform-button">
								<el-button type="clear" icon="close" size="small" class="btn_submit" @click="closeDialog(editForm)"> 取消</el-button>
								<el-button type="success" icon="check" size="small" class="btn_save" @click="editSubmit(editForm)">保存</el-button>
							</el-row>
						</el-form>
					</el-dialog>


					
				</div>
			</div>
		</div>
	</div>
</body>
<script src="../../static/js/system/permission.js"></script>
</html>