<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
		<link rel="stylesheet" type="text/css" href="../../static/css/lib.css"> 
		<link rel="stylesheeet" type="text/css" href="../../static/css/system/resourcelist.css">
	</head>

	<style>
			.custom-tree-node {
			  flex: 1;
			  display: flex;
			  align-items: center;
			  justify-content: space-between;
			  font-size: 14px;
			  padding-right: 8px;
			}
	</style>

	<body class="fw f14 main-index-body">
			<div id="header_box"></div>
			<div class="left-sidebar">
					<a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
					<div id="menu-box">
							<big-tree default-active="52"></big-tree>
					</div>
			</div>

			  <div id="app">
					<div class="main-box">
							<div class="main-container">
							<div id="lib :: main_container_header('资源管理','资源管理')"></div>
						    <div class="frame" >
                  <div class="frame_left" scroll="no">
										<h5 class="src_name">资源树</h5>
											<el-tree 
											:data="tableData" 
											node-key="resourceid"
											:default-expanded-keys="['17']" 
											:props="defaultProps" 
											@node-click="handleNodeClick" 
											style=" font-weight:bold;
											width:100%;
											font-weight:100px;
											border:none;
											"
											show-checkbox
											:expand-on-click-node="false"
											>
											<span class="custom-tree-node" slot-scope="{ node, data }">
											<span>{{ node.label }}</span>
											<span>
													<el-button
																type="text"
																size="mini"
																@click="() => append(data)">
																+
													</el-button>
													<el-button
																type="text"
																size="mini"
																@click="() => remove(node, data)">
																-
													</el-button>
											</span>
											</span>
											</el-tree>
									</div>
                  <div class="frame_right" scroll="no">
											<h5 class="src_name">资源树详情</h5>
									    <el-from>
											<el-col :xs="23" :sm="23" :md="23" :lg="23" :xl="23" class="searchInline">
												<label class="el-form-item__label searchLabel">资源名称</label>
												<el-input size="small"  placeholder="请输入内容" v-model="tableData[1].children[0].resourcename" clearable>
												</el-input> 
											</el-col>
											<el-col :xs="23" :sm="23" :md="23" :lg="23" :xl="23" class="searchInline">
												<label class="el-form-item__label searchLabel">资源描述</label>
												<el-input size="small"  placeholder="请输入内容" v-model="tableData[1].children[0].resourceinfo" clearable></el-input>
											</el-col>
											<el-col :xs="23" :sm="23" :md="23" :lg="23" :xl="23" class="searchInline">
												<label class="el-form-item__label searchLabel">父资源</label>
												<el-input size="small"  placeholder="请输入内容" v-model=" tableData[1].children[0].url" clearable></el-input>
											</el-col>
											<el-col :xs="23" :sm="23" :md="23" :lg="23" :xl="23" class="searchInline">
												<label class="el-form-item__label searchLabel">顺序</label>
												<el-input size="small"  placeholder="请输入内容" v-model=" tableData[1].children[0].resourceid" clearable></el-input>
											</el-col>
											<el-col :xs="23" :sm="23" :md="23" :lg="23" :xl="23" class="searchInline">
												<label class="el-form-item__label searchLabel">图标地址</label>
												<el-input size="small"  placeholder="请输入内容" v-model=" tableData[1].children[0].icon" clearable></el-input>
											</el-col>
											<el-col :xs="23" :sm="23" :md="23" :lg="23" :xl="23" class="searchInline">
												<label class="el-form-item__label searchLabel">资源类型</label>
												<el-input size="small" placeholder="请输入内容" v-model=" tableData[1].children[0].type" clearable></el-input>
											</el-col>
											<el-col :xs="23" :sm="23" :md="23" :lg="23" :xl="23" class="searchInline">
												<label class="el-form-item__label searchLabel">创建人</label>
												<el-input size="small"  placeholder="请输入内容" v-model=" tableData[1].children[0].url" clearable></el-input>
											</el-col>
											<el-col :xs="23" :sm="23" :md="23" :lg="23" :xl="23" class="searchInline">
												<label class="el-form-item__label searchLabel">创建时间</label>
												<el-input size="small"  placeholder="请输入内容" v-model=" tableData[1].children[0].url" clearable></el-input>
											</el-col>
											<el-col :xs="23" :sm="23" :md="23" :lg="23" :xl="23" class="searchInline">
												<label class="el-form-item__label searchLabel">修改人</label>
												<el-input size="small"  placeholder="请输入内容" v-model=" tableData[1].children[0].url" clearable></el-input>
											</el-col>
											<el-col :xs="23" :sm="23" :md="23" :lg="23" :xl="23" class="searchInline">
												<label class="el-form-item__label searchLabel">修改时间</label>
												<el-input size="small"  placeholder="请输入内容" v-model=" tableData[1].children[0].url" clearable></el-input>
											</el-col>
										</el-from>	
									</div>
								</div>
			    	</div>
		    	</div>
				</div>
				
</body>

	<script src="../../static/js/lib.js" ></script>
  <script src="../../static/js/menu.js" ></script>
	<script src="../../static/js/system/resource.js"></script>

	<script>
			let id = 1000;
			new Vue({ 

			  data() {
				const data = [{
				  id: 1,
				  label: '一级 1',
				  children: [{
					id: 4,
					label: '二级 1-1',
					children: [{
					  id: 9,
					  label: '三级 1-1-1'
					}, {
					  id: 10,
					  label: '三级 1-1-2'
					}]
				  }]
				}, {
				  id: 2,
				  label: '一级 2',
				  children: [{
					id: 5,
					label: '二级 2-1'
				  }, {
					id: 6,
					label: '二级 2-2'
				  }]
				}, {
				  id: 3,
				  label: '一级 3',
				  children: [{
					id: 7,
					label: '二级 3-1'
				  }, {
					id: 8,
					label: '二级 3-2'
				  }]
				}];
				return {
				  data4: JSON.parse(JSON.stringify(data)),
				  data5: JSON.parse(JSON.stringify(data))
				}
			  },
		  
			  methods: {
				append(data) {
				  const newChild = { id: id++, label: 'testtest', children: [] };
				  if (!data.children) {
					this.$set(data, 'children', []);
				  }
				  data.children.push(newChild);
				},
		  
				remove(node, data) {
				  const parent = node.parent;
				  const children = parent.data.children || parent.data;
				  const index = children.findIndex(d => d.id === data.id);
				  children.splice(index, 1);
				},
		  
				renderContent(h, { node, data, store }) {
				  return (
					<span class="custom-tree-node">
					  <span>{node.label}</span>
					  <span>
						<el-button size="mini" type="text" on-click={ () => this.append(data) }>Append</el-button>
						<el-button size="mini" type="text" on-click={ () => this.remove(node, data) }>Delete</el-button>
					  </span>
					</span>);
				}
			  }
			});
		  </script>

</html>