<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
		<link rel="stylesheet" type="text/css" href="../../static/css/lib.css"> 
		<!-- <link rel="stylesheet" type="text/css" href="."> -->
	</head>
	<body class="fw f14 main-index-body">
		<div id="header_box"></div>
        <div class="left-sidebar">
            <a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
            <div id="menu-box">
                <big-tree default-active="23"></big-tree>
            </div>
        </div>
        <div id="app">
            <div class="main-box">
				<div class="main-container">
					<div id="lib :: main_container_header('资源管理','资源管理')"></div>
                    <div class="tree">
						<el-tree :data="data" :props="defaultProps" @node-click="handleNodeClick" style="width:200px;">
                            
						</el-tree>
					</div>
                    <div class="res_in">
						  <span>资源名称</span>
						  <el-input style="width:410px;"></el-input>
						  <span>资源描述</span>
						  <el-input style="width:450px;"></el-input>
						  <span>父资源</span>
						  <el-input style="width:430px;"></el-input>
						  <span>顺序</span>
						  <el-input style="width:480px;"></el-input>
						  <span>图标地址</span>
						  <el-input style="width:410px;"></el-input>
						  <span>资源类型</span>
						  <el-input style="width:450px;"></el-input>
						  <span>创建人</span>
						  <el-input style="width:410px;"></el-input>
						  <span>创建时间</span>
						  <el-input style="width:470px;"></el-input>
						  <span>修改人</span>
						  <el-input style="width:410px;"></el-input>
						  <span>修改时间</span>
						  <el-input style="width:450px;"></el-input>
						
					</div>
					<!-- <div id="tableView" style="position:fixed;left:600px; ">
						<el-row> 
						  	<el-form  label-width="70px" :inline="true" class="el-form demo-form-inline" :model="searchForm">
								 <el-form-item label="资源名称">
									<el-input size="mini" style="width: 300px;" placeholder="/user/add"></el-input>
								 </el-form-item>            
								 <el-form-item label="资源描述">  
									<el-input size="mini" style="width: 300px;"></el-input>
								 </el-form-item>				   
								 <el-form-item label="父		资		源">  
									<el-input size="mini" style="width: 300px;"></el-input>
								 </el-form-item>
								 <el-form-item label="顺		序">  
									<el-input size="mini" style="width: 300px;"></el-input>
								 </el-form-item>
								 <el-form-item label="图标地址">  
									<el-input size="mini" style="width: 300px;"></el-input>
								 </el-form-item>
								 <el-form-item label="资源类型">  
									<el-input size="mini" style="width: 300px;"></el-input>
								 </el-form-item>
								 <el-form-item label="创	建	人">  
									<el-input size="mini" style="width: 300px;"></el-input>
								 </el-form-item>
								 <el-form-item label="创建时间" class="right-search" style="width: 300px;"> 
									 <el-date-picker type="date" @change="begindateChange" format="yyyy-MM-dd"
									 value-format="yyyy-MM-dd" size="mini" v-model="searchForm.begintime" placeholder="创建时间" style="width: 170px"></el-date-picker>
								 </el-form-item>
								 <el-form-item label="修	改	人">  
									<el-input size="mini" style="width: 300px;"></el-input>
								 </el-form-item>
								 <el-form-item label="修改时间" class="right-search" style="width: 300px;"> 
									 <el-date-picker type="date" @change="begindateChange" format="yyyy-MM-dd"
									 value-format="yyyy-MM-dd" size="mini" v-model="searchForm.begintime" placeholder="创建时间" style="width: 170px"></el-date-picker>
								 </el-form-item>
							</el-form>
						</el-row> 
						    自定义节点 
						<el-button >添加顶级节点</el-button>
					</div> -->

				</div>
				<!-- main-container -->
			</div>
        </div>
    </body>
	<script src="../../static/js/lib.js" ></script>
    <script src="../../static/js/menu.js" ></script>
	<script src="../../static/js/system/resource.js"></script>
	
</html>