<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
    <title>角色管理</title>
</head>

<body class="fw f14 main-index-body">
    <div id="header_box"></div>
    <div class="left-sidebar">
        <a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
        <input type="hidden" id="activeIndex"/>
        <div id="menu-box">
            <big-tree default-active=""></big-tree>
        </div>
    </div>
    <div id="app">
        <div class="main-box">
            <div class="main-container" v-loading="loading" element-loading-text="加载中">
                <div id="lib :: main_container_header('角色管理','角色管理')"></div>
                <!-- 面包屑 -->
                <div id="breadcrumb_box"></div>
                <div id="tableView">
                    <el-row>
                        <el-form label-width="65px" :inline="true" class="el-form demo-form-inline" v-model="searchForm">
                            <el-row>
                                <el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">&nbsp;</el-col>
                                <el-col :xs="9" :sm="9" :md="9" :lg="9" :xl="9" class="searchInline">
                                    <label class="el-form-item__label searchLabel">角色描述</label>
                                    <el-select size="small" v-model="searchForm.rolename" placeholder="全部" class="searchSelect" clearable>
                                        <el-option v-for="role in allRoles" :label="role.roleinfo" :value="role.rolename" :key="role.rolename"></el-option>
                                    </el-select>
                                </el-col>
                                <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                <el-col :xs="9" :sm="9" :md="9" :lg="9" :xl="9" class="searchInline">
                                    <label class="el-form-item__label searchLabel">创建时间</label>
                                    <el-date-picker
                                        type="daterange"
                                        @change="dateChange"
                                        format="yyyy/MM/dd"
                                        value-format="yyyy/MM/dd"
                                        size="small" 
                                        v-model="searchForm.createTime"
                                        range-separator="至"
                                        placeholder="创建时间"
                                        start-placeholder="开始日期"
                                        end-placeholder="结束日期"
                                        class="searchDatePicker">
                                    </el-date-picker>
                                </el-col>
                                <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                            </el-row>
                            <div>
                                <el-form>
                                    <el-col :span="12" class="btnEditDelete">
                                        <el-form-item align="left">
                                            <el-button type="primary" icon="edit" size="small" @click="editClick">修改</el-button>
                                            <el-button type="danger" icon="delete2" size="small" @click="removeSelection">删除</el-button>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12"></el-col>
                                    <el-col :span="12" class="btnSearchPlus">
                                        <el-form-item>
                                            <el-button type="primary" icon="search" size="small" @click="searchClick">查询</el-button>
                                            <el-button type="success" icon="plus" size="small" @click="addClick">新增</el-button>
                                        </el-form-item>
                                    </el-col>
                                </el-form>
                            </div>
                        </el-form>
                    </el-row>

                    <div class="table_container">
                        <el-table class="tableStyle" border id="table" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
                            @selection-change="selectionChange" :height="tableheight">

                            <el-table-column type="selection" min-width="5%"></el-table-column>
                            <el-table-column type="index" show-overflow-tooltip label="序号" width="65" align="center"></el-table-column>
                            <el-table-column prop="rolename" show-overflow-tooltip label="角色名称" min-width="12%" align="center" :formatter="dataFormat"></el-table-column>
                            <el-table-column prop="roleinfo" show-overflow-tooltip label="角色描述" min-width="15%" align="center":formatter="dataFormat"></el-table-column>
                            <el-table-column prop="createName" show-overflow-tooltip label="创建人" min-width="12%" align="center":formatter="dataFormat"></el-table-column>
                            <el-table-column prop="createTime" show-overflow-tooltip label="创建时间" min-width="13%" align="center" :formatter="dateFormat"></el-table-column>
                            <el-table-column prop="alterName" show-overflow-tooltip label="修改人" min-width="12%" align="center":formatter="dataFormat"></el-table-column>
                            <el-table-column prop="alterTime" show-overflow-tooltip label="修改时间" min-width="13%" align="center" :formatter="dateFormat"></el-table-column>
                            <el-table-column prop="resource" show-overflow-tooltip label="资源" min-width="13%" align="center">
                                <template slot-scope="scope">
                                    <el-button type="text" @click="resourceDetails(scope.row.roleid)">查看详情</el-button>
                                </template>
                            </el-table-column>
                        </el-table>

                        <!--列表底部工具条和分页符-->
                        <el-row type="flex" justify="end">
                            <el-col :span="18">
                                <el-pagination @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage"
                                    :page-sizes="[10, 20, 30, 50]" :page-size="pageSize" layout="total, prev, pager, next, jumper"
                                    :total=parseInt(total)>
                                </el-pagination>
                            </el-col>
                        </el-row>
                    </div>
                    <!--详情界面-->
                    <el-dialog title="角色资源列表" :visible.sync="resourceVisible" @close="closeresourceDialog()" :close-on-click-modal="false">
                        <el-tree :data="resourceList" node-key="resourceid" :default-expanded-keys="['17']" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
                    </el-dialog>

                    <!--新建界面-->
                    <el-dialog title="新增角色" :visible.sync="addFormVisible" @close="closeDialog(addForm)" :close-on-click-modal="false">
                        <el-form :model="addForm" label-width="80px" :rules="addFormRules" ref="addForm">
                            <el-row>
                                <el-col :span="8">
                                    <el-form-item label="角色名称" prop="rolename">
                                        <el-input class="addEditFormInput" v-model="addForm.rolename" auto-complete="off" placeholder="角色名称"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="4">&nbsp;</el-col>
                                <el-col :span="8">
                                    <el-form-item label="角色描述" prop="roleinfo">
                                        <el-input class="addEditFormInput" v-model="addForm.roleinfo" auto-complete="off" placeholder="角色描述"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="22">
                                    <el-form-item label="资源列表">
                                        <el-tree :props="defaultProps" :data="allResourceList" node-key="resourceid" ref="tree" highlight-current :default-expanded-keys="defaultKeys"
                                            @node-click="handleNodeClick" show-checkbox>
                                        </el-tree>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click.native="closeDialog(addForm)">取消</el-button>
                            <el-button type="primary" @click.native="addSubmit(addForm)">提交</el-button>
                        </div>
                    </el-dialog>

                    <!--修改界面-->
                    <el-dialog title="修改角色" :visible.sync="editFormVisible" :close-on-click-modal="false">
                        <el-form :model="editForm" label-width="80px" :rules="editFormRules" ref="editForm">
                            <el-row>
                                <el-col :span="8">
                                    <el-form-item label="角色名称" prop="rolename">
                                        <el-input class="addEditFormInput" v-model="editForm.rolename" auto-complete="off" placeholder="角色名称"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="4">&nbsp;</el-col>
                                <el-col :span="8">
                                    <el-form-item label="角色描述" prop="roleinfo">
                                        <el-input class="addEditFormInput" v-model="editForm.roleinfo" auto-complete="off" placeholder="角色描述"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="22">
                                    <el-form-item label="资源列表">
                                        <el-tree :props="defaultProps" :data="allResourceList" node-key="resourceid" ref="tree" highlight-current :default-expanded-keys="defaultKeys"
                                            :default-checked-keys="defaultCheckKeys" @node-click="handleNodeClick" show-checkbox>
                                        </el-tree>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click.native="editFormVisible = false">取消</el-button>
                            <el-button type="primary" @click.native="editSubmit(editForm)">提交</el-button>
                        </div>
                    </el-dialog>
                </div>
            </div>
            <!-- main-container -->
        </div>
    </div>
</body>
<script src="../../static/js/lib.js"></script>
<script src="../../static/js/system/role.js"></script>
<script src="../../static/js/menu.js"></script>
<script>
</script>

</html>