<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
        <title>角色管理</title>    
    </head>
	<body class="fw f14 main-index-body">
		<div id="header_box"></div>
		<div class="left-sidebar">
            <a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
            <div id="menu-box">
                <big-tree default-active="22"></big-tree>
            </div>
        </div>
        <div id="app">
            <div class="main-box">
                <div class="main-container">
                    <div id="lib :: main_container_header('角色管理','角色管理')"></div>
                    <div id="tableView">
                        <el-row> 
                            <el-form  label-width="70px" :inline="true" class="el-form demo-form-inline"  :model="searchForm">                           
                                <el-row type="flex" justify="center">
                                        <el-col :span="10">
                                            <el-form-item label="角色描述">  
                                                <el-select size="small" v-model="searchForm.roleinfo" placeholder="角色描述" class="inputWidth">  
                                                    <el-option label="普通用户" value="普通员工"></el-option> 
                                                    <el-option label="管理员" value="管理员"></el-option>  
                                                    <el-option label="辽宁省" value="辽宁省"></el-option> 
                                                    <el-option label="山东省" value="山东省"></el-option> 
                                                </el-select>  
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="2">&nbsp;</el-col>
                                        <el-col :span="12">
                                            <el-form-item label="创建时间">
                                                <el-date-picker type="date" @change="begindateChange" format="yyyy-MM-dd"
                                                value-format="yyyy-MM-dd" size="small" v-model="searchForm.begintime" placeholder="开始时间" class="dateInputWidth"></el-date-picker>
                                                ~
                                                <el-date-picker type="date" @change="enddateChange" format="yyyy-MM-dd"
                                                value-format="yyyy-MM-dd" size="small" v-model="searchForm.endtime" placeholder="结束时间" class="dateInputWidth"></el-date-picker>
                                            </el-form-item>
                                        </el-col>
                                </el-row> 
                                <div>
                                    <el-form>
                                        <el-col :span="12" class="btnEditDelete">
                                            <el-form-item align="left">  
                                                <el-button type="primary" icon="edit" size="small" @click="editClick">修改</el-button>  
                                                <el-button type="danger" icon="delete" size="small" @click="removeSelection">删除</el-button>  
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12"></el-col>
                                        <el-col :span="12" class="btnSearchPlus">
                                            <el-form-item>  
                                                <el-button type="primary" icon="search" size="small" @click="searchClick">查询</el-button>  
                                                <el-button type="success" icon="plus" size="small" @click="addClick">新增</el-button>  
                                            </el-form-item>
                                        </el-col>
                                    </el-form>
                                </div>
                            </el-form>
                        </el-row> 


                        
                        <div class="table_container">
                            <el-table
                                    border
                                    id="table"
                                    :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
                                    v-loading.body="loading"  
                                    @selection-change="selectionChange"  
                                    class="tableStyle"
                                    :height="tableheight"
                                    >
                
                                <el-table-column  
                                type="selection"  
                                min-width="5%">  
                                </el-table-column>
                                <el-table-column 
                                    type="index" 
                                    label="序号"
                                    width="65"
                                    align="center">
                                </el-table-column>
                                <el-table-column  
                                    prop="rolename"  
                                    label="角色名称"  
                                    min-width="11%"
                                    align="center">  
                                </el-table-column>  
                                <el-table-column  
                                    prop="roleinfo"  
                                    label="角色描述"  
                                    min-width="12%"
                                    align="center">  
                                </el-table-column>  
                                <el-table-column  
                                    prop="create_name"  
                                    label="创建人" 
                                    min-width="12%"
                                    align="center">  
                                </el-table-column> 
                                <el-table-column  
                                    prop="create_time"  
                                    label="创建时间"  
                                    min-width="13%"
                                    align="center">  
                                </el-table-column>  
                                <el-table-column  
                                    prop="alter_name"  
                                    label="修改人"  
                                    min-width="14%"
                                    align="center">  
                                </el-table-column>  
                                <el-table-column  
                                    prop="alter_time"  
                                    label="修改时间"  
                                    min-width="13%"
                                    align="center">  
                                </el-table-column>
                                <el-table-column  
                                    prop="role"  
                                    label="资源列表"  
                                    min-width="13%"
                                    align="center">
                                    <template slot-scope="scope">  
                                            <el-button type="text" @click="openResourceList(scope.row.resource)">查看详情</el-button>
                                    </template>	  
                                </el-table-column>
                                <!-- <el-table-column  
                                    label="操作"
                                    width="120"
                                    >  
                                    <template slot-scope="scope">  
                                        <el-button :plain="true" type="success" size="small" icon="edit" @click="editClick(scope.$index, scope.row)">编辑</el-button>  
                                        <el-button :plain="true" type="danger" size="small" icon="delete" @click="deleteClick(scope.$index, scope.row)">删除</el-button>
                                    </template>  
                                </el-table-column>        -->
                            </el-table>
                        
                                <!---->
                                <!---->
                        


                        <!--列表底部工具条和分页符-->  
                        <el-row type="flex" justify="end">   
                                <el-col :span="18" >  
                                    <el-pagination  
                                            @size-change="pageSizeChange"  
                                            @current-change="currentPageChange"  
                                            :current-page="currentPage"  
                                            :page-sizes="[10, 20, 30, 50]"  
                                            :page-size="pageSize"  
                                            layout="total, sizes, prev, pager, next, jumper"  
                                            :total=parseInt(total)>  
                                    </el-pagination>  
                                </el-col>  
                            </el-row> 
                        </div>
                            <!--详情界面-->  
                            <el-dialog title="资源列表" :visible.sync="resourceVisible" @close="closeresourceDialog()" :close-on-click-modal="false">
                                <el-tree :data="resourceList" node-key="id" :default-expanded-keys="[1]" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
                            </el-dialog> 
                            <!--新建界面-->  
                            <el-dialog title="新建用户" :visible.sync="addFormVisible" @close="closeDialog(addForm)" :close-on-click-modal="false">  
                                <el-form :model="addForm" label-width="80px" :rules="addFormRules" ref="addForm">
                                    <el-row>
                                        <el-col :span="8">            
                                            <el-form-item label="角色名称" prop="rolename">  
                                            <el-input v-model="addForm.rolename" auto-complete="off" placeholder="角色名称" class="addEditFormInput"></el-input>  
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="4">&nbsp;</el-col>
                                        <el-col :span="8">            
                                            <el-form-item label="角色描述" prop="roleinfo">  
                                            <el-input v-model="addForm.roleinfo" auto-complete="off" placeholder="角色描述" class="addEditFormInput"></el-input>  
                                            </el-form-item>
                                        </el-col>
                                    </el-row> 
                                    <el-row>
                                        <el-form-item label="资源列表"> 
                                            <el-tree
                                            :props="defaultProps"
                                            :data="allResourceList"
                                            node-key="id"
                                            ref="tree"
                                            highlight-current
                                            :default-expanded-keys="[1]"
                                            @node-click="handleNodeClick"
                                            show-checkbox>
                                            </el-tree>
                                        </el-form-item>
                                    </el-row>
                                </el-form>  
                                <div slot="footer" class="dialog-footer">  
                                    <el-button @click.native="closeDialog(addForm)">取消</el-button>  
                                    <el-button type="primary" @click.native="addSubmit(addForm)">提交</el-button>  
                                </div>  
                            </el-dialog> 

                            <!--修改界面-->  
                            <el-dialog title="修改" :visible.sync="editFormVisible" :close-on-click-modal="false">  
                            <el-form :model="editForm" label-width="80px" :rules="editFormRules" ref="editForm">
                                <el-row>
                                    <el-col :span="8">            
                                        <el-form-item label="角色名称" prop="rolename">  
                                        <el-input v-model="editForm.rolename" auto-complete="off" placeholder="角色名称" class="addEditFormInput"></el-input>  
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="4">&nbsp;</el-col>
                                    <el-col :span="8">            
                                        <el-form-item label="角色描述" prop="roleinfo">  
                                        <el-input v-model="editForm.roleinfo" auto-complete="off" placeholder="角色描述" class="addEditFormInput"></el-input>  
                                        </el-form-item>
                                    </el-col>
                                </el-row> 
                                <el-row>
                                    <el-form-item label="资源列表"> 
                                        <el-tree
                                        :props="defaultProps"
                                        :data="allResourceList"
                                        node-key="id"
                                        ref="tree"
                                        highlight-current
                                        :default-expanded-keys="[1]"
                                        @node-click="handleNodeClick"
                                        show-checkbox>
                                        </el-tree>
                                    </el-form-item>
                                </el-row>
                            </el-form>  
                    <div slot="footer" class="dialog-footer">  
                        <el-button @click.native="editFormVisible = false">取消</el-button>  
                        <el-button type="primary" @click.native="editSubmit(editForm)">提交</el-button>  
                    </div>  
                </el-dialog> 
                    </div>
                </div>
                <!-- main-container -->
            </div>
        </div>
    </body>
    <script src="../../static/js/lib.js" ></script>
    <script src="../../static/js/menu.js" ></script>
    <script src="../../static/js/system/role.js" ></script>
    <script>
    </script>
</html>