@charset "utf-8";
/****************
 * @description : css reset
 * @author   : db
 * @date     : 2018-01-19
 ****************/
/*css reset*/
html{overflow:hidden;height:100%;}
body{height:100%;overflow:hidden;}
.navbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:50px;
}
.left-sidebar {
    position: absolute;
    bottom: 0px;
}
.table_container{
    border: 1px solid #eee;
    border-radius:2px;
}
.table-title{
    background-color: #eee;
    color: #409EFF;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.addForm{
    width: 124px;
}
.el-form-item__error{
    line-height: 0;
    padding-top: 0px;
}
.dtdlStyle{
    display: inline;
    margin-left: 15px;
}
.inform-left{
    display: inline;
}
.inform-right{
    display: inline;
}
.inform-text{
    width: 470px;
}
.inform-margin{
    margin-top: 15px;
    /* width: 470px; */
}
.margin-left{
    margin-top: 15px;
    margin-left: 65px;
}
/*.single-search-left{

}
.double-search-left{
  
}*/

.companyStatus {
	padding: 0px 5px;
	display: none;
	color: #fff;
	border-radius: 3px;
	font-size: 14px;
	text-align: center;
	line-height: 24px;
	margin: 0 7px 0 15px; 
	display: inline-block;
	position: relative;
	top:-3px;
    font-weight: normal !important;
    background-color: rgb(67, 149, 225);
	/*text-overflow: ellipsis;    */
	/*overflow: hidden; */
	/*white-space: nowrap; */
	/*line-height: 1.4;*/
}
.inform-h3{
    font-weight: bold;
    color: rgb(78, 78, 78);
    margin-top: 0px !important;
}
#zhanshi{
    width:44px;
}
.inputWidth{
    width: 300px;
}
.dateInputWidth{
    width: 196px;
}
.btnEditDelete{
    text-align: left;
}
.btnSearchPlus{
    text-align: right;
}
.tableStyle{
    width: 100%;
}
.el-pagination{
    float: right !important;
}
.addEditFormInput{
    width:180px;
}
#basic-Inform-Title{
    /* margin-left: 5%; */
    margin-left: 25px;
    /* float: right; */
    max-width: 650px;
}
#basic-Inform-Picture{
    float: left;
}
.inform-small-title{
    margin-left: 5px;
}
.btnGroup{
    float: right;
}
.inform-div{
    display: inline-flex;
}
.left-inform{
    width:460px;
}
.right-inform{
    width:400px;
}
.inform-download-display{
    display: none;
}
.inform-download-cursor{
    cursor:pointer;
    margin-left:0px !important
}
.el-loading-mask{
    z-index: 8;
}
.searchLabel{
    width: 150px; 
    vertical-align: middle; 
    line-height: 8px;
}
.searchSelect{
    width: 100%;
}
.searchDate{
    width: 48% !important;
}
.tilde{
    line-height: 26px;
}
.el-table__body-wrapper{
    overflow: hidden;
}
.searchDatePicker{
    width: 100% !important;
}
.el-input__icon{
    height: 82%;
}
.danger_icon{
    margin-top: -1px;
}
.detail_margin{
    margin-top: 5px;
}
.detail_picture_size{
    width: 120px;
    height: 120px;
}
.card_style{
    margin-bottom:12px;
    background-color:#F5FAFC;
    width: 100%
}
.card_title_font{
    font-size:14px;
}
.card_sytitle_font{
    font-size:12px;
}
.detailTable td,.detailTable th{
    height: 25px;
}
.detailTable{
    margin-top: 10px;
    margin-bottom: 20px;
}
.el-card__header {
    padding: 13px 15px;
}
.detailPic {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.nameBoxPic {
	background-color: #fff;
	border: 5px solid #ccc;
	/* margin-top: 15px; */
	padding: 20px 25px 20px 25px;
    box-shadow: 2px 3px 5px #ccc;
    position:relative;
}
.dibPic {
    margin-left: 15%
}
.el-form-item{
    margin-bottom: 10px;
}
.el-message{
    margin-top: 3%;
}