.sync-left {
    /* float: left;*/
     left: 0;
     width: 160px;
     height: 100%;
     border: 1px solid #330066;
   }
   .sync-main {
     float: right;
     width: 1040px;
     height: 100%;
     margin: 0;
     background-size: 100% 100%;
   }
   .sync-box {
     width: 100%;
     height: 120px;
     border-bottom: 1px solid #330066;
   }
   .sync-contain {
     width: 100px;
     height: 120px;
   }
   .sync-icon {
     margin: 20px;
     margin-top: 20px;
   }
   .sync-lebal {
     position: relative;
     left: 10px;
     top: -25px;
     color: #77bafe;
     font-family: "微软雅黑";
     
   }
   .sync-txts-normal {
     float: left;
     font-family: "微软雅黑";
     font-size: 40px;
     color: #00ffff;
     margin-left: 100px;
     margin-top: -90px
   }
   .sync-txts-attention  {
     float: left;
     font-family: "微软雅黑";
     font-size: 40px;
     color: #f9885c;
     margin-left: 100px;
     margin-top: -90px
   }
   
   .sync-province-box02 {
     float: left;
     width: 100px;
     height: 100px;
     position: fixed;
     border: 2px solid #D2ECFF;
     border-radius:1000px;
     box-shadow:0px 0px 2px 2px #abcdef;
     background-color: #000066;
   }
   .sync-province-box {
     float: left;
     width: 80px;
     height: 80px;
     position: fixed;
   }
   
   .sync-province-box00{
       float: left;
     width: 50px;
     height: 80px;
     position: fixed;
   }
   .sync-province-box0 {
     float: left;
     width: 360px;
     height: 80px;
     position: fixed;
   }
   
   .sync-province-icon01{
     width: 48px;
     height: 48px;
     margin: 16px;
     margin-top: 16px;
     background-image: url(../images/xf-logo_01.png);
     background-size: 48px 48px;
   }
   .sync-province-icon0{
     width: 48px;
     height: 48px;
     margin: 16px;
     margin-top: 16px;
     background-image: url(../images/LOGO3_1.png);
     background-size: 48px 48px;
   }
   
   
   
   .sync-province-icon {
     width: 48px;
     height: 48px;
     margin: 16px;
     margin-top: 16px;
     background-image: url("../images/sync-fwjd.png");
     background-size: 48px 48px;
   }
   .sync-province-icon2 {
     width: 48px;
     height: 48px;
     margin: 16px;
     margin-top: 16px;
     background-image: url("../images/sync-gzjd.png");
     background-size: 48px 48px;
   }
   .sync-province-lebal02{
       position: relative;
       font-size: 24px;
       top:15px;
       color: #FFFFFF;
       font-family: "微软雅黑";
       
      
   }
   .sync-province-lebal0{
       position: relative;
       font-size: 24px;
       top: -26px;
       color: #FFFFFF;
       font-family: "微软雅黑";
      
   }
   .sync-province-lebal00{
       position: relative;
       font-size: 24px;
       top: -26px;
       color: #FFFFFF;
       font-family: "微软雅黑";
      
   }
   .sync-province-lebal {
       position: relative;
       font-size: 13px;
       top: -26px;
       color: #77bafe;
       font-family: "微软雅黑";
   }
   
   #provincetest{
       top: 70px;
       left:30px;
      
   }
   #provincetest1{
       top: 200px;
       left:30px;
   }
   #provincetest2{
       top: 330px;
       left:30px;
   }
   #province0{
       top: 140px;
       left:540px;
   }
   #province01{
       top: 44px;
       left:680px;
   }
   #province02{
       top: 214px;
       left:671px;
   }
   #province03{
       top: 254px;
       left:696px;
   }
   #province1 {
       top: 144px;
       left: 257px;
   }
   #province2 {
       top: 182px;
       left: 397px;
   }
   #province3 {
       top: 217px;
       left: 257px;
   }
   #province4 {
       top: 251px;
       left: 397px;
   }
   #province5 {
       top: 289px;
       left: 257px;
   }
   #province6 {
       top: 144px;
       left: 1108px;
   }
   #province7 {
       top: 182px;
       left: 968px;
   }
   #province8 {
       top: 217px;
       left: 1108px;
   }
   #province9 {
       top: 251px;
       left: 968px;
   }
   #province10 {
       top: 289px;
       left: 1108px;
   }
   #province11 {
       top: 346px;
       left: 326px;
   }
   #province12 {
       top: 346px;
       left: 398px;
   }
   #province13 {
       top: 346px;
       left: 469px;
   }
   #province14 {
       top: 346px;
       left: 898px;
   }
   #province15 {
       top: 346px;
       left: 970px;
   }
   #province16 {
       top: 346px;
       left: 1039px;
   }
   #province17 {
       top: 402px;
       left: 398px;
   }
   #province18 {
       top: 402px;
       left: 469px;
   }
   #province19 {
       top: 402px;
       left: 541px;
   }
   #province20 {
       top: 402px;
       left: 611px;
   }
   #province21 {
       top: 402px;
       left: 683px;
   }
   #province22 {
       top: 402px;
       left: 756px;
   }
   #province23 {
       top: 402px;
       left: 826px;
   }
   #province24 {
       top: 402px;
       left: 898px;
   }
   #province25 {
       top: 402px;
       left: 970px;
   }
   #province26 {
       top: 457px;
       left: 327px;
   }
   #province27 {
       top: 457px;
       left: 398px;
   }
   #province28 {
       top: 457px;
       left: 469px;
   }
   #province29 {
       top: 457px;
       left: 898px;
   }
   #province30 {
       top: 457px;
       left: 970px;
   }
   #province31 {
       top: 457px;
       left: 1039px;
   }
   .blink {
       animation:blink 0.5s linear infinite alternate;
   }
   @keyframes blink {
     0% {opacity: 0.4;}
     100% {opacity: 1;}
   }
   
   .line1{
       border: 1px solid #abcdef;
       position: fixed;
       top: 255px;
       left: 318px;
       width: 810px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line2{
       border: 1px solid #abcdef;
       position: fixed;
       top: 375px;
       left: 528px;
       width: 390px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   
   .line3{
       border: 1px solid #abcdef;
       position: fixed;
       top: 485px;
       left: 528px;
       width: 390px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   
   .line4{
       border: 1px solid #abcdef;
       position: fixed;
       top: 175px;
       left: 318px;
       width: 170px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line5{
       border: 1px solid #abcdef;
       position: fixed;
       top: 175px;
       left: 957px;
       width: 170px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line6{
       border: 1px solid #abcdef;
       position: fixed;
       top: 215px;
       left: 458px;
       width: 70px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line7{
       border: 1px solid #abcdef;
       position: fixed;
       top: 215px;
       left: 920px;
       width: 70px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line8{
       border: 1px solid #abcdef;
       position: fixed;
       top: 285px;
       left: 458px;
       width: 70px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line9{
       border: 1px solid #abcdef;
       position: fixed;
       top: 285px;
       left: 920px;
       width: 70px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line10{
       border: 1px solid #abcdef;
       position: fixed;
       top: 325px;
       left: 318px;
       width: 170px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line11{
       border: 1px solid #abcdef;
       position: fixed;
       top: 325px;
       left: 958px;
       width: 169px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line12{
       border: 1px solid #abcdef;
       position: fixed;
       top: 325px;
       left: 957px;
       width: 170px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line13{
       border: 1px solid #abcdef;
       position: fixed;
       top: 375px;
       left: 386px;
       width: 31px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line14{
       border: 1px solid #abcdef;
       position: fixed;
       top: 375px;
       left: 458px;
       width: 31px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line15{
       border: 1px solid #abcdef;
       position: fixed;
       top: 375px;
       left: 958px;
       width: 31px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line16{
       border: 1px solid #abcdef;
       position: fixed;
       top: 375px;
       left: 1028px;
       width: 31px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line17{
       border: 1px solid #abcdef;
       position: fixed;
       top: 435px;
       left: 458px;
       width: 31px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line18{
       border: 1px solid #abcdef;
       position: fixed;
       top: 435px;
       left: 530px;
       width: 31px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line19{
       border: 1px solid #abcdef;
       position: fixed;
       top: 435px;
       left: 602px;
       width: 31px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line20{
       border: 1px solid #abcdef;
       position: fixed;
       top: 435px;
       left: 671px;
       width: 31px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line21{
       border: 1px solid #abcdef;
       position: fixed;
       top: 435px;
       left: 743px;
       width: 31px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line22{
       border: 1px solid #abcdef;
       position: fixed;
       top: 435px;
       left: 815px;
       width: 31px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line23{
       border: 1px solid #abcdef;
       position: fixed;
       top: 435px;
       left: 887px;
       width: 31px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line24{
       border: 1px solid #abcdef;
       position: fixed;
       top: 435px;
       left: 959px;
       width: 31px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line25{
       border: 1px solid #abcdef;
       position: fixed;
       top: 485px;
       left: 386px;
       width: 31px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line26{
       border: 1px solid #abcdef;
       position: fixed;
       top: 485px;
       left: 458px;
       width: 31px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line27{
       border: 1px solid #abcdef;
       position: fixed;
       top: 485px;
       left: 958px;
       width: 31px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line28{
       border: 1px solid #abcdef;
       position: fixed;
       top: 485px;
       left: 1028px;
       width: 31px;
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line29{
       border: 1px solid #abcdef;
       position: fixed;
       top: 360px;
       left: 667px;
       width: 110px;
       display:inline-block; transform: rotate(-90deg);
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line30{
       border: 1px solid #abcdef;
       position: fixed;
       top: 479px;
       left: 715px;
       width: 13px;
       display:inline-block; transform: rotate(-90deg);
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line31{
       border: 1px solid #abcdef;
       position: fixed;
       top: 215px;
       left: 471px;
       width: 113px;
       display:inline-block; transform: rotate(45deg);
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line32{
       border: 1px solid #abcdef;
       position: fixed;
       top: 291px;
       left: 875px;
       width: 98px;
       display:inline-block; transform: rotate(45deg);
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line33{
       border: 1px solid #abcdef;
       position: fixed;
       top: 215px;
       left: 861px;
       width: 113px;
       display:inline-block; transform: rotate(-45deg);
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }
   .line34{
       border: 1px solid #abcdef;
       position: fixed;
       top: 291px;
       left: 474px;
       width: 98px;
       display:inline-block; transform: rotate(-45deg);
       box-shadow:0px 0px 0.5px 0.5px #abcdef;
   }