<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../../static/css/digitalplan/digitalplan.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/auxiliarydecision/danger.css">
	<title>化学危险品查询</title>
</head>
<body class="fw f14 main-index-body">
	<div id="app">
		<div class="main-box">
			<div class="main-container" v-loading="loading" element-loading-text="加载中">
				<div id="danger"></div>
				<!-- 面包屑 -->
				<div id="breadcrumb_box"></div>
				<div id="tableView">
					<el-row>
						<el-form label-width="75px" :inline="true" class="el-form demo-form-inline">
							<el-row>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">中文名</label>
									<el-input size="small" v-model="searchForm.NAME" placeholder="中文名"></el-input>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">英文名</label>
									<el-input size="small" v-model="searchForm.ENGLISH_NAME" placeholder="英文名"></el-input>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">类型</label>
									<el-select size="small" v-model="searchForm.option_LXDM" placeholder="全部" class="searchSelect" clearable>
										<el-option v-for="item in LXDM_data" :key="item.codeName" :label="item.codeName" :value="item.codeValue">
										</el-option>
									</el-select>
								</el-col>
							</el-row>
							<el-row>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">CAS登记号</label>
									<el-input size="small" v-model="searchForm.CAS" placeholder="CAS登记号"></el-input>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">国际危险号</label>
									<el-input size="small" v-model="searchForm.DANGER_ID" placeholder="国际危险号"></el-input>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">分子式</label>
									<el-input size="small" v-model="searchForm.EXPRESSION" placeholder="分子式"></el-input>
								</el-col>
							</el-row>
							<div>
								<el-form>
									<el-col :span="12" class="btnEditDelete">
										<el-form-item align="left">
											<el-button type="success" icon="plus" size="small" @click="addClick">新增</el-button>
											<el-button type="danger" icon="delete" size="small" @click="deleteClick">删除</el-button>  
										</el-form-item>
									</el-col>
									<el-col :span="12"></el-col>
									<el-col :span="12" class="btnSearchPlus">
										<el-form-item>
											<el-button type="primary" icon="search" size="small" @click="searchClick">查询</el-button>
											<el-button type="clear" icon="delete" size="small" @click="clearClick">重置</el-button>
										</el-form-item>
									</el-col>
								</el-form>
							</div>
						</el-form>
					</el-row>

					<div class="table_container">
						<el-table border id="table" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" @selection-change="selectionChange"
						 class="tableStyle" :height="tableheight">
							<el-table-column type="selection" width="45"></el-table-column>
							<el-table-column type="index" show-overflow-tooltip label="序号" width="65" align="center"></el-table-column>
							<el-table-column prop="name" label="中文名" show-overflow-tooltip min-width="18%" align="center">
								<template slot-scope="scope">
									<a @click="detailClick(scope.row)" v-text="scope.row.name"></a>
								</template>
							</el-table-column>
							<el-table-column prop="englishName" label="英文名" show-overflow-tooltip min-width="18%" align="center"></el-table-column>
							<el-table-column prop="dmz" label="类型" show-overflow-tooltip min-width="12%" align="center"></el-table-column>
							<el-table-column prop="cas" label="CAS" show-overflow-tooltip min-width="12%" align="center"></el-table-column>
							<el-table-column prop="dangerId" label="国际危险号" show-overflow-tooltip min-width="12%" align="center"></el-table-column>
							<el-table-column prop="expression" label="分子式" show-overflow-tooltip min-width="10%" align="center"></el-table-column>
							<el-table-column label="操作" min-width="7%" align="center">
                                <template slot-scope="scope">
                                    <el-button type="text" @click="handleEdit(scope.row)">编辑</el-button>
                                </template>
                            </el-table-column>
						</el-table>

						<!--列表底部工具条和分页符-->
						<el-row type="flex" justify="end">
							<el-col :span="18">
								<el-pagination @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage" :page-sizes="[10, 20, 30, 50]"
								 :page-size="pageSize" layout="total, prev, pager, next, jumper" :total=parseInt(total)>
								</el-pagination>
							</el-col>
						</el-row>
					</div>
				</div>
			</div>
			<!-- main-container -->
		</div>
	</div>
</body>
<script src="../../static/js/auxiliarydecision/danger_list.js"></script>
</html>