<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/auxiliarydecision/firecalculation.css">
    <title>火场计算</title>
</head>

<body class="fw f14 main-index-body">
    <div id="header_box"></div>
    <div class="left-sidebar">
        <a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
        <div id="menu-box">
            <big-tree default-active="71"></big-tree>
        </div>
    </div>
    <div id="app">
        <div class="main-box">
            <div class="main-container" v-loading="loading" element-loading-text="加载中">
                <div id="firecalculate"></div>
                <div id="tableView">
                    <el-row>
                        <el-form label-width="70px" :inline="true" class="el-form demo-form-inline" v-model="searchForm">
                            <el-row :gutter="40">
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">公式名称</label>
                                    <el-input size="small" v-model="searchForm.GSMC" placeholder="公式名称"></el-input>
                                </el-col>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">公式类别</label>
                                    <el-select size="small" v-model="searchForm.selected_GSLB" placeholder="公式类别" class="gslbSelect" clearable>
                                        <el-option v-for="item in GSLB_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
                                    </el-select>
                                </el-col>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">是否启用</label>
                                    <el-select size="small" v-model="searchForm.SFQY" placeholder="是否启用" class="gslbSelect" clearable>
                                        <el-option v-for="item in sfqyData" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <div>
                                <el-form>
                                    <el-col :span="12" class="btnEditDelete">
                                        <el-form-item align="left">
                                            <!--<el-button type="primary" icon="edit" size="small" @click="editClick">修改</el-button>-->
                                            <el-button type="success" icon="plus" size="small" @click="addClick">新增</el-button>
                                            <el-button type="danger" icon="delete" size="small" @click="removeSelection">删除</el-button>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12"></el-col>
                                    <el-col :span="12" class="btnSearchPlus">
                                        <el-form-item>
                                            <el-button type="primary" icon="search" size="small" @click="searchClick">查询</el-button>
                                            <el-button type="clear" icon="delete" size="small" @click="clearClick">清空</el-button>
                                        </el-form-item>
                                    </el-col>
                                </el-form>
                            </div>
                        </el-form>
                    </el-row>

                    <div class="table_container">
                        <el-table class="tableStyle" border id="table" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
                            @selection-change="selectionChange" :height="tableheight">

                            <el-table-column type="selection" min-width="5%"></el-table-column>
                            <el-table-column type="index" show-overflow-tooltip label="序号" width="65" align="center"></el-table-column>
                            <el-table-column prop="gsmc" show-overflow-tooltip label="公式名称" min-width="28%" align="center" :formatter="dataFormat">
                                <template slot-scope="scope">
                                    <a @click="calculateDetails(scope.row)">{{scope.row.gsmc}}</a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="lbmc" show-overflow-tooltip label="类别" min-width="10%" align="center":formatter="dataFormat"></el-table-column>
                            <el-table-column prop="gssm" show-overflow-tooltip label="说明" min-width="12%" align="center":formatter="dataFormat"></el-table-column>
                            <el-table-column prop="jsgs" show-overflow-tooltip label="内容" min-width="12%" align="center" :formatter="dataFormat"></el-table-column>
                            <el-table-column prop="jsgsdw" show-overflow-tooltip label="单位" min-width="9%" align="center":formatter="dataFormat"></el-table-column>
                            <el-table-column prop="sfqy" show-overflow-tooltip label="启用/禁用" min-width="11%" align="center">
                                <template slot-scope="scope"> 
                                    <el-switch
                                    v-model="scope.row.sfqy"
                                    active-text="启用"
                                    inactive-text="禁用">
                                    </el-switch>
                                </template>
                            </el-table-column>
                            <el-table-column show-overflow-tooltip label="操作" min-width="11%" align="center">
                                <template slot-scope="scope">
                                    <el-button type="text" @click="editClick(scope.row)">修改</el-button>
                                </template>
                            </el-table-column>
                        </el-table>

                        <!--列表底部工具条和分页符-->
                        <el-row type="flex" justify="end">
                            <el-col :span="18">
                                <el-pagination @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage"
                                    :page-sizes="[10, 20, 30, 50]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper"
                                    :total=parseInt(total)>
                                </el-pagination>
                            </el-col>
                        </el-row>
                    </div>

                    <!--新建界面-->
                    <el-dialog title="新增公式" :visible.sync="addFormVisible" @close="closeDialog(addFormulaForm,addParamForm)" :close-on-click-modal="false">
                        <el-tabs v-model="activeName">
                            <el-tab-pane name="first" label="公式信息">
                                <el-form :model="addFormulaForm" label-width="107px" :rules="addFormRules" ref="addFormulaForm">
                                    <el-row style="margin-top: 5%"> 
                                        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                        <el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
                                            <el-form-item label="公式名称" prop="gsmc">
                                                <el-input v-model="addFormulaForm.gsmc" auto-complete="off" placeholder="公式名称"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                        <el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
                                            <el-form-item label="公式类别" prop="gslb">
                                                <el-select v-model="addFormulaForm.gslb" placeholder="公式类别" clearable>
                                                    <el-option v-for="item in GSLB_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                        <el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
                                            <el-form-item label="公式说明" prop="gssm">
                                                <el-input v-model="addFormulaForm.gssm" auto-complete="off" placeholder="公式说明"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                        <el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
                                            <el-form-item label="计算公式" prop="jsgs">
                                                <el-input v-model="addFormulaForm.jsgs" auto-complete="off" placeholder="计算公式"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                        <el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
                                            <el-form-item label="计算公式单位" prop="jsgsdw">
                                                <el-input v-model="addFormulaForm.jsgsdw" auto-complete="off" placeholder="计算公式单位"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane name="second" label="参数信息">
                                <el-form class="paramForm" :model="addParamForm" :rules="addFormRules" ref="addParamForm">
                                    <el-form-item
                                        v-for="(domain, index) in addParamForm.domains"
                                        :key="domain.key"
                                        :prop="['domains.' + index + '.csmc','domains.' + index + '.jldw','domains.' + index + '.mrz']"
                                        :rules="{
                                        required: true, message: '域名不能为空', trigger: 'blur'
                                        }"
                                    >
                                        <label class="el-form-item__label" style="float:none !important;">参数名称</label><el-input v-model="domain.csmc" style="width: 99px"></el-input>
                                        <label class="el-form-item__label" style="float:none !important;display: none">参数类型</label><el-input v-model="domain.value" style="width: 50px;display: none"></el-input>
                                        <label class="el-form-item__label" style="float:none !important;display: none">顺序号</label><el-input v-model="index" style="width: 50px;display: none"></el-input>
                                        <label class="el-form-item__label" style="float:none !important;">计量单位</label><el-input v-model="domain.jldwdm" style="width: 99px"></el-input>
                                        <label class="el-form-item__label" style="float:none !important;">默认值</label><el-input v-model="domain.mrz" style="width: 99px"></el-input>
                                        <el-button type="danger" icon="delete" @click.prevent="removeAddDomain(domain)" class="is-circle"></el-button>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="success" @click="addDomain">新增参数</el-button>
                                    </el-form-item>
                                </el-form>
                            </el-tab-pane>
                        </el-tabs>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click.native="closeDialog(addFormulaForm,addParamForm)">取消</el-button>
                            <el-button type="primary" @click.native="addSubmit(addFormulaForm,addParamForm)">提交</el-button>
                        </div>
                    </el-dialog>

                    <!--修改界面-->
                    <el-dialog title="修改公式" :visible.sync="editFormVisible" :close-on-click-modal="false">
                        <el-tabs v-model="activeName">
                            <el-tab-pane name="first" label="公式信息">
                                <el-form :model="editFormulaForm" label-width="107px" :rules="editFormRules" ref="editFormulaForm">
                                    <el-row style="margin-top: 5%"> 
                                        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                        <el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
                                            <el-form-item label="公式名称" prop="gsmc">
                                                <el-input v-model="editFormulaForm.gsmc" auto-complete="off" placeholder="公式名称"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                        <el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
                                            <el-form-item label="公式类别">
                                                <el-select v-model="editFormulaForm.gslb" placeholder="公式类别" clearable>
                                                    <el-option v-for="item in GSLB_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                        <el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
                                            <el-form-item label="公式说明" prop="gssm">
                                                <el-input v-model="editFormulaForm.gssm" auto-complete="off" placeholder="公式说明"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                        <el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
                                            <el-form-item label="计算公式" prop="jsgs">
                                                <el-input v-model="editFormulaForm.jsgs" auto-complete="off" placeholder="计算公式"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                        <el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20">
                                            <el-form-item label="计算公式单位" prop="jsgsdw">
                                                <el-input v-model="editFormulaForm.jsgsdw" auto-complete="off" placeholder="计算公式单位"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane name="second" label="参数信息">
                                <el-form class="paramForm" :model="editParamForm" :rules="editFormRules" ref="editParamForm">
                                    <el-form-item
                                        v-for="(domain, index) in editParamForm.domains"
                                        :key="domain.key"
                                        :prop="['domains.' + index + '.csmc','domains.' + index + '.jldw','domains.' + index + '.mrz']"
                                        :rules="{
                                        required: true, message: '域名不能为空', trigger: 'blur'
                                        }"
                                    >
                                    <label class="el-form-item__label" style="float:none !important;">参数名称</label><el-input v-model="domain.csmc" style="width: 99px"></el-input>
                                    <label class="el-form-item__label" style="float:none !important;display: none">参数类型</label><el-input v-model="domain.value" style="width: 50px;display: none"></el-input>
                                    <label class="el-form-item__label" style="float:none !important;">计量单位</label><el-input v-model="domain.jldwdm" style="width: 99px"></el-input>
                                    <label class="el-form-item__label" style="float:none !important;">默认值</label><el-input v-model="domain.mrz" style="width: 99px"></el-input>
                                    <el-button type="danger" icon="delete" @click.prevent="removeEditDomain(domain)" class="is-circle"></el-button>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-button type="success" @click="editDomain">新增参数</el-button>
                                    </el-form-item>
                                </el-form>
                            </el-tab-pane>
                        </el-tabs>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click.native="editFormVisible = false">取消</el-button>
                            <el-button type="primary" @click.native="editSubmit(editFormulaForm,editParamForm)">提交</el-button>
                        </div>
                    </el-dialog>
                    <!--计算界面-->
					<el-dialog title="火场计算" :visible.sync="calculateVisible" @close="closeDialog(calculateForm)" :close-on-click-modal="false">
                        <el-form :model="calculateForm" label-width="107px" :rules="calculateFormRules" ref="calculateForm">
                            <el-row>
                                <el-col :span="24">
                                    <el-form-item class="calculateForm" label="公式名称" prop="gsmc">
                                        <span>{{calculateForm.gsmc}}</span>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="24">
                                    <el-form-item class="calculateForm" label="公式说明" prop="gssm">
                                        <span>{{calculateForm.gssm}}</span>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="24">
                                    <el-form-item class="calculateForm" label="计算公式" prop="jsgs">
                                        <span>{{calculateForm.jsgs}}</span>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col>
                                    <el-form-item
                                    v-for="(domain, index) in calculateForm.domains"
                                    :label="domain.csmc"
                                    :key="domain.key"
                                    :prop="'domains.' + index + '.csmc'"
                                    :rules="{
                                        required: true, message: '域名不能为空', trigger: 'blur'
                                    }"
                                    class="calculateForm"
                                    >
                                        <div style="display: inline-flex;">
                                            <el-input size="small" v-model="domain.mrz" auto-complete="off"></el-input>
                                            <span>&nbsp;&nbsp;{{domain.jldwdm}}</span>
                                        </div>    
                                    </el-form-item>   
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-form-item class="calculateForm" label="计算结果" prop="jsjg">
                                    <div style="display: inline-flex;">
                                        <el-input size="small" v-model="jsjg" auto-complete="off"></el-input>
                                        <span>&nbsp;&nbsp;{{calculateForm.jsgsdw}}</span>
                                    </div>
                                </el-form-item>
                            </el-row>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button type="primary" @click.native="calculate(calculateForm)">计算</el-button>
                            <el-button @click.native="resetDialog(calculateForm)">重置</el-button>
                            <el-button @click.native="closeCalculate(calculateForm)">关闭</el-button>
                        </div>
                    </el-dialog>
                </div>
            </div>
            <!-- main-container -->
        </div>
    </div>
</body>
<script src="../../static/js/lib.js"></script>
<script src="../../static/js/menu.js"></script>
<script src="../../static/js/auxiliarydecision/firecalculation_list.js"></script>
<script>
</script>

</html>