<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="../css/lib.css">
    <link rel="stylesheet" type="text/css" href="../css/codelist.css">
</head>

<body class="fw f14 main-index-body">
    <div id="header_box"></div>
    <div class="left-sidebar">
        <a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
        <div id="menu-box">
            <big-tree default-active="22"></big-tree>
        </div>
    </div>
    <div id="app">
        <div class="main-box">
            <div class="main-container">
                <div id="lib :: main_container_header('角色管理','角色管理')"></div>
                <div id="tableView">
                    <el-row>
                        <el-form label-width="100px" :inline="true" class="el-form demo-form-inline" :model="searchForm">
                            <el-row type="flex" justify="center">
                                <el-col :span="10">
                                    <el-form-item label="代码类型名称">
                                        <el-input size="small" v-model="searchForm.codetypename" placeholder="代码类型名称" style="width: 300px;"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="12">
                                    <el-form-item label="创建时间">
                                        <el-date-picker type="date" @change="begindateChange_create" format="yyyy-MM-dd" value-format="yyyy-MM-dd" size="small" v-model="searchForm.begintime_create"
                                            placeholder="创建开始时间" class="dateInputWidth"></el-date-picker>
                                        ~
                                        <el-date-picker type="date" @change="enddateChange_create" format="yyyy-MM-dd" value-format="yyyy-MM-dd" size="small" v-model="searchForm.endtime_create"
                                            placeholder="创建结束时间" class="dateInputWidth"></el-date-picker>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <div>
                                <el-form>
                                    <el-col :span="12" class="btnEditDelete">
                                        <el-form-item align="left">
                                            <el-button type="primary" icon="edit" size="small" @click="editClick">修改</el-button>
                                            <el-button type="danger" icon="delete" size="small" @click="removeSelection">删除</el-button>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12"></el-col>
                                    <el-col :span="12" class="btnSearchPlus">
                                        <el-form-item>
                                            <el-button type="primary" icon="search" size="small" @click="searchClick">查询</el-button>
                                            <el-button type="success" icon="plus" size="small" @click="addClick">新增</el-button>
                                        </el-form-item>
                                    </el-col>
                                </el-form>
                            </div>
                        </el-form>
                    </el-row>

                    <div class="table_container">
                        <el-table id="table" border :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" v-loading.body="loading"
                            @selection-change="selectionChange" class="tableStyle" :height="tableheight">

                            <el-table-column type="selection" min-width="5%">
                            </el-table-column>
                            <el-table-column type="index" label="序号" width="65" align="center">
                            </el-table-column>
                            <el-table-column prop="codetypename" label="代码类型名称" min-width="12%" align="center">
                                <template slot-scope="scope">
                                    <el-button @click="informClick(scope.row)" type="text">{{scope.row.codetypename}}</el-button>
                                </template>
                            </el-table-column>
                            <el-table-column prop="codetype" label="代码类型" min-width="12%" align="center">
                            </el-table-column>
                            <el-table-column prop="language" label="国际化信息" min-width="12%" align="center">
                            </el-table-column>
                            <el-table-column prop="create_name" label="创建人" min-width="12%" align="center">
                            </el-table-column>
                            <el-table-column prop="create_time" label="创建时间" min-width="13%" align="center">
                            </el-table-column>
                            <el-table-column prop="alter_name" label="修改人" min-width="14%" align="center">
                            </el-table-column>
                            <el-table-column prop="alter_time" label="修改时间" min-width="13%" align="center">
                            </el-table-column>
                            <el-table-column prop="remark" label="备注" min-width="13%" align="center">
                            </el-table-column>
                        </el-table>

                        <!--列表底部工具条和分页符-->
                        <el-row type="flex" justify="end">
                            <el-col :span="18">
                                <el-pagination style="float: right" @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage"
                                    :page-sizes="[10, 20, 30, 50]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper"
                                    :total=parseInt(total)>
                                </el-pagination>
                            </el-col>
                        </el-row>
                    </div>

                    <!--新建界面-->
                    <el-dialog title="新建代码类型" :visible.sync="addFormVisible" @close="closeDialog(addForm)" :close-on-click-modal="false">
                        <el-form :model="addForm" label-width="130px" :rules="addFormRules" ref="addForm">
                            <el-row>
                                <el-col :span="8">
                                    <el-form-item label="代码类型" prop="codetype">
                                        <el-input v-model="addForm.codetype" auto-complete="off" placeholder="代码类型" class="addEditFormInput"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="8">
                                    <el-form-item label="代码类型名称" prop="codetypename">
                                        <el-input v-model="addForm.codetypename" auto-complete="off" placeholder="代码类型名称" class="addEditFormInput"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="8">
                                    <el-form-item label="国际化信息" prop="language">
                                        <el-input v-model="addForm.language" auto-complete="off" placeholder="国际化信息" class="addEditFormInput"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="8">
                                    <el-form-item label="备注" prop="remark">
                                        <el-input v-model="addForm.remark" auto-complete="off" placeholder="备注" class="addEditFormInput"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click.native="closeDialog(addForm)">取消</el-button>
                            <el-button type="primary" @click.native="addSubmit(addForm)">提交</el-button>
                        </div>
                    </el-dialog>

                    <!--修改界面 -->
                    <el-dialog title="修改代码类型" :visible.sync="editFormVisible" :close-on-click-modal="false">
                        <el-form :model="editForm" label-width="120px" :rules="editFormRules" ref="editForm">
                            <el-row>
                                <el-col :span="8">
                                    <el-form-item label="代码类型" prop="codetype">
                                        <el-input v-model="editForm.codetype" auto-complete="off" placeholder="代码类型" class="addEditFormInput"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="8">
                                    <el-form-item label="代码类型名称" prop="codetypename">
                                        <el-input v-model="editForm.codetypename" auto-complete="off" placeholder="代码类型名称" class="addEditFormInput"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="8">
                                    <el-form-item label="国际化信息" prop="language">
                                        <el-input v-model="editForm.language" auto-complete="off" placeholder="国际化信息" class="addEditFormInput"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="8">
                                    <el-form-item label="备注" prop="remark">
                                        <el-input v-model="editForm.remark" auto-complete="off" placeholder="备注" class="addEditFormInput"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click.native="editFormVisible = false">取消</el-button>
                            <el-button type="primary" @click.native="editSubmit(editForm)">提交</el-button>
                        </div>
                    </el-dialog>
                </div>
            </div>
            <!-- main-container -->
        </div>
    </div>
</body>
<script src="../lib/lib.js"></script>
<script src="../lib/menu.js"></script>
<script src="../lib/codelist.js"></script>

</html>