<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" href="../css/lib.css"> 
    </head>
	<body class="fw f14 main-index-body">
		<div id="header_box"></div>
        <div class="left-sidebar">
            <a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
            <div id="menu-box">
                <big-tree default-active="24"></big-tree>
            </div>
        </div>
        <div id="app">
            <div class="main-box">
                    <div class="main-container">
                        <div id="lib :: main_container_header('重点单位管理','重点单位管理')"></div>
                        <div id="tableView">
                            <div class="nameBox">
                                <div id="basic-Inform-Picture">
                                    <img src="../images/danwei2.jpg">
                                </div>
                                <div class="dib" id="basic-Inform-Title">
                                    <div>
                                        <h3 class="dib inform-h3">{{rowdata.DWMC}}</h3>
                                        <span class="companyStatus dib" title="建筑类型">{{rowdata.JZLX}}</span>
                                    </div>
                                    <dl>
                                        <img src="../images/owner.png"><dt class="dib inform-small-title">法定代表人：</dt><dd class="dtdlStyle">{{rowdata.FRDB}}</dd><br>										
                                        <img src="../images/safe.png"><dt class="dib inform-small-title">安全责任人：</dt><dd class="dtdlStyle">{{rowdata.AQZRR}}</dd><br>
                                        <img src="../images/date.png"><dt class="dib inform-small-title">成立日期：</dt><dd class="dtdlStyle">{{rowdata.DWCLSJ}}</dd><br>
                                        <img src="../images/location.png"><dt class="dib inform-small-title">单位地址：</dt><dd class="dtdlStyle">{{rowdata.DWDZ}}</dd>
                                    </dl>
                                </div>
                                <div style="float: right">
                                    <el-button type="primary" icon="share" style="width:120px"  @click="openShare">信息分享</el-button><br>
                                    <el-button type="primary" icon="document" style="margin-top:5%;width:120px" @click="openPrinter">信息打印</el-button><br>
                                    <el-button type="primary" icon="message" style="margin-top:5%;width:120px" @click="openEmail">发送邮箱</el-button><br>
                                </div>
                            </div>
                            <div class="inform-content">
                                <template>
                                    <el-tabs v-model="activeName" type="border-card" @tab-click="handleClick">
                                        <el-tab-pane label="基本信息" name="first">
                                        <div class="inform-div">
                                                <div class="left-inform">
                                                    <div>
                                                        <dl class="inform-left">
                                                            <dt class="dtdlStyle">单位等级：</dt><dd class="dtdlStyle">{{rowdata.DWDJ}}</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="inform-margin">
                                                        <dl class="inform-left">
                                                            <dt class="dtdlStyle">行政区域：</dt><dd class="dtdlStyle">{{rowdata.XZQY}}</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="inform-margin">
                                                        <dl class="inform-left">
                                                            <dt class="dtdlStyle">占地面积：</dt><dd class="dtdlStyle">{{rowdata.ZDMJ}}</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="inform-margin">
                                                        <dl class="inform-left">
                                                            <dt class="dtdlStyle">自动消防设施情况：</dt><dd class="dtdlStyle">{{rowdata.ZDXFSS}}</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="inform-margin">
                                                        <dl class="inform-left">
                                                            <dt class="dtdlStyle">专兼职消防管理人：</dt><dd class="dtdlStyle">{{rowdata.ZJZXFGLR}}</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="inform-margin">
                                                        <dl class="inform-left">
                                                            <dt class="dtdlStyle">专兼职消防管理人电话：</dt><dd class="dtdlStyle">{{rowdata.ZJZXFGLRDH}}</dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                                <div class="right-inform">
                                                    <div> 
                                                        <dl class="inform-left"> 
                                                            <dt class="dtdlStyle">单位性质：</dt><dd class="dtdlStyle">{{rowdata.DWXZ}}</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="inform-margin">
                                                        <dl class="inform-left">
                                                            <dt class="dtdlStyle">单位地址：</dt><dd class="dtdlStyle">{{rowdata.DWDZ}}</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="inform-margin">
                                                        <dl class="inform-left">
                                                            <dt class="dtdlStyle">建筑面积：</dt><dd class="dtdlStyle">{{rowdata.JZMJ}}</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="inform-margin">
                                                        <dl class="inform-left">
                                                            <dt class="dtdlStyle">消防管辖机构：</dt><dd class="dtdlStyle">{{rowdata.XFGXJGID}}</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="inform-margin">
                                                        <dl class="inform-left">
                                                            <dt class="dtdlStyle">GIS_X：</dt><dd class="dtdlStyle">{{rowdata.GIS_X}}</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="inform-margin">
                                                        <dl class="inform-left">
                                                            <dt class="dtdlStyle">GIS_Y：</dt><dd class="dtdlStyle">{{rowdata.GIS_Y}}</dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                        </el-tab-pane>
                                        <el-tab-pane label="预案信息" name="second">
                                            <div class="inform-div">
                                                <div class="left-inform">
                                                    <div>
                                                        <dl class="inform-left">
                                                            <dt class="dtdlStyle">预案名称：</dt><dd class="dtdlStyle">{{yudata.YAMC}}</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="inform-margin">
                                                        <dl class="inform-left"> 
                                                            <dt class="dtdlStyle">预案编号：</dt><dd class="dtdlStyle">{{yudata.YABH}}</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="inform-margin">
                                                        <dl class="inform-left">
                                                            <dt class="dtdlStyle">部位名称：</dt><dd class="dtdlStyle">{{yudata.BWMC}}</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="inform-margin">
                                                        <dl class="inform-left">
                                                            <dt class="dtdlStyle">保密等级：</dt><dd class="dtdlStyle">{{yudata.BMDJ}}</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="inform-margin">
                                                        <dl class="inform-left">
                                                            <dt class="dtdlStyle">制作人名称：</dt><dd class="dtdlStyle">{{yudata.ZZRMC}}</dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                                <div class="right-inform">
                                                    <div>
                                                        <dl class="inform-left">
                                                            <dt class="dtdlStyle">制作日期：</dt><dd class="dtdlStyle">{{yudata.ZZRQ}}</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="inform-margin">
                                                        <dl class="inform-left">
                                                            <dt class="dtdlStyle">数据操作人姓名：</dt><dd class="dtdlStyle">{{yudata.CZYXM}}</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="inform-margin">
                                                        <dl class="inform-left">
                                                            <dt class="dtdlStyle">对象名称：</dt><dd class="dtdlStyle">{{yudata.DXMC}}</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="inform-margin">
                                                        <dl class="inform-left">
                                                            <dt class="dtdlStyle">业务系统部署：</dt><dd class="dtdlStyle">{{yudata.YWXTBSID}}</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="inform-margin">
                                                        <dl class="inform-left">
                                                            <dt class="dtdlStyle">操作机构：</dt><dd class="dtdlStyle">{{yudata.CZJG}}</dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inform-margin">
                                                <a id="ew" href="" class="inform-download-display" download=""><span id="we"></span></a>
                                                <a id="sw" href="" class="inform-download-display" download=""><span id="ws"></span></a>
                                                <a id="pf" href="" class="inform-download-display" download=""><span id="fp"></span></a>
                                                <dl>
                                                    <dt class="dtdlStyle">附件下载:</dt>
                                                    <dd class="dtdlStyle"><img class="inform-download-cursor" src="../images/icon-download/erwei.png" @click="DownLoadTwoFile()"></dd><dt class="dtdlStyle inform-download-cursor" @click="DownLoadTwoFile()">二维预案</dt>
                                                    <dd class="dtdlStyle"><img class="inform-download-cursor" src="../images/icon-download/sanwei.png" @click="DownLoadThreeFile()"></dd><dt class="dtdlStyle inform-download-cursor" @click="DownLoadThreeFile()">三维预案</dt>
                                                    <dd class="dtdlStyle"><img class="inform-download-cursor" src="../images/icon-download/wendang.png" @click="DownLoadFile()"></dd><dt class="dtdlStyle inform-download-cursor" @click="DownLoadFile()">文档预案</dt>
                                                </dl>
                                            </div>
                                        </el-tab-pane>
                                    </el-tabs>
                                </template>
                                
                            </div>
                            <!--信息分享-->
                            <el-dialog
                                
                                title="分享至"
                                :visible.sync="shareDialogVisible"
                                @close="closeShareDialog"
                                :close-on-click-modal="false"
                                center
                                class="el-dialog--small"
                                style="margin:0 auto;"
                                >
                                <div style="text-align: center">
                                    <img style="cursor:pointer" src="../images/weibo.png" @click="shareWeibo()">
                                    <img style="cursor:pointer" src="../images/wechat.png" @click="shareWechat()">
                                    <img style="cursor:pointer" src="../images/QQ.png" @click="shareQQ()">
                                </div>
                                <div slot="footer" class="dialog-footer">
                                    <el-button @click="closeShareDialog">取 消</el-button>
                                    <el-button type="primary" @click="openShare">确 定</el-button>
                                </div>
                            </el-dialog>
                            <!--发送邮箱-->
                            <el-dialog
                                
                                title="发送至邮箱"
                                :visible.sync="emailDialogVisible"
                                @close="closeEmailDialog"
                                :close-on-click-modal="false"
                                center
                                class="el-dialog--small"
                                style="margin:0 auto;"
                                >
                                <div style="text-align: center">
                                    <span style="font-weight: bold;">邮箱地址</span>
                                    <el-input v-model="email" auto-complete="off" placeholder="请输入邮箱" style="width: 180px"></el-input>  
                                </div>
                                <div slot="footer" class="dialog-footer">
                                    <el-button @click="closeEmailDialog">取 消</el-button>
                                    <el-button type="primary" @click="openEmail">确 定</el-button>
                                </div>
                            </el-dialog>
                        </div>
                    </div>
                    
                    <!-- main-container -->
                </div>
        </div>
    </body>
    <script src="../lib/lib.js" ></script>
    <script src="../lib/menu.js" ></script>
    <script src="../lib/inform.js" ></script>
</html>