.el-form-item{
    margin-bottom: 10px;
}
.cell{  
    display: block;  
    width: 100%;  
}
.searchLabel {
    width: 125px;
    vertical-align: middle;
    line-height: 8px;
}
.el-checkbox__input {
    line-height: 2.8;
}