.el-select-dropdown__item.selected {
    color:#000;
    background-color: #fff;
}
.el-select-dropdown__item.selected.hover {
    background-color: #e4e8f1;
}
input[type=checkbox]{
    margin: 0 4px 0 0;
}
.el-input__inner{
    height: 30px;
}
.cell{
    display: block;
    width: 100%;
}
.firewaterSearch{
    width: 220px;
}
.el-form-item{
    margin-bottom: 10px;
}