.frame-duration {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
}
.login-bg {
  background: url('../images/login-bg.jpg') no-repeat center top;
}
.logo {
  background: url('../images/LOGO.png') no-repeat;
  width: 360px;
  height: 180px;
}
.logo2 {
  background: url('../images/LOGO2.png') no-repeat;
  width: 360px;
  height: 48px;
}
.logo-box {
  background: url('../images/LOGO.png') no-repeat;
  width: 165px;
  height: 40px;
  margin: 60px auto;
}
.login-box {
  width: 450px;
  height: 290px;
  left: 50%;
  top: 50%;
  margin-left: -225px;
  margin-top: -100px;
}
.login-item {
  margin-bottom: 20px;
  text-align: right;
  padding-top: 11px;
}
.login-icon {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
}
.login-item.username:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  background: url('../images/icon-user.png') no-repeat;
}
.login-item.password:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  background: url('../images/icon-password.png') no-repeat;
}
.login-item.verify:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  background: url('../images/icon-verficode.png') no-repeat;
}
.login-input {
  width: 100%;
  height: 40px;
  border: 0;
  outline: 0;
  background: transparent;
  color: #FFF;
  font-size: 14px;
}
.login-input::-webkit-input-placeholder {
  font-size: 14px;
}
.login-input::-moz-placeholder {
  font-size: 14px;
}
.login-line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  width: 93%;
  display: inline-block;
}
.login-button {
  height: 40px;
  background-color: #3D5AFE;
  margin-top: 20px;
  border-radius: 3px;
  border: 0;
  color: #FFF;
  width: 93%;
  font-size: 18px;
}
.login-a {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  display: block;
  width: 50px;
  text-align: right;
}
.yuwolegequ {
  height: 40px;
  width: 104px;
}
.yuwolegequ img {
  width: 90%;
}
.login-input.verficode {
  width: 260px;
}
.map-bg {
  background: #050f33;
}
.map-bg2 {
  background-color:rgba(255,255,255,0.1);
}
.map-menu {
  width: 240px;
  height: 100%;
  margin: 0;
  float: left;
  background-color: #0277bd;
}
.map-main {
  width: 960px;
  height: 100%;
  margin: 0;
  float: right;
}
.copyright {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
  position: fixed;
  width: 100%;
  bottom: 30px;
}
.application-back {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
}
.application-back a {
  font-family: 微软雅黑;
  text-align: center;
  color: #8A979F;
  font-size: 12px;
}
.application-logo {
  top: -22px;
  left: 212px;
  position: absolute;
  z-index: 9999;
}
.application-box {
  width: 1200px;
  height: 500px;
  left: 50%;
  top: 50%;
  margin-left: -600px;
  margin-top: -250px;
}
.application-icon {
  width: 288px;
  height: 100%;
}
.application-icon-l {
  width: 800px;
  height: 100%;
}
.application-icon-r {
  width: 400px;
  height: 100%;
}
.application-div {
  width: 100%;
  position: relative;
}
.icon1 {
  background-image: url('../images/icon-1.png');
  background-size:55px 55px;
}
.icon2 {
  background-image: url('../images/icon-2.png');
  background-size:55px 55px;
}
.p38 {
  padding-left: 30%;
  background-repeat: no-repeat;
  background-position: 15% center;
  justify-content: left;
}
.application-text {
  width: 100%;
  height: 100%;
  position: relative;
  /* overflow: auto; */
}
.application-name {
  line-height: 1.5;
  font-size: 20px;
  color: #fff;
}
.application-num {
  line-height: 1.5;
  font-size: 30px;
  color: #f7cb29;
}
.application-img {
  width: 100%;
  height: 288px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.app-console {
  background-image: url('../images/app-console.png');
}
.app-center {
  background-image: url('../images/app-center.png');
}
.application-label {
  color: #FFF;
  font-size: 20px;
  margin-top: 36px;
}
.app-action {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.app-scale {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.application-img:before {
  content: '';
  background-color: rgba(255, 255, 255, 0.2);
  width: 320px;
  height: 320px;
  display: block;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -160px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  z-index: -1;
}
.application-img:after {
  content: '';
  background-color: #FFF;
  width: 288px;
  height: 288px;
  display: block;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.application-icon:hover .application-img:before,
.application-icon:hover .application-img:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.application-icon:hover .application-img {
  overflow: visible;
}
.application-icon:hover .application-img.app-console {
  background-image: url('../images/app-console2.png');
}
.application-icon:hover .application-img.app-center {
  background-image: url('../images/app-center2.png');
}
.navbar {
  position: relative;
  min-height: 50px;
  background-color: #424242;
  border-radius: 0;
  border-bottom:1px solid #000;
  border-right:1px solid #000;
  z-index: 10;
}
.container-fixed {
  margin-right: auto;
  margin-left: auto;
}
.container {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}
.navbar-brand {
  float: left;
  height: 50px;
  padding: 0px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-header .navbar-toggle {
  border: 1px solid #d6d6d7;
}
.navbar-toggle .icon-bar {
  background-color: #d6d6d7;
}
.navbar-nav > li > a {
  color: #d6d6d7;
}
.dada,
.dada2 {
  width: 100%;
  background-color: #3d3f42;
  border: 1px solid #3d3f42;
  top: 100%;
  left: 0;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  display: none;
  color: #d6d6d7;
}
.dada .dada-item,
.dada2 .dada-item {
  padding: 5px 10px;
}
.dada .dada-item:hover,
.dada2 .dada-item:hover {
  background-color: #494b50;
}
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: #3d3f42;
}
.nav > li > a:focus:hover .oscar-arrow,
.nav > li > a:hover:hover .oscar-arrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.nav > li > a:focus:hover .dada,
.nav > li > a:hover:hover .dada {
  display: block;
}
.left-sidebar {
  -webkit-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
  width: 240px;
  min-height: 100%;
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: #0277bd;
  padding-top: 50px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
}
@media (max-width: 768px) {
  .left-sidebar {
    left: -240px;
  }
}
.el-menu {
  border-radius: 0;
  color: #d6d6d7;
  background-color: #0277bd;
}
.el-menu-item,
.el-submenu__title {
  color: #d6d6d7;
}
.el-menu-item:hover,
.el-submenu__title:hover {
  text-decoration: none;
}
.el-submenu .el-menu-item:hover,
.el-submenu__title:hover,
.el-submenu .el-menu:focus {
  background-color: #01579b;
  color: #d6d6d7;
}
.el-submenu .el-menu,
.el-submenu.is-opened > a {
  background-color: #0277bd;
}
.menu-toggle-btn {
  background-color: #FFF;
  border: 1px solid #0277bd;
  border-right: 0;
  width: 26px;
  height: 26px;
  line-height: 26px;
  bottom: 10px;
  right: 0;
  border-radius: 3px 0 0 3px;
  color: #575759;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  z-index:9999;
}
.menu-toggle-btn:hover {
  text-decoration: none;
}
.menu-toggle-bg {
  background: #252628;
  color: #d6d6d7;
}
.menu-toggle-bg:focus {
  color: #d6d6d7;
}
.el-submenu.is-active .el-submenu__title {
  background-color: #01579b;
}
.main-box {
  height: 600px;
  padding-left: 240px;
  overflow:auto;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
}
.main-container {
  padding: 20px;
}
