<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title></title>
    <!-- 引入样式 -->
    <link rel="stylesheet" type="text/css" href="../../static/css/element.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/zxx.lib.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/app.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/bigscreen/map_pro.css" >
</head>

<body class="fw map-bg">
    <div id="app">
        <div class="application-box tc abs">
<!-- 左侧 -->
            <div class="map-menu-left p10 map-bg" >
                <div class="meu-box" >
                        <el-form ref="form" :model="form" label-width="80px" >
                             <div class="search_top">
                                <el-select placeholder="请输入地址"  class="input-with-select map_slt w150 l b_r" >
                                    <el-option label="北京" value="北京"></el-option>
                                    <el-option label="天津" value="天津"></el-option>
                                    <el-option label="河北" value="河北"></el-option>
                                </el-select>
                                <el-button class="l ml5" type="primary" icon="el-icon-search">搜索</el-button>
                             </div>

                                <el-collapse class="res_slt"  >
                                    <el-collapse-item title="更多搜索选项" name="4" >
                                        <div>
                                            <el-dropdown-item>
                                                <el-input class="mt10" placeholder="主体名称" style="padding-bottom:10px;"></el-input>
                                            </el-dropdown-item>
                                            <el-dropdown-item style="font-size:1px;" action="" method="get">
                                                <el-checkbox style="margin-left:-110px;"  name="Fruit" label="重点单位"></el-checkbox>
                                                <br/>
                                                <el-checkbox style="margin-left:-68px;"  name="Fruit"  label="重大活动或会议"></el-checkbox>
                                                <br/>
                                                <el-checkbox style="margin-left:-112px;" name="Fruit" label="其他对象"></el-checkbox>
                                            </el-dropdown-item>
                                            <el-dropdown-item>
                                                <el-input class="mt10" placeholder="地址" style="padding-bottom:10px;"></el-input>
                                            </el-dropdown-item>
                                            <el-dropdown-item >
                                                <el-date-picker class="mt10 w190" type="date" placeholder="录入日期" style="padding-bottom:10px;"></el-date-picker>
                                            </el-dropdown-item>
                                        </div>
                                    </el-collapse-item>
                                </el-collapse>
            
                                <!-- <table border="0" style="color:#ffffff;font-size:15px;position:absolute;top:100px;left:60px;border-collapse:separate; border-spacing:0px 12px;">
                                    <tr v-for = "data in tableData" >
                                        <td>{{data.DWMC}}</td>
                                    </tr>
                                </table>  -->
            
                                <el-card v-for="data in tableData" :body-style="{ padding: '0px' }" style="background-color:#708090;color:#fff;">
                               
                                    <div slot="header">
                                        <div>
                                            <strong>{{data.DWMC }}</strong>&nbsp&nbsp
                                            <el-tag color="#0f82ee" size="medium">{{data.DWXZ}}</el-tag>
                                        </div>
                                    </div>
                                    <div class="l">地址：{{data.DWDZ }}</div>
                                    <div class="l">电话：{{data.DWDH }}</div>
                                </el-card>  
            
                                <div class="pagenum" >
                                    <ul class="pagination">
                                        <li><a href="#">&laquo;</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li class="disabled"><a href="#">/</a></li>
                                        <li><a href="#">33</a></li>
                                        <li><a href="#">&raquo;</a></li>
                                    </ul>
                                </div>
            
                            </el-form>
                </div>
                <!-- 收缩按钮 -->
                <!-- <a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc an" href="javascript:;" ></a> -->
            </div>

<!-- 右侧 -->
            <div class="map-menu-right h456 mt35">

                <div class="meu-box-right">
                    <div class="map-china" >
                        <a href="big_screen_map.html">
                            <img src="../../static/images/icon-china.png" />
                        </a>
                    </div>
                    <div style="width:30px;margin-top:180px;margin-left:110px;">
                        
                        <div class="icon" type="button" class="btn btn-success"   
                        data-container="body" data-toggle="popover" data-placement="left" 
                        data-content="消防主体">
                        <span class="glyphicon glyphicon-home" style="color:#008B00"></span>
                        </div>
                       
                        <div class="icon" class="icon" type="button" class="btn btn-success"   
                        data-container="body" data-toggle="popover" data-placement="left" 
                        data-content="数字化预案">
                        <span class="glyphicon glyphicon-tasks" style="color:#00688B"></span>
                        </div>
                       
                        <div class="icon" class="icon" type="button" class="btn btn-success"   
                        data-container="body" data-toggle="popover" data-placement="left" 
                        data-content="附近500m水源">
                        <span class="glyphicon glyphicon-tint" style="color:#7B68EE"></span>
                        </div>
                        
                        <div class="icon" class="icon" type="button" class="btn btn-success"   
                        data-container="body" data-toggle="popover" data-placement="left" 
                        data-content="附近1000m水源">
                        <span class="glyphicon glyphicon-tint" style="color:#7B68EE"></span>
                        </div>
                        
                        <div class="icon" class="icon" type="button" class="btn btn-success"   
                        data-container="body" data-toggle="popover" data-placement="left" 
                        data-content="附近500m消防力量">
                        <span class="glyphicon glyphicon-user"  style="color:#FF4500"></span>
                        </div>

                        <div class="icon" class="icon" type="button" class="btn btn-success"   
                        data-container="body" data-toggle="popover" data-placement="left" 
                        data-content="附近1000m消防力量">
                        <span class="glyphicon glyphicon-user"  style="color:#FF4500"></span>
                        </div>

                    </div>
                </div> 
            </div>
            <div id="BMap" class="map-main tc">
            </div>
          
        </div>
    </div>
</body>
<!-- 引入js -->
<script src="../../static/js/jquery-3.2.1.min.js"></script>
<script src="../../static/js/vue.min.js"></script>
<script src="../../static/js/element.js" charset="utf-8"></script>
<script src="../../static/js/bootstrap.min.js"></script>


<script>
        $(function () { $("[data-toggle='popover']").popover(); }); 
</script>
<!-- 引入地图 -->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vRjF5BxHdpmTZZfuSzXeV2ZKLNNv7nKn"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            city: '',
            marker1: '',
            marker2: '',
            marker3: '',
            form: {
                delivery1: true,
                delivery2: true,
                delivery3: true
            },
            options: [
                { value: '北京', label: '北京' },
                { value: '天津', label: '天津' },
                { value: '河北', label: '河北' },
                { value: '山西', label: '山西' },
                { value: '内蒙古', label: '内蒙古' },
                { value: '辽宁', label: '辽宁' },
                { value: '吉林', label: '吉林' },
                { value: '黑龙江', label: '黑龙江' },
                { value: '上海', label: '上海' },
                { value: '江苏', label: '江苏' },
                { value: '浙江省', label: '浙江省' },
                { value: '安徽', label: '安徽' },
                { value: '福建', label: '福建' },
                { value: '江西', label: '江西' },
                { value: '山东', label: '山东' },
                { value: '河南', label: '河南' },
                { value: '湖北', label: '湖北' },
                { value: '湖南', label: '湖南' },
                { value: '广东', label: '广东' },
                { value: '广西', label: '广西' },
                { value: '海南', label: '海南' },
                { value: '重庆', label: '重庆' },
                { value: '四川', label: '四川' },
                { value: '贵州', label: '贵州' },
                { value: '云南', label: '云南' },
                { value: '西藏', label: '西藏' },
                { value: '陕西', label: '陕西' },
                { value: '甘肃省', label: '甘肃省' },
                { value: '青海', label: '青海' },
                { value: '宁夏', label: '宁夏' },
                { value: '新疆', label: '新疆' }],
            selectedOptions: [],
            selectedOptions2: [],
            tableData: [
            {
                DWMC:"辽宁省人民法院",
                XZQY: "辽宁省",
                DWDZ:"霞飞路29号",
                XFGXJGNAME: "沈阳市消防局",
                CJSJ:"2012-02-23",
                DWDJ: "省部级",
                DWXZ:"司法",
                DWDH:"1234567",
                ID:"1"
            },
               {
                DWMC:"辽宁省政府",
                DWDJ: "省部级",
                DWXZ:"行政",
                XZQY: "辽宁省",
                DWDZ:"霞飞路30号",
                ZDMJ: 50000,
                XFGXJGID: "沈阳市消防局",
                DWDH:"1234567",
                ID:"2"
            },
            {
                DWMC:"辽宁省就业局",
                DWDJ: "省部级",
                DWXZ:"民事",
                XZQY: "辽宁省",
                DWDZ:"霞飞路31号",
                ZDMJ: 20000,
                XFGXJGID: "沈阳市消防局",
                DWDH:"1234567",
                ID:"3"
            }
            // ,
            // {
            //     DWMC:"沈阳市城市规划管理局",
            //     DWDJ: "市厅级",
            //     DWXZ:"城市管理",
            //     XZQY: "辽宁省",
            //     DWDZ:"霞飞路32号",
            //     ZDMJ: 10000,
            //     XFGXJGID: "沈阳市消防和平分队",
            //     DWDH:"1234567",
            //     ID:"4"
            // },
            // {
            //     DWMC:"沈阳市公安局",
            //     DWDJ: "市厅级",
            //     DWXZ:"司法",
            //     XZQY: "辽宁省",
            //     DWDZ:"霞飞路33号",
            //     ZDMJ: 12000,
            //     XFGXJGID: "沈阳市消防沈河分队",
            //     DWDH:"1234567",
            //     ID:"5"
            // },
            // {
            //     DWMC:"沈阳市地铁二号线",
            //     DWDJ: "市厅级",
            //     DWXZ:"民事",
            //     XZQY: "辽宁省",
            //     DWDZ:"霞飞路34号",
            //     ZDMJ: 1000,
            //     XFGXJGID: "沈阳市消防浑南分队",
            //     DWDH:"1234567",
            //     ID:"6"
            // },
            // {
            //     DWMC:"青岛市塑性加工园",
            //     DWDJ: "市厅级",
            //     DWXZ:"城市管理",
            //     XZQY: "山东省",
            //     DWDZ:"文明路39号",
            //     ZDMJ: 2000,
            //     XFGXJGID: "青岛市市消防大东分队",
            //     DWDH:"1234567",
            //     ID:"7"
            // },
            // {
            //     DWMC:"泰安市城建局",
            //     DWDJ: "市厅级",
            //     DWXZ:"城市管理",
            //     XZQY: "山东省",
            //     DWDZ:"法防路36号",
            //     ZDMJ: 2000,
            //     XFGXJGID: "泰安市消防塔湾分队",
            //     DWDH:"1234567",
            //     ID:"8"
            // },
            // {
            //     DWMC:"河北省国土资源厅",
            //     DWDJ: "省部级",
            //     DWXZ:"城市管理",
            //     XZQY: "河北省",
            //     DWDZ:"格调路46号",
            //     ZDMJ: 3000,
            //     XFGXJGID: "河北省消防总队",
            //     DWDH:"1234567",
            //     ID:"9"
            // },
            // {
            //     DWMC:"秦皇岛市林业局",
            //     DWDJ: "市厅级",
            //     DWXZ:"城市管理",
            //     XZQY: "河北省",
            //     DWDZ:"发文路64号",
            //     ZDMJ: 4000,
            //     XFGXJGID: "秦皇岛市消防大队",
            //     DWDH:"1234567",
            //     ID:"10"
            // }
            ]
        },
        methods: {
            getMarker1: function () {
                if (this.form.delivery1) {
                    this.marker1.show();
                } else {
                    this.marker1.hide();
                }
            },
            getMarker2: function () {
                if (this.form.delivery2) {
                    this.marker2.show();
                } else {
                    this.marker2.hide();
                }
            },
            getMarker3: function () {
                if (this.form.delivery3) {
                    this.marker3.show();
                } else {
                    this.marker3.hide();
                }
            },
            getCity: function () {
                var url = location.href;
                var tmp1 = url.split("?")[1];
                var city1 = tmp1.split("=")[1];
                this.city = decodeURI(city1);
            },
            getBoundary: function (map) {
                var bdary = new BMap.Boundary();
                bdary.get(this.city, function (rs) { //获取行政区域
                    // map.clearOverlays(); //清除地图覆盖物 
                    var count = rs.boundaries.length; //行政区域的点有多少个
                    for (var i = 0; i < count; i++) {
                        var ply = new BMap.Polygon(rs.boundaries[i], { strokeWeight: 2, strokeColor: "#ff0000" }); //建立多边形覆盖物
                        ply.setFillColor("none");
                        map.addOverlay(ply); //添加覆盖物
                        map.setViewport(ply.getPath()); //调整视野 
                    }
                });
            },
            drawMap: function () {
                //百度地图API功能
                var content =
                
                '<div style="margin:0;line-height:20px;padding:2px;width:320px">' +
                    '<img src="../../static/images/zdqy.png" alt="" style="border-radius:5px; box-shadow: 1px 2px 1px rgba(0,0,128,0.5);float:left;zoom:1;overflow:hidden;width:100px;height:140px;margin-right:3px;"/>' +
                    '<br/>单位名称：泰安市城建局'+
                    '<br/>单位地址：法防路36号'+
                    '<br/>单位电话：123456'+
                    '<br/>消防管辖：泰安市消防塔湾分队' +
                  '</div>'
                +
                '<div style="border:1px solid rgba(0,0,128,0.5);margin-top:50px;padding:5px;border-radius:5px;width:100%;box-shadow: 1px 2px 1px rgba(0,0,128,0.5);">'+
                '二维预案'+
                '<a style="color:blue;margin-left:80px;">'+
                '预览'+
                '</a>'+
                '<a style="color:red;margin-left:90px;">'+
                '下载'+
                '</a>'+
                '</div>'+
                '<div style="margin-bottom:10px;border:1px solid rgba(0,0,128,0.5);margin-top:10px;padding:5px;border-radius:5px;width:100%;box-shadow: 1px 2px 1px rgba(0,0,128,0.5);">'+
                '三维预案'+
                '<a style="color:blue;margin-left:80px;">'+
                '预览'+
                '</a>'+
                '<a style="color:red;margin-left:90px;" onclick="downloadPlan()">'+
                '下载'+
                '</a>'+
                '</div>'

                ;
                var map = new BMap.Map("BMap");    //创建Map实例
                //添加地图类型控件
                map.addControl(new BMap.MapTypeControl({
                    mapTypes: [
                        BMAP_NORMAL_MAP,
                        BMAP_HYBRID_MAP
                    ]
                }));
                map.setCurrentCity(this.city);      //设置地图显示的城市 此项是必须设置的
                map.centerAndZoom(this.city);       //设置地图中心点
                map.enableScrollWheelZoom(true);      //开启鼠标滚轮缩放
                map.setMinZoom(5);       //设置地图最小缩放级别
                this.getBoundary(map);      //绘制边框
                var point1 = new BMap.Point(116.404, 39.915);      // 创建坐标点
                var point2 = new BMap.Point(106.425, 25.900);      // 创建坐标点
                var point3 = new BMap.Point(118.404, 37.915);      // 创建坐标点
                var myIcon1 = new BMap.Icon("../../static/images/消火栓.png", new BMap.Size(30, 30));      //创建图标
                var myIcon2 = new BMap.Icon("../../static/images/消防车.png", new BMap.Size(28, 28));      //创建图标
                var myIcon3 = new BMap.Icon("../../static/images/重点企业.png", new BMap.Size(30, 30));      //创建图标
                var marker1 = new BMap.Marker(point1, { icon: myIcon1 });      // 创建标注
                var marker2 = new BMap.Marker(point2, { icon: myIcon2 });      // 创建标注
                var marker3 = new BMap.Marker(point3, { icon: myIcon3 });      // 创建标注
                var infoWindow = new BMap.InfoWindow(content);  // 创建信息窗口对象//悬浮框
                map.centerAndZoom(point3, 15);//悬浮框
                map.addOverlay(marker1);      // 将标注添加到地图中
                map.addOverlay(marker2);      // 将标注添加到地图中
                map.addOverlay(marker3);      // 将标注添加到地图中
               //悬浮框
                marker3.addEventListener("click", function(){          
                this.openInfoWindow(infoWindow);
                //图片加载完毕重绘infowindow
                document.getElementById('imgDemo').onload = function (){
                    infoWindow.redraw();   //防止在网速较慢，图片未加载时，生成的信息框高度比图片的总高度小，导致图片部分被隐藏
                }
                });
                this.marker1 = marker1;
                this.marker2 = marker2;
                this.marker3 = marker3;
            }
        },
        mounted() {
            this.getCity()
            this.drawMap()
            document.title = this.city + '预案情况'
        }
    })
</script>
    <script>
            $('#menu-toggle-btn').click(function () {
            var left = $('.map-menu'),
                main = $('.meu-box'),
                $this = $(this);
            if (left.hasClass('damin')) {
                left.removeClass('damin').css('left', '0');
                main.css('padding-left', '0px');
                setTimeout(function () {
                    $this.removeClass('menu-toggle-bg').css({ "right": "0", "transform": "rotateY(0)" });
                }, 300);
            } else {
                left.addClass('damin').css('left', '-280px');
                main.css('padding-left', 0);
                setTimeout(function () {
                    $this.addClass('menu-toggle-bg').css({ "right": "-26px", "transform": "rotateY(180deg)" });
                }, 300);
            }
        });
        //预案下载
        function downloadPlan(){
            window.open("http://10.119.119.232:18080/upload/123456/2018-03-21/70932ac7-da58-4419-91b6-ebe0b3f53838/web%E7%89%88%E4%B8%89%E7%BB%B4%E9%A2%84%E6%A1%88.ZIP");
        }
    </script>
</html>