<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title></title>
    <!-- 引入样式 -->
    <link rel="stylesheet" type="text/css" href="../../static/css/element.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/zxx.lib.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/app.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/bigscreen/map_pro.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/bigscreen/bigmap.css">
    <link href="http://api.map.baidu.com/library/TrafficControl/1.4/src/TrafficControl_min.css" rel="stylesheet" type="text/css" />
    <!-- 底部控件 -->
    <link rel="stylesheet" type="text/css" href="../../static/css/bigscreen/big_screen_dock.css">
    
    
</head>
<body class="fw map-bg">
        <input id="isTrafficOpen" type="hidden" value="1" />
        <input id="shuiyuan" type="hidden" value="1" />
        <input id="duizhan" type="hidden" value="1" />
        <input id="cheliang" type="hidden" value="1" />
        <input id="wx" type="hidden" value="1" />
    <div id="app">
        <div class="application-boxs tc abs" style="top:0px;">
           
        <!-- 左侧 -->
        <div class="map-menu-left p10 map-bg" >
            <a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
            <div id="menu-box" class="f12">
                <el-form ref="form" :model="form" label-width="80px">
                    <!-- lxy start -->
                    <div class="search_top">
                        <el-select placeholder="请输入地址"   v-model="searchForm.xzqhmc" class="input-with-select map_slt l b_r">
                            <el-option  v-for="data in selqhmc" :key="data.xzqh" :label="data.xzqhmc" :value="data.xzqh"></el-option> 
                        </el-select>
                        <el-button class="l ml5" type="primary" @click="searchClick">搜索</el-button>
                    </div>
                    <div >
                        <div id="shengshizs">
                            <el-card v-for="data in shengshizs.slice((currentPage-1)*pageSize,currentPage*pageSize) "    :body-style="{ padding: '0px' }" style="background-color:#708090;color:#fff;">
                                <div @click="shengshiClick(data)">
                                    <div class="l cell_bk">行政区划名称：{{data.xzqhmc }}</div>
                                    <div class="l cell_bk">重点单位数量：{{data.zddwsl }}</div>
                                </div>
                            </el-card>
                        </div>

                        <div id="zddwxx">
                            <el-card v-for="data in zddwxx.slice((currentPage-1)*pageSize,currentPage*pageSize)" :body-style="{ padding: '0px' }" style="background-color:#708090;color:#fff;">
                                <!-- <div @click="shengshiClick(data)"> -->
                                    <div slot="header">
                                        <strong>{{data.dwmc }}</strong>&nbsp&nbsp
                                        <el-tag color="#0f82ee" size="medium">{{data.dwxzmc}}</el-tag>
                                    </div>
                                    <div class="l cell_bk">地址：{{data.dwdz }}</div>
                                    <div class="l cell_bk">电话：{{data.zbdh }}</div>
                                <!-- </div>    -->
                            </el-card>
                        </div>
                    </div>
                    <!--  -->
                    <div id="zddwxxTool" class="pagenum">
                               <div type="flex" justify="end">
                                    <el-pagination
                                    @current-change="handleCurrentChange"
                                    :current-page="currentPage"
                                    :page-size="pageSize"
                                    :pager-count="5"
                                    background
                                    layout="total,jumper"
                                    :total=parseInt(total)>
                                    </el-pagination>
                                </div>
                                <!-- layout="total,  jumper" -->
                    </div>
                </el-form>
            </div>
              <!-- lxy end -->
            </div>
            <div id="BMap" class="map-main tc">
            </div>
            <!-- <div class="search" style="position:fixed;top:10px;left: 300px;">
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            搜索百度库
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" @click="addSearchAuto">搜索百度库</a>
                            </li>
                            <li>
                                <a href="#">搜索消防库</a>
                            </li>
                        </ul>
                    </div>
                    <input id="suggestId" style="width: 300px;" type="search" class="form-control" placeholder="名称|编号|地址~">
                    <div id="r-result">搜索百度库:<input type="text" id="suggestId" size="20" value="百度" style="width:150px;" /></div>
                    <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div> 
                    <a style="position:fixed;left: 670px;top:11px;color: #000;" class="glyphicon glyphicon-remove btn form-control-feedback"
                        style="pointer-events: auto"></a> 
                </div>
             
            </div> -->
            <div style="position:fixed;bottom:20px;left: 40%;">
                <div id="container">
                    <div id="dock">
                        <ul>
                            <li>
                                <span>消防队站</span>
                                <a href="#" @click="showOverdz()" >
                                    <img src="../../static/images/dock-1.png">
                                </a>
                            </li>
                            <li>
                                <span>微型消防站</span>
                                <a href="#" @click="showOverwx()">
                                    <img src="../../static/images/dock-2.png">
                                </a>
                            </li>
                            <li>
                                <span>消防水源</span>
                                <a href="#" @click="showOvera()">
                                    <img src="../../static/images/dock-3.png">
                                </a>
                            </li>
                            <li>
                                <span>消防车辆</span>
                                <a href="#" @click="showOvercl()">
                                    <img src="../../static/images/dock-4.png">
                                </a>
                            </li>
                            <li>
                                <span>消防药剂</span>
                                <a href="#">
                                    <img src="../../static/images/dock-5.png">
                                </a>
                            </li>
                            <li>
                                <span>周围路况</span>
                                <a href="#" @click="lukuang()">
                                    <img src="../../static/images/dock-6.png">
                                </a>
                            </li>
                            <li>
                                <span>装备器材</span>
                                <a href="#">
                                    <img src="../../static/images/dock-7.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
               
                <!-- <div @click="showOverdz()"  style="width: 58px;height: 58px;margin:10px;" class="icon" class="icon" type="button" class="btn btn-success" data-container="body"
                    data-placement="left" data-content="队站"> 
                    <img src="../../static/images/M_ZYDW.png" />
                </div>
                <div @click="showOverwx()" style="width: 58px;height: 58px;margin:10px;" class="icon" class="icon" type="button" class="btn btn-success" data-container="body"
                    data-placement="left" data-content="微型消防站">
                    <img src="../../static/images/M_WXXFZ.png" />
                </div>
                <div @click="showOvera()" style="width: 58px;height: 58px;margin:10px;" class="icon" class="icon" type="button" class="btn btn-success"
                    data-container="body" data-placement="left">
                    <img src="../../static/images/M_XFSY_1000.png" />
                </div>
                <div @click="showOvercl()" style="width: 58px;height: 58px;margin:10px;" class="icon" class="icon" type="button" class="btn btn-success" data-container="body"
                    data-placement="left" data-content="消防车辆">
                    <img src="../../static/images/M_XFCL.png" />
                </div>
                <div @click="lukuang()" style="width: 58px;height: 58px;margin:10px;" class="icon" class="icon" type="button" class="btn btn-success" data-container="body"
                    data-placement="left" data-content="路况">
                    <img src="../../static/images/maptool/M_ZBDL.png" />
                </div> -->
                <!-- <div style="width: 58px;height: 58px;margin:10px;" class="icon" class="icon" type="button" class="btn btn-success" data-container="body"
                    data-placement="left" data-content="消防药剂">
                    <img src="../../static/images/maptool/M_MHYJ.png" />
                </div>
                <div style="width: 58px;height: 58px;margin:10px;" class="icon" class="icon" type="button" class="btn btn-success" data-container="body"
                    data-placement="left" data-content="装备器材">
                    <img src="../../static/images/maptool/M_TZZB.png" />
                </div> -->
            </div>
            <!-- 右侧工具 -->
            <div  style="width: 200px; position:fixed;top:10px;right: 10px;">
                <div @click="Reset()" style="width:40px;height:58px;margin:2px;" class="icont" type="button" class="btn btn-success" data-container="body"
                    data-placement="left" data-content="重置">
                    <img src="../../static/images/maptool/reset.png" />
                </div>
                <div @click="showOverzddw()" style="width:40px;height:58px;margin:2px;" class="icont" type="button" class="btn btn-success"
                    data-container="body" data-placement="left" data-content="重点单位">
                    <img src="../../static/images/maptool/btn_zddw_back.png" />
                </div>
                <div @click="showOvera()" style="width:40px;height:58px;margin:2px;" class="icont" type="button" class="btn btn-success"
                    data-container="body" data-placement="left" data-content="水源">
                    <img src="../../static/images/maptool/btn_water_back.png" />
                </div>
                <div class="dropdown">
                    <div style="width:40px;height:58px;margin:2px;" class="icont" type="button" class="btn btn-success" type="button" class="btn dropdown-toggle"
                        id="dropdownMenu1" data-toggle="dropdown">
                        <img src="../../static/images/maptool/btn_option_back.png" />
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" style="width:280px;height:160px;margin-top:50px;margin-left: -100px;">
                        <li role="presentation" style="margin:8px;font-weight:bold;font-family:'微软雅黑';">选项
                            <a style="color: #000;margin-top:9px;" class="glyphicon glyphicon-remove btn form-control-feedback" style="pointer-events: auto"></a>
                        </li>
                        <!-- 路况 -->
                        <li role="presentation" style="padding:8px;font-weight:bold;font-family:'微软雅黑';background:#F6F7F8;">底图
                            <span style="font-size:12px;margin-left:160px;">
                                <!-- <img style="height:15px;width:43px;" src="../../static/images/maptool/fireengine.png"/> -->
                            </span>
                        </li>
                  
                        <li role="presentation">
                            <div @click="EwOver()" style="width:60px;height:68px;margin:8px;margin-left:25px;" class="icont mapz" type="button" class="btn btn-success"
                                data-container="body" data-placement="left">
                                <img style="width:70px;height: 40px;" src="../../static/images/maptool/icon_2d_btn.png" />
                                <p style="color:#757575">平面图</p> 
                            </div>
                            <div @click="WxOver()" style="width:60px;height:68px;margin:8px;margin-left:20px;" class="icont mapz" type="button" class="btn btn-success"
                                data-container="body" data-placement="left">
                                <img style="width:70px;height: 40px;" src="../../static/images/maptool/icon_satellite_btn.png" />
                                <p style="color:#757575">卫星图</p>
                            </div>
                            <div style="width:60px;height:68px;margin:8px;margin-left:20px;" class="icont mapz" type="button" class="btn btn-success"
                                data-container="body" data-placement="left">
                                <img style="width:70px;height: 40px;" src="../../static/images/maptool/icon_3d_btn.png" />
                                <p style="color:#757575">三维图</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- 引入js -->
<script src="../../static/js/lib.js"></script>
<script src="../../static/js/menu.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script>
    $(function () {
        $("[data-toggle='popover']").popover(
            {
                html: true,
                content: "<div> <img  src='../../static/images/maptool/icon_2d_btn.png'> </div>" + "<img src='../../static/images/maptool/icon_satellite_btn.png'>",

            }
        );
    });
</script>




<!-- 引入地图 -->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vRjF5BxHdpmTZZfuSzXeV2ZKLNNv7nKn"></script>
<!-- <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Ot0QAG0LUGqphKatM1QOZDVZPNIfnRO0"></script> -->

<script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/TextIconOverlay/1.2/src/TextIconOverlay_min.js"></script>
<script type="text/javascript" src="../../static/js/bigscreen/MarkerClusterer.js"></script>
<!-- <script type="text/javascript" src="http://api.map.baidu.com/library/MarkerClusterer/1.2/src/MarkerClusterer_min.js"></script> -->
<script type="text/javascript" src="http://api.map.baidu.com/library/TrafficControl/1.4/src/TrafficControl_min.js"></script>
<script type="text/javascript" src="../../static/js/bigscreen/mapmain.js"></script>
<!-- tooljs的引入 -->
<script type="text/javascript"></script>
<script>
    $('#menu-toggle-btn').click(function () {
        var left = $('.map-menu-left'),
            main = $('.map-main'),
            $this = $(this);
        if (left.hasClass('damin')) {
            left.removeClass('damin').css('left', '0px');
            main.css('padding-left', '240px');
            setTimeout(function () {
                $this.removeClass('menu-toggle-bg').css({ "right": "0", "transform": "rotateY(0)" });
            }, 300);
        } else {
            left.addClass('damin').css('left', '-240px');
            main.css('padding-left', 0);
            setTimeout(function () {
                $this.addClass('menu-toggle-bg').css({ "right": "-66px", "transform": "rotateY(180deg)" });
            }, 300);
        }
    });
    //预案下载
    function downloadPlan() {
        window.open("http://10.119.119.232:18080/upload/123456/2018-03-21/70932ac7-da58-4419-91b6-ebe0b3f53838/web%E7%89%88%E4%B8%89%E7%BB%B4%E9%A2%84%E6%A1%88.ZIP");
    }
</script>



<!--百度地址库-->
<!-- <script type="text/javascript">
	// 百度地图API功能
	function G(id) {
		return document.getElementById(id);
	}

	var map = new BMap.Map("BMap");
    map.centerAndZoom(new BMap.Point(107.164226, 31.859637), 5);                 // 初始化地图,设置城市和地图级别。

	var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
		{"input" : "suggestId"
		,"location" : map
	});

	ac.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
	var str = "";
		var _value = e.fromitem.value;
		var value = "";
		if (e.fromitem.index > -1) {
			value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
		}    
		str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;
		
		value = "";
		if (e.toitem.index > -1) {
			_value = e.toitem.value;
			value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
		}    
		str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
		G("searchResultPanel").innerHTML = str;
	});

	var myValue;
	ac.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
	var _value = e.item.value;
		myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
		G("searchResultPanel").innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;
		
		setPlace();
	});

	function setPlace(){
		map.clearOverlays();    //清除地图上所有覆盖物
		function myFun(){
			var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
			map.centerAndZoom(pp, 18);
			map.addOverlay(new BMap.Marker(pp));    //添加标注
		}
		var local = new BMap.LocalSearch(map, { //智能搜索
		  onSearchComplete: myFun
		});
		local.search(myValue);
	}
</script> -->
</html>