<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>预案数据总览</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/zxx.lib.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/app.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/sync.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/bigscreen/tagscloud2.css">
    <script type="text/javascript" src="../../static/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/echarts-2/echarts-all.js"></script>
    <script src="../../static/js/echarts-4/echarts.js"></script>
    <script src="../../static/js/vue.js"></script>
    <script src="../../static/js/vue.min.js"></script>
    
</head>

<body class="fw map-bg">
    <div id="app">
        <div class="application-box tc abs">
            <div class="application-div h60">
                <div class="h100 w60 l p3">
                    <div id="t2" class="application-text map-bg2"></div>
                </div>
                <div class="h100 w40 l p3">
                    <div id="t1" class="application-text map-bg2"></div>
                </div>
            </div>
            <div class="application-div h40">
                <div class="h100 w20 l p3">
                    <div id="b1" class="application-text map-bg2"></div>
                </div>
                <div class="h100 w20 l p3">
                    <div id="b2" class="application-text map-bg2"></div>
                </div>
                <div class="h100 w20 l p3">
                    <div id="b3" class="application-text map-bg2"></div>
                </div>
                <div class="h100 w20 l p3">
                    <div id="b4" class="application-text map-bg2"></div>
                </div>
                <div class="h100 w20 l p3">
                    <div id="b5" class="application-text map-bg2"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../static/js/bigscreen/big_screen_planA.js"></script>
</html>