<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes" />
    <meta name=360-site-verification content=b96e1758dfc9156a410a4fb9520c5956>
    <meta name=360_ssp_verify content=2ae4ad39552c45425bddb738efda3dbb>
    <meta name=google-site-verification content=3PYTTW0s7IAfkReV8wAECfjIdKY-bQeSkVTyJNZpBKE>
    <meta name=shenma-site-verification content=34c05607e2a9430ad4249ed48faaf7cb_1432711730>
    <meta name=baidu_union_verify content=b88dd3920f970845bad8ad9f90d687f7>
    <title>数字化预案管理平台</title>
    <link rel="icon" href="../../static/images/logo-b.png">
    <link rel="stylesheet" type="text/css" href="../../static/css/element.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/zxx.lib.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/app.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/sync.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/formal.css">
</head>


<body class="fw map-bg m0">
    <div id="app" style="height: 100%;margin-top: 25px;">
        <el-carousel :height="height" style="padding-bottom: 26px;">
            <el-carousel-item :key="1">
                <iframe src="big_screen_overview.html" height="100%" width="100%" frameborder=0></iframe>
            </el-carousel-item>
            <el-carousel-item :key="2">
                <iframe src="big_screen_sync.html" height="100%" width="100%" frameborder=0></iframe>
            </el-carousel-item>
            <!-- <el-carousel-item :key="3">
                <iframe src="big_screen_planA.html" height="100%" width="100%" frameborder=0></iframe>
            </el-carousel-item>
            <el-carousel-item :key="4">
                <iframe src="big_screen_planB.html" height="100%" width="100%" frameborder=0></iframe>
            </el-carousel-item> -->
        </el-carousel>
    </div>
    <div class="application-back">
        <a href="../all.html?url=/home">
            <p class="m0 l">
                <img src="../../static/images/icon-back.png" />
            </p>
            <div>进入管理系统</div>
        </a>
    </div>
</body>

<script type="text/javascript" src="../../static/js/zzzlib/jquery-3.2.1.min.js"></script>
<script>
    $(function () {
        //判断是否宽屏
        var winWide = window.screen.availWidth;
        // alert(winWide);
        var wideScreen = false;
        var zm = winWide / 1920;
        document.body.style.zoom = zm * 1.25;
        // body{zoom:1.25;}

    })
</script>
<script type="text/javascript" src="../../static/js/zzzlib/vue.js"></script>
<script type="text/javascript" src="../../static/js/zzzlib/element.js"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            height: '697px'
        },

    })


</script>

</html>