<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" type="text/css" href="../../static/css/element.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/zxx.lib.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/app.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/sync.css">
    <!-- 引入js -->
    <script src="../../static/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/vue.min.js"></script>
    <script src="../../static/js/element.js" charset="utf-8"></script>
</head>





<body class="fw map-bg">
    <div id="app">
        <div class="application-box tc abs" style="border:2px solid red;">
            
            <!-- <div class="left" >

                <div id="provincetest" class="sync-province-box" style="border:2px solid red;">
                    <img class="sync-icon" src="../../static/images/sync-fwjd.png">
                    <span class="sync-lebal">数据节点</span>
                    <span class="sync-txts-normal">{{sjjd}}</span>
                </div>

                <div id="provincetest1" class="sync-province-box" style="border:2px solid red;">
                    <img class="sync-icon" src="../../static/images/sync-fwjd.png">
                    <span class="sync-lebal">服务节点</span>
                    <span class="sync-txts-normal">{{fwjd}}</span>
                </div>

                <div id="provincetest2" class="sync-province-box" style="border:2px solid red;">
                    <img class="sync-icon" src="../../static/images/sync-gzjd.png">
                    <span class="sync-lebal">故障节点</span>
                    <span class="sync-txts-attention">{{gzjd}}</span>
                </div>

            </div> -->

           <div class="screen_right">

           </div>

            <div class="sync-main tc map-bg left" >

            	<img src="../../static/images/bg_01.png" style= "position: fixed;left:40.5px;top:40.5px; width: 750px;height: 410px; border:1px solid blue;"/>
            	<img src="../../static/images/center_01.png" style= "position: fixed;left:445px;top:145px; width: 100px;height: 100px;"/>
            	<!--<img src="../images/center_02.png" style= "position: fixed;left: 295px;top:175px; width: 850px;height:330px;"/>-->
            
            
                <div id="province01" class="sync-province-box" >

                    <div class="sync-province-icon01"></div>

                </div>


            	<div id="province0" class="sync-province-box0">
                     <span class="sync-province-lebal0">公安部消防局数字化预案管理平台</span>
                </div>

                <div id="province31" class="sync-province-box">
                        <div class="sync-province-icon"></div>
                        <span class="sync-province-lebal">贵州</span>
                </div>

                <hr class="line1"/>
                <div id="province02" class="sync-province-box02">
               
                </div>

                <div id="province03" class="sync-province-box00">
                     <span class="sync-province-lebal00">数据汇集</span>
                </div>

                <hr class="line4"/>
                <hr class="line5" />
                <div id="province1" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">北京</span>
                </div>
                <hr class="line6"/>
                <hr class="line7" />
                <div id="province2" class="sync-province-box">
                    <div class="sync-province-icon2 blink"></div>
                    <span class="sync-province-lebal">天津</span>
                </div>
                <div id="province3" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">重庆</span>
                </div>
                <hr class="line8"/>
                <hr class="line9" />
                <div id="province4" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">上海</span>
                </div>
                <hr class="line10"/>
                <hr class="line11" />
                <hr class="line29" />
                <hr class="line30" />
                <div id="province5" class="sync-province-box" >
                    <div class="sync-province-icon" ></div>
                    <span class="sync-province-lebal">辽宁</span>
                </div>
                <div id="province6" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">新疆</span>
                </div>
                <div id="province7" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">内蒙古</span>
                </div>
                <div id="province8" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">西藏</span>
                </div>
                <div id="province9" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">广西</span>
                </div>
                <div id="province10" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">宁夏</span>
                </div>
                <hr class="line2"/>
                <hr class="line13"/>
                <hr class="line14"/>
                <hr class="line15"/>
                <hr class="line16"/>
                <div id="province11" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">黑龙江</span>
                </div>
                <div id="province12" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">吉林</span>
                </div>
                <div id="province13" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">河北</span>
                </div>
                <div id="province14" class="sync-province-box">
                    <div class="sync-province-icon2 blink"></div>
                    <span class="sync-province-lebal">河南</span>
                </div>
                <div id="province15" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">山东</span>
                </div>
                <div id="province16" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">山西</span>
                </div>
                
                <hr class="line17"/>
                <hr class="line18"/>
                <hr class="line19"/>
                <hr class="line20"/>
                <hr class="line21"/>
                <hr class="line22"/>
                <hr class="line23"/>
                <hr class="line24"/>
                <div id="province17" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">陕西</span>
                </div>
                <div id="province18" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">湖南</span>
                </div>
                <div id="province19" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">湖北</span>
                </div>
                <div id="province20" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">四川</span>
                </div>
                <div id="province21" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">青海</span>
                </div>
                <div id="province22" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">甘肃</span>
                </div>
                <div id="province23" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">江苏</span>
                </div>
                <div id="province24" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">浙江</span>
                </div>
                <div id="province25" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">安徽</span>
                </div>
                <hr class="line3"/>
                <hr class="line25"/>
                <hr class="line26"/>
                <hr class="line27"/>
                <hr class="line28"/>
                <div id="province26" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">江西</span>
                </div>
                <div id="province27" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">福建</span>
                </div>
                <div id="province28" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">广东</span>
                </div>
                <div id="province29" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">海南</span>
                </div>
                <div id="province30" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">云南</span>
                </div>
                <div id="province31" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">贵州</span>
                </div>
                <hr class="line31"/>
                <hr class="line32"/>
                <hr class="line33"/>
                <hr class="line34"/>
            </div>
        </div>
    </div>
</body>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            sjjd: '31',
            fwjd: '29',
            gzjd: '02',
            flag: {
                北京: true,
                天津: true,
                重庆: true,
                上海: true,
                辽宁: true,
                新疆: true,
                内蒙古: true,
                西藏: true,
                广西: true,
                宁夏: true,
                黑龙江: true,
                吉林: true,
                河北: true,
                河南: true,
                山东: true,
                山西: true,
                陕西: true,
                湖南: true,
                湖北: true,
                四川: true,
                青海: true,
                甘肃: true,
                江苏: true,
                浙江: true,
                安徽: true,
                江西: true,
                福建: true,
                广东: true,
                海南: true,
                云南: true,
                贵州: true
            }
        }
    })
    
</script>

</html>