<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>全国数据总览</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/zxx.lib.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/app.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/sync.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/bigscreen/tagscloud2.css">
	<script type="text/javascript" src="../../static/js/jquery-3.2.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">

</head>

<style>
	*{ margin: 0; padding: 0; list-style: none; text-decoration: none; font-weight: normal; -webkit-tap-highlight-color:rgba(0,0,0,0); box-sizing: border-box;}
     .center-in-center{
        position: fixed;
        top:270px;
        left: 642px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
		}
		.map_bottom{
         height:107px;
		 width:593px;
		 position:fixed;
		 left:345px;
		 top:431px;
		
		}
		.map_left{
         height:300px;
		 width:220px;
		 position: fixed;
		 left: 50px;
	
		}

		.map_right{
         height:309px;
		 width:295px;
		 position: fixed;
		 top:116px;
		 left: 944px;
		}

		.top_br{
			 padding:10px;border-radius:10px;box-shadow:0px 0px 30px 10px #3399ff  inset;

		}
		
</style>

<style type="text/css">
	
	a {
		text-decoration: none;
	}
	ul {
		list-style: outside none none;
	}
	.slider, .slider-panel img, .slider-extra {
        
		width: 275px;
		height: 80px;
		border-radius:5px;

	}
	.slider {
		position: fixed;
		left: 954px;
		top: 451px;
	}
	.slider-panel, .slider-nav, .slider-pre, .slider-next {
		position: absolute;
		z-index: 8;
	}
	.slider-panel {
		position: absolute;
	}
	.slider-panel img{
		border: none;
	}
	.slider-extra {
		position: relative;
	}
	.slider-nav {
		margin-left: -51px;
		position: absolute;
		left: 50%;
		bottom: 4px;
	}
	.slider-nav li {
		background: #3e3e3e;
		border-radius: 50%;
		color: #fff;
		cursor: pointer;
		margin: 0 2px;
		overflow: hidden;
		text-align: center;
		display: inline-block;
		height: 18px;
		line-height: 18px;
		width: 18px;
	}
	.slider-nav .slider-item-selected {
		background: #FF3701;
	}
	.slider-page a{
		background: rgba(0, 0, 0, 0.2);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
		color: #fff;
		text-align: center;
		display: block;
		font-family: "simsun";
		font-size: 22px;
		width: 28px;
		height: 62px;
		line-height: 62px;
		margin-top: -31px;
		position: absolute;
		top: 50%;
	}
	.slider-page a:HOVER {
		background: rgba(0, 0, 0, 0.4);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
	}
	.slider-next {
		left: 100%;
		margin-left: -28px;
	}
</style>
<script type="text/javascript">
	$(document).ready(function() {
		var length,
			currentIndex = 0,
			interval,
			hasStarted = false, //是否已经开始轮播
			t = 3000; //轮播时间间隔
		length = $('.slider-panel').length;
		
		//将除了第一张图片隐藏
		$('.slider-panel:not(:first)').hide();
		//将第一个slider-item设为激活状态
		$('.slider-item:first').addClass('slider-item-selected');
		//隐藏向前、向后翻按钮
		$('.slider-page').hide();
		
		//鼠标上悬时显示向前、向后翻按钮,停止滑动，鼠标离开时隐藏向前、向后翻按钮，开始滑动
		$('.slider-panel, .slider-pre, .slider-next').hover(function() {
			stop();
			$('.slider-page').show();
		}, function() {
			$('.slider-page').hide();
			start();
		});
		
		$('.slider-item').hover(function(e) {
			stop();
			var preIndex = $(".slider-item").filter(".slider-item-selected").index();
			currentIndex = $(this).index();
			play(preIndex, currentIndex);
		}, function() {
			start();
		});
		
		$('.slider-pre').unbind('click');
		$('.slider-pre').bind('click', function() {
			pre();
		});
		$('.slider-next').unbind('click');
		$('.slider-next').bind('click', function() {
			next();
		});
		
		/**
		 * 向前翻页
		 */
		function pre() {
			var preIndex = currentIndex;
			currentIndex = (--currentIndex + length) % length;
			play(preIndex, currentIndex);
		}
		/**
		 * 向后翻页
		 */
		function next() {
			var preIndex = currentIndex;
			currentIndex = ++currentIndex % length;
			play(preIndex, currentIndex);
		}
		/**
		 * 从preIndex页翻到currentIndex页
		 * preIndex 整数，翻页的起始页
		 * currentIndex 整数，翻到的那页
		 */
		function play(preIndex, currentIndex) {
			$('.slider-panel').eq(preIndex).fadeOut(500)
				.parent().children().eq(currentIndex).fadeIn(1000);
			$('.slider-item').removeClass('slider-item-selected');
			$('.slider-item').eq(currentIndex).addClass('slider-item-selected');
		}
		
		/**
		 * 开始轮播
		 */
		function start() {
			if(!hasStarted) {
				hasStarted = true;
				interval = setInterval(next, t);
			}
		}
		/**
		 * 停止轮播
		 */
		function stop() {
			clearInterval(interval);
			hasStarted = false;
		}
		
		//开始轮播
		start();
	});
</script>
<body class="fw map-bg" >
	<div id="app">
		<div class="application-box tc abs">
			<!-- 头部分 -->
			<div class="application-div h15">
				<div class="h100 w25 l p3">
					<img class="application-imge" src="../../static/images/icon_important.png" />	
					<div class="application-name">重点单位总数（个)</div>
					<div class="application-num">{{zddw}}</div>
				</div>
				<div class="h100 w25 l p3">
					<img class="application-imge" src="../../static/images/icon_2D.png" />	
					<div class="application-name">二维数字化预案总数（个）</div>
					<div class="application-num">{{zddw}}</div>
				</div>
				<div class="h100 w25 l p3">
					<img class="application-imge" src="../../static/images/icon_3D.png" />	
					<div class="application-name">三维数字化预案总数（个）</div>
					<div class="application-num">{{zddw}}</div>
				</div>	
				<div class="h100 w25 l p3">
					<img class="application-imge" src="../../static/images/icon_collect.png" />	
					<div class="application-name">数字化预案总数（个）</div>
					<div class="application-num">{{yags}}</div>
				</div>
			</div>
			<!-- 左侧部分 -->
            <div class="l h85 w25">
				<div class="application-div h45 p3">
					<div class="application-text map-bg2">
						<div id="bar" class="application-text"></div>
					</div>
				</div>
				<div class="application-div h30 p3">
					<div class="application-text map-bg2">
						<div id="pie" class="application-text"></div>
					</div>
				</div>
				<div class="application-div h25">
					<div class="application-text flex ">
						<div id="tagscloud" class="application-text">
							<a class="tagc1" style="font-size:15px;">辽宁省人民法院</a>
							<a class="tagc2" style="font-size:15px;">辽宁省政府</a>
							<a class="tagc3" style="font-size:15px;">辽宁省就业局</a>
							<a class="tagc2" style="font-size:15px;">沈阳市城市规划管理局</a>
							<a class="tagc2" style="font-size:15px;">沈阳市公安局</a>
							<a class="tagc1" style="font-size:15px;">沈阳市地铁二号线</a>
							<a class="tagc2" style="font-size:15px;">青岛市塑性加工园</a>
							<a class="tagc3" style="font-size:15px;">泰安市城建局</a>
							<a class="tagc2" style="font-size:15px;">河北省国土资源厅</a>
							<a class="tagc2" style="font-size:15px;">秦皇岛市林业局</a>
						</div>
					</div>
				</div>
			</div>
			<!-- 中央部分 -->
			<div class="l h85 w50">
				<div class="application-div h75">
					<div id="map" class="application-text"></div>
				</div>
				<div class="application-div h25">
					<div id="barmax" class="application-text"></div>
				</div>
			</div>
			<!-- 右侧部分 -->
			<div class="l h85 w25">
				<div class="application-div h75 p3">
					<div class="application-text map-bg2">
						<!-- <div class="txlf">预案总数排行(top10)</div> -->
						<div id="top10Bar" class="application-text"></div>
					</div>
				</div>
				<div class="application-div h25">
					<div class="txlf_xl" style="font-size:1em;">二维预案</div>
					<!-- <div class="slider"> -->
						<ul class="slider-main">
							<li class="slider-panel">
								<a target="_blank">
									<img alt="二维地图" title="二维地图" src="../../assets/images/2dmap.png">
								</a>
							</li>
							<li class="slider-panel">
								<a target="_blank">
									<img alt="二维地图" title="二维地图" src="../../assets/images/2dmap2.png">
								</a>
							</li>
							<li class="slider-panel">
								<a target="_blank">
									<img alt="二维地图" title="二维地图" src="../../assets/images/2dmap3.png">
								</a>
							</li>
							<li class="slider-panel">
								<a target="_blank">
									<img alt="二维地图" title="二维地图" src="../../assets/images/2dmap.png">
								</a>
							</li>
						</ul>
						<div class="slider-extra">
							<ul class="slider-nav">
								<li class="slider-item">1</li>
								<li class="slider-item">2</li>
								<li class="slider-item">3</li>
								<li class="slider-item">4</li>
							</ul>
							<div class="slider-page">
								<a class="slider-pre" href="javascript:;;">&lt;</a>
								<a class="slider-next" href="javascript:;;">&gt;</a>
							</div>
						</div>
					<!-- </div> -->
				</div>
			</div>
		</div>
		<!-- /application-box -->
	</div>
	
</body>
<script src="../../static/js/echarts-2/echarts-all.js"></script>
<script src="../../static/js/echarts-4/echarts.js"></script>
<script type="text/javascript" src="../../static/js/vue.js"></script>
<script type="text/javascript" src="../../static/js/bigscreen/tagscloud.js"></script>

<script>
	var vm = new Vue({
		el: "#app",
		data: {
			yags: '1451523',
			zddw: '2727468',
			city: '',
			top10: [
			{ name:'北京',value:'2999' },
			{ name:'河北',value:'1142' },
			{ name:'天津',value:'1218' },
			{ name:'辽宁',value:'1021' },
			{ name:'湖北',value:'1455' },
			{ name:'河南',value:'1919' },
			{ name:'新疆',value:'1299' },
			{ name:'西藏',value:'1999' },
			{ name:'山西',value:'2751' },
			{ name:'海南',value:'1313' }
			]
		},
		methods: {
			// 中央下部31总队柱状图
			echarts1: function () {
				var myBarChart = echarts.init(document.getElementById('barmax'));
				BarmaxOption = {
					tooltip: {
						trigger: 'axis',
						axisPointer: {            // 坐标轴指示器，坐标轴触发有效
							type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
						}
					},
					// color: ['#0f82ee'],
					grid: {
						top: '10',
						bottom: '0',
						left: '2%',
						right: '3%',
						containLabel: true
					},
					xAxis: [
						{
							type: 'category',
							data: ['北京', '河北', '天津', '辽宁', '湖北', '河南', '湖北', '新疆',
								'西藏', '山西', '陕西', '西安', '南京', '杭州', '山东', '昆明', '重庆', '武汉', '北京', '河北', '天津', '辽宁', '湖北', '河南', '湖北', '新疆',
								'西藏', '山西', '陕西', '西安', '内蒙古'],
							axisLine: {
								lineStyle: {
									color: 'white'
								}
							},
							axisLabel: {
								interval: 0,
								/*
								formatter:function(value)  
                                {  
                                   return value.split("").join("\n");  
								},
								*/
								rotate: "45"
							},
						}
					],
					yAxis: [
						{
							type: 'value',
							axisLine: {
								lineStyle: {
									color: 'white'
								}
							},
							splitLine: {
								show: false
							},
						}
					],
					series: [
						{
							name: '数字化预案',
							type: 'bar',
							barWidth: '100%',
							stack: '预案',
							barWidth: '10',
							itemStyle: {
								normal: {
									color: new echarts.graphic.LinearGradient(
										0, 0, 0, 1,
										[
											{ offset: 0, color: '#83bff6' },
											{ offset: 0.5, color: '#188df0' },
											{ offset: 1, color: '#0f82ee' }
										]
									)
								},
								emphasis: {
									color: new echarts.graphic.LinearGradient(
										0, 0, 0, 1,
										[
											{ offset: 0, color: '#188df0' },
											{ offset: 0.7, color: '#188df0' },
											{ offset: 1, color: '#83bff6' }
										]
									)
								}
							},
							data: [1335, 335, 1035, 935, 335, 1335, 335, 670, 335, 1335, 335, 335, 335, 1335, 335, 1335, 335, 1335, 335, 1335, 335, 1335, 335, 1335, 335, 1335, 335, 1335, 335, 1335, 335,]
						}
					]
				};
				myBarChart.setOption(BarmaxOption);
			},
			// 中央中部地图
			echarts2: function () {
				var myMapChart = echarts2.init(document.getElementById('map'));
				MapOption = {
					tooltip: {
						trigger: 'item',
						formatter: '{b}<br/>预案总量:{c}'
					},
					dataRange: {
						show: false,
						min: 0,
						max: 500,
						calculable: true,
						color: ['maroon', 'purple', 'red', 'orange', 'yellow', 'lightgreen']
					},
					series: [
						{
							name: '预案数量',
							type: 'map',
							mapType: 'china',
							hoverable: true,
							roam: false,
							//图形样式
							itemStyle: {
								//默认样式
								normal: {
									areaStyle: {
										color: '#050f33'
									},
									borderColor: '#f7cb29',
									// borderColor: '#7282B1',
									label: {
										show: true,
										textStyle: {
											color: '#FFFFFF',
											fontSize: 14
										}
									}
								},
								//强调样式（悬浮时样式）
								emphasis: {
									areaStyle: {
										color: '#050f33'
									},
									borderColor: '#f7cb29',
									// borderColor: '#7282B1',
									borderWidth: '2',
									label: {
										show: true,
										textStyle: {
											color: '#FFFFFF',
											fontSize: 14
										}
									}
								}
							},
							data: [],
							markPoint: {
								symbol: 'emptyCircle',
								symbolSize: function (v) {
									return 10 + v / 10
								},       // 标注大小，半宽（半径）参数，当图形为方向或菱形则总宽度为symbolSize * 2
								effect: {
									show: true,
									shadowBlur: 0
								},
								itemStyle: {
									normal: {
										borderColor: '#00EE00',
										borderWidth: 1,            // 标注边线线宽，单位px，默认为1
										label: {
											show: false
										}
									},
									emphasis: {
										borderColor: '#00EE00',
										borderWidth: 5,
										label: {
											show: false
										}
									}
								},
								data: [
									{ name: '上海', value: 95 },
									{ name: '广州', value: 90 },
									{ name: '大连', value: 80 },
									{ name: '南宁', value: 70 },
									{ name: '南昌', value: 60 },
									{ name: '拉萨', value: 50 },
									{ name: '长春', value: 40 },
									{ name: '包头', value: 30 },
									{ name: '重庆', value: 20 },
									{ name: '常州', value: 10 }
								]
							},
							geoCoord: {
								"海门": [121.15, 31.89],
								"鄂尔多斯": [109.781327, 39.608266],
								"招远": [120.38, 37.35],
								"舟山": [122.207216, 29.985295],
								"齐齐哈尔": [123.97, 47.33],
								"盐城": [120.13, 33.38],
								"赤峰": [118.87, 42.28],
								"青岛": [120.33, 36.07],
								"乳山": [121.52, 36.89],
								"金昌": [102.188043, 38.520089],
								"泉州": [118.58, 24.93],
								"莱西": [120.53, 36.86],
								"日照": [119.46, 35.42],
								"胶南": [119.97, 35.88],
								"南通": [121.05, 32.08],
								"拉萨": [91.11, 29.97],
								"云浮": [112.02, 22.93],
								"梅州": [116.1, 24.55],
								"文登": [122.05, 37.2],
								"上海": [121.48, 31.22],
								"攀枝花": [101.718637, 26.582347],
								"威海": [122.1, 37.5],
								"承德": [117.93, 40.97],
								"厦门": [118.1, 24.46],
								"汕尾": [115.375279, 22.786211],
								"潮州": [116.63, 23.68],
								"丹东": [124.37, 40.13],
								"太仓": [121.1, 31.45],
								"曲靖": [103.79, 25.51],
								"烟台": [121.39, 37.52],
								"福州": [119.3, 26.08],
								"瓦房店": [121.979603, 39.627114],
								"即墨": [120.45, 36.38],
								"抚顺": [123.97, 41.97],
								"玉溪": [102.52, 24.35],
								"张家口": [114.87, 40.82],
								"阳泉": [113.57, 37.85],
								"莱州": [119.942327, 37.177017],
								"湖州": [120.1, 30.86],
								"汕头": [116.69, 23.39],
								"昆山": [120.95, 31.39],
								"宁波": [121.56, 29.86],
								"湛江": [110.359377, 21.270708],
								"揭阳": [116.35, 23.55],
								"荣成": [122.41, 37.16],
								"连云港": [119.16, 34.59],
								"葫芦岛": [120.836932, 40.711052],
								"常熟": [120.74, 31.64],
								"东莞": [113.75, 23.04],
								"河源": [114.68, 23.73],
								"淮安": [119.15, 33.5],
								"泰州": [119.9, 32.49],
								"南宁": [108.33, 22.84],
								"营口": [122.18, 40.65],
								"惠州": [114.4, 23.09],
								"江阴": [120.26, 31.91],
								"蓬莱": [120.75, 37.8],
								"韶关": [113.62, 24.84],
								"嘉峪关": [98.289152, 39.77313],
								"广州": [113.23, 23.16],
								"延安": [109.47, 36.6],
								"太原": [112.53, 37.87],
								"清远": [113.01, 23.7],
								"中山": [113.38, 22.52],
								"昆明": [102.73, 25.04],
								"寿光": [118.73, 36.86],
								"盘锦": [122.070714, 41.119997],
								"长治": [113.08, 36.18],
								"深圳": [114.07, 22.62],
								"珠海": [113.52, 22.3],
								"宿迁": [118.3, 33.96],
								"咸阳": [108.72, 34.36],
								"铜川": [109.11, 35.09],
								"平度": [119.97, 36.77],
								"佛山": [113.11, 23.05],
								"海口": [110.35, 20.02],
								"江门": [113.06, 22.61],
								"章丘": [117.53, 36.72],
								"肇庆": [112.44, 23.05],
								"大连": [121.62, 38.92],
								"临汾": [111.5, 36.08],
								"吴江": [120.63, 31.16],
								"石嘴山": [106.39, 39.04],
								"沈阳": [123.38, 41.8],
								"苏州": [120.62, 31.32],
								"茂名": [110.88, 21.68],
								"嘉兴": [120.76, 30.77],
								"长春": [125.35, 43.88],
								"胶州": [120.03336, 36.264622],
								"银川": [106.27, 38.47],
								"张家港": [120.555821, 31.875428],
								"三门峡": [111.19, 34.76],
								"锦州": [121.15, 41.13],
								"南昌": [115.89, 28.68],
								"柳州": [109.4, 24.33],
								"三亚": [109.511909, 18.252847],
								"自贡": [104.778442, 29.33903],
								"吉林": [126.57, 43.87],
								"阳江": [111.95, 21.85],
								"泸州": [105.39, 28.91],
								"西宁": [101.74, 36.56],
								"宜宾": [104.56, 29.77],
								"呼和浩特": [111.65, 40.82],
								"成都": [104.06, 30.67],
								"大同": [113.3, 40.12],
								"镇江": [119.44, 32.2],
								"桂林": [110.28, 25.29],
								"张家界": [110.479191, 29.117096],
								"宜兴": [119.82, 31.36],
								"北海": [109.12, 21.49],
								"西安": [108.95, 34.27],
								"金坛": [119.56, 31.74],
								"东营": [118.49, 37.46],
								"牡丹江": [129.58, 44.6],
								"遵义": [106.9, 27.7],
								"绍兴": [120.58, 30.01],
								"扬州": [119.42, 32.39],
								"常州": [119.95, 31.79],
								"潍坊": [119.1, 36.62],
								"重庆": [106.54, 29.59],
								"台州": [121.420757, 28.656386],
								"南京": [118.78, 32.04],
								"滨州": [118.03, 37.36],
								"贵阳": [106.71, 26.57],
								"无锡": [120.29, 31.59],
								"本溪": [123.73, 41.3],
								"克拉玛依": [84.77, 45.59],
								"渭南": [109.5, 34.52],
								"马鞍山": [118.48, 31.56],
								"宝鸡": [107.15, 34.38],
								"焦作": [113.21, 35.24],
								"句容": [119.16, 31.95],
								"北京": [116.46, 39.92],
								"徐州": [117.2, 34.26],
								"衡水": [115.72, 37.72],
								"包头": [110, 40.58],
								"绵阳": [104.73, 31.48],
								"乌鲁木齐": [87.68, 43.77],
								"枣庄": [117.57, 34.86],
								"杭州": [120.19, 30.26],
								"淄博": [118.05, 36.78],
								"鞍山": [122.85, 41.12],
								"溧阳": [119.48, 31.43],
								"库尔勒": [86.06, 41.68],
								"安阳": [114.35, 36.1],
								"开封": [114.35, 34.79],
								"济南": [117, 36.65],
								"德阳": [104.37, 31.13],
								"温州": [120.65, 28.01],
								"九江": [115.97, 29.71],
								"邯郸": [114.47, 36.6],
								"临安": [119.72, 30.23],
								"兰州": [103.73, 36.03],
								"沧州": [116.83, 38.33],
								"临沂": [118.35, 35.05],
								"南充": [106.110698, 30.837793],
								"天津": [117.2, 39.13],
								"富阳": [119.95, 30.07],
								"泰安": [117.13, 36.18],
								"诸暨": [120.23, 29.71],
								"郑州": [113.65, 34.76],
								"哈尔滨": [126.63, 45.75],
								"聊城": [115.97, 36.45],
								"芜湖": [118.38, 31.33],
								"唐山": [118.02, 39.63],
								"平顶山": [113.29, 33.75],
								"邢台": [114.48, 37.05],
								"德州": [116.29, 37.45],
								"济宁": [116.59, 35.38],
								"荆州": [112.239741, 30.335165],
								"宜昌": [111.3, 30.7],
								"义乌": [120.06, 29.32],
								"丽水": [119.92, 28.45],
								"洛阳": [112.44, 34.7],
								"秦皇岛": [119.57, 39.95],
								"株洲": [113.16, 27.83],
								"石家庄": [114.48, 38.03],
								"莱芜": [117.67, 36.19],
								"常德": [111.69, 29.05],
								"保定": [115.48, 38.85],
								"湘潭": [112.91, 27.87],
								"金华": [119.64, 29.12],
								"岳阳": [113.09, 29.37],
								"长沙": [113, 28.21],
								"衢州": [118.88, 28.97],
								"廊坊": [116.7, 39.53],
								"菏泽": [115.480656, 35.23375],
								"合肥": [117.27, 31.86],
								"武汉": [114.31, 30.52],
								"大庆": [125.03, 46.58]
							}
						}
					]
				};
				myMapChart.setOption(MapOption);
				myMapChart.on('click', function (params) {
					vm.$options.data.city = params.name;
					vm.$options.methods.loadChart();
				});
			},
			// 左侧第二环形图
			echarts3: function () {
				var myPieChart = echarts.init(document.getElementById('pie'));
				PieOption = {
					tooltip: {
						trigger: 'item',
						formatter: "{a} <br/>{b}: {c} ({d}%)"
					},
					color: ['#eecd0f', '#0fee6c', '#0f82ee'],
					legend: {
						orient: 'vertical',
						x: '60%',
						y: 'center',
						itemGap: 16,
						itemWidth: 18,
						data: ['部局级预案', '总队级预案', '支队级预案'],
						textStyle: {
							color: 'white'
						},
						align: 'left'
					},
					series: [
						{
							name: '三维预案',
							type: 'pie',
							center: ['35%', '50%'],
							radius: [0, '42%'],
							label: {
								normal: {
									show: false
								}
							},
							data: [
								{ value: 335, name: '部局级预案' },
								{ value: 679, name: '总队级预案' },
								{ value: 548, name: '支队级预案' }
							]
						},
						{
							name: '二维预案',
							type: 'pie',
							center: ['35%', '50%'],
							radius: ['56%', '75%'],
							label: {
								normal: {
									show: false
								}
							},
							data: [
								{ value: 1335, name: '部局级预案' },
								{ value: 1310, name: '总队级预案' },
								{ value: 1234, name: '支队级预案' }
							]
						}
					]
				};

				myPieChart.setOption(PieOption);
			},
			// 左侧第一柱状图
			echarts4: function () {
				var myBarChart = echarts.init(document.getElementById('bar'));

				BarOption = {
					tooltip: {
						trigger: 'axis',
						axisPointer: {            // 坐标轴指示器，坐标轴触发有效
							type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
						}
					},
					color: ['#eecd0f', '#0fee6c', '#0f82ee'],
					legend: {
						x: 'center',
						y: '5%',
						itemWidth: 18,
						data: ['部局级预案', '总队级预案', '支队级预案'],
						textStyle: {
							color: 'white'
						},
					},
					grid: {
						left: '5%',
						right: '5%',
						top: '25%',
						bottom: '10%',
						containLabel: true
					},
					xAxis: [
						{
							type: 'category',
							data: ['二维预案', '三维预案'],
							axisLine: {
								lineStyle: {
									color: 'white'
								}
							}
						}
					],
					yAxis: [
						{
							type: 'value',
							axisLine: {
								lineStyle: {
									color: 'white'
								}
							},
							splitLine: {
								show: false
							},
						}
					],
					series: [
						{
							name: '部局级预案',
							type: 'bar',
							barWidth: '40%',
							stack: '预案',
							data: [1335, 335]
						},
						{
							name: '总队级预案',
							type: 'bar',
							barWidth: '40%',
							stack: '预案',
							data: [1310, 679]
						},
						{
							name: '支队级预案',
							type: 'bar',
							barWidth: '40%',
							stack: '预案',
							data: [1234, 548]
						}
					]
				};

				myBarChart.setOption(BarOption);
			},
			// 右侧第一排名柱状图
			echarts5: function () {
				var myBarChart = echarts.init(document.getElementById('top10Bar'));
				var category = [];
				var barData = [];
				this.top10.sort(this.up);
				console.log(this.top10);
				for (var i = 0; i < this.top10.length; i++) {
					category.push(this.top10[i].name);    //挨个取出类别并填入类别数组
					barData.push(this.top10[i].value);
				}

				BarOption = {
					title: {
						text: '预案总数排行(top10)',
						left: 'center',
						top: 2,
						textStyle: {
							color: '#ccc'
						}
					},
					tooltip: {
						trigger: 'axis',
						axisPointer: {
							type: 'shadow'
						}
					},
					grid: {
						left: '6%',
						right: '20%',
						bottom: '3%',
						containLabel: true
					},
					xAxis: {
						show: false,
						type: 'value',
						axisLine: {
							show: false,
							lineStyle: {
								color: 'white'
							}
						},
						splitLine: {
							show: false
						},
						axisTick: {
							show: false
						},
					},
					yAxis: {
						type: 'category',
						data: category,
						splitLine: {
							show: false
						},
						axisLine: {
							show: false,
							lineStyle: {
								color: 'white'
							},
						},
						axisLabel: {
							inside: true,
						},
						axisTick: {
							show: false
						},
						z: 10,
						nameTextStyle: {
							fontSize: 15

						}
					},
					series: [
						{
							name: '数量',
							type: 'bar',
							data: barData,
							barWidth: 14,
							barGap: 10,
							smooth: true,
							label: {
								normal: {
									show: true,
									position: 'right',
									offset: [5, -2],
									textStyle: {
										color: 'white',
										fontSize: 13
									}
								}
							},
							itemStyle: {
								emphasis: {
									barBorderRadius: 7
								},
								normal: {
									barBorderRadius: 7,
									// 蓝色渐变
									color: new echarts.graphic.LinearGradient(
										0, 0, 1, 0,
										[
											{ offset: 0, color: '#3977E6' },
											{ offset: 1, color: '#37BBF8' }

										]
									),
								}
							}
						}
					]
				};

				myBarChart.setOption(BarOption);
			},
			//top10 json串排序
			up: function (x, y) {
				return x.value - y.value
			},
			loadChart: function () {
				window.location.assign("big_screen_map_pro.html?city=" + vm.$options.data.city);
			},
			autoAdd: function () {
				this.yags++
				this.zddw++
			}
		},
		mounted() {
			this.echarts1()
			this.echarts2()
			this.echarts3()
			this.echarts4()
			this.echarts5()
			setInterval(() => {
				this.autoAdd()
			}, 1200)
		}
	})
</script>

</html>