<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title></title>
    <!-- 引入样式 -->
    <link rel="stylesheet" type="text/css" href="../../static/css/element.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/zxx.lib.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/app.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/bigscreen/map_pro.css" >
</head>
<body class="fw map-bg">
    <div id="app">
        <div class="application-box tc abs">
            <div class="map-menu p10" >
                <div class="meu-box" >
                <el-form ref="form" :model="form" label-width="80px" >
                  
                    <el-select placeholder="请输入地址"  class="input-with-select map_slt w150 l b_r">
                        <el-option label="北京" value="北京"></el-option>
                        <el-option label="天津" value="天津"></el-option>
                        <el-option label="河北" value="河北"></el-option>
                    </el-select>

                    <el-button class="l ml5" type="primary" icon="el-icon-search">搜索</el-button>

                    <el-collapse class="res_slt" >
                        <el-collapse-item title="更多搜索选项" name="4" >
                            <div>
                            <!-- <form action="" method="get"> 
                                <label><input name="Fruit" type="checkbox" value="" />重点单位</label> 
                                <label><input name="Fruit" type="checkbox" value="" />重大活动或会议</label> 
                                <label><input name="Fruit" type="checkbox" value="" />其他对象</label> 
                            </form>  -->
                            <el-dropdown-item style="font-size:5px;">
                                    <el-checkbox label="重点单位"></el-checkbox>
                                    <el-checkbox label="重大活动或会议"></el-checkbox>
                                    <el-checkbox label="其他对象"></el-checkbox>
                            </el-dropdown-item>

                            </div>
                            <div>
                                <el-dropdown-item>
                                    <el-select class="mt10" placeholder="请选择">
                                    </el-select>
                                </el-dropdown-item>
                                <el-dropdown-item>
                                    <el-input class="mt10" placeholder="主体名称"></el-input>
                                </el-dropdown-item>
                                <el-dropdown-item>
                                    <el-input class="mt10" placeholder="地址"></el-input>
                                </el-dropdown-item>
                                <el-dropdown-item >
                                    <el-date-picker class="mt10 w190" type="date" placeholder="录入日期"></el-date-picker>
                                </el-dropdown-item>
                            </div>
                        </el-collapse-item>
                    </el-collapse>
 
                                <!-- <el-col :span="10">
                                    <el-dropdown trigger="click">
                                            <span class="el-dropdown-link" >
                                            更多<i class="el-icon-arrow-down el-icon-right"></i>
                                            </span>
                                        <el-dropdown-menu slot="dropdown" style="width:180px;margin-left:40px;">
                                                <el-dropdown-item style="font-size:10px;">
                                                    <el-checkbox label="重点单位"></el-checkbox>
                                                    <el-checkbox label="重大活动或会议"></el-checkbox>
                                                    <el-checkbox label="其他对象"></el-checkbox>
                                                </el-dropdown-item>
                                                <el-dropdown-item>
                                                    <el-select style="margin-top: 10px;" placeholder="请选择">
                                                    </el-select>
                                                </el-dropdown-item>
                                                <el-dropdown-item>
                                                    <el-input style="margin-top: 10px;" placeholder="主体名称"></el-input>
                                                </el-dropdown-item>
                                                <el-dropdown-item>
                                                    <el-input style="margin-top: 10px;" placeholder="地址"></el-input>
                                                </el-dropdown-item>
                                                <el-dropdown-item>
                                                    <el-date-picker style="margin-top: 10px;width:200px;" type="date" placeholder="录入日期"></el-date-picker>
                                                </el-dropdown-item>
                                        </el-dropdown-menu>
                                    </el-dropdown>
                                </el-col> -->

                     <div class="pagenum">
                          
                        <a href="" class="bgbtn02 btn pagenum_btn" >     
                            <!-- <img src="images/edit.png"/>      -->
                             <

                          </a> 
                          <span>1/33</span>  
                          <a href="" class="bgbtn02 btn pagenum_btn" >     
                                <!-- <img src="images/edit.png"/>    -->
                            >

                          </a>    
                    </div>
                </el-form>
                </div>

                <a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc an" href="javascript:;" ></a>

            </div>


            <div class="map-menu-right h456 mt35">

                <div class="meu-box-right">
                    <el-button type="primary"  icon="el-icon-search"class="map_btn_f" >消防主体</el-button>
                    <el-button type="primary" icon="el-icon-search" class="map_btn" >数字化预案</el-button>
                    <el-button type="primary" icon="el-icon-search" class="map_btn" >附近500m水源</el-button>   
                    <el-button type="primary" icon="el-icon-search" class="map_btn" >附近1000m水源</el-button>
                    <el-button type="primary" icon="el-icon-search" class="map_btn" >附近500m消防力量</el-button>
                    <el-button type="primary" icon="el-icon-search" class="map_btn" >附近1000m消防力量</el-button>
                </div> 

            </div>


            <div class="map-china" style="margin-top:10px;margin-left:800px;">
                <a href="big_screen_map.html">
                    <img src="../../static/images/icon-china.png" />
                </a>
            </div>

            <div id="BMap" class="map-main tc">
            </div>
          
        </div>
    </div>
</body>
<!-- 引入js -->
<script src="../../static/js/jquery-3.2.1.min.js"></script>
<script src="../../static/js/vue.min.js"></script>
<script src="../../static/js/element.js" charset="utf-8"></script>
<!-- 引入地图 -->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vRjF5BxHdpmTZZfuSzXeV2ZKLNNv7nKn"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            city: '',
            marker1: '',
            marker2: '',
            marker3: '',
            form: {
                delivery1: true,
                delivery2: true,
                delivery3: true
            },
            options: [
                { value: '北京', label: '北京' },
                { value: '天津', label: '天津' },
                { value: '河北', label: '河北' },
                { value: '山西', label: '山西' },
                { value: '内蒙古', label: '内蒙古' },
                { value: '辽宁', label: '辽宁' },
                { value: '吉林', label: '吉林' },
                { value: '黑龙江', label: '黑龙江' },
                { value: '上海', label: '上海' },
                { value: '江苏', label: '江苏' },
                { value: '浙江省', label: '浙江省' },
                { value: '安徽', label: '安徽' },
                { value: '福建', label: '福建' },
                { value: '江西', label: '江西' },
                { value: '山东', label: '山东' },
                { value: '河南', label: '河南' },
                { value: '湖北', label: '湖北' },
                { value: '湖南', label: '湖南' },
                { value: '广东', label: '广东' },
                { value: '广西', label: '广西' },
                { value: '海南', label: '海南' },
                { value: '重庆', label: '重庆' },
                { value: '四川', label: '四川' },
                { value: '贵州', label: '贵州' },
                { value: '云南', label: '云南' },
                { value: '西藏', label: '西藏' },
                { value: '陕西', label: '陕西' },
                { value: '甘肃省', label: '甘肃省' },
                { value: '青海', label: '青海' },
                { value: '宁夏', label: '宁夏' },
                { value: '新疆', label: '新疆' }],
            selectedOptions: [],
            selectedOptions2: []
        },
        methods: {
            getMarker1: function () {
                if (this.form.delivery1) {
                    this.marker1.show();
                } else {
                    this.marker1.hide();
                }
            },
            getMarker2: function () {
                if (this.form.delivery2) {
                    this.marker2.show();
                } else {
                    this.marker2.hide();
                }
            },
            getMarker3: function () {
                if (this.form.delivery3) {
                    this.marker3.show();
                } else {
                    this.marker3.hide();
                }
            },
            getCity: function () {
                var url = location.href;
                var tmp1 = url.split("?")[1];
                var city1 = tmp1.split("=")[1];
                this.city = decodeURI(city1);
            },
            getBoundary: function (map) {
                var bdary = new BMap.Boundary();
                bdary.get(this.city, function (rs) { //获取行政区域
                    // map.clearOverlays(); //清除地图覆盖物 
                    var count = rs.boundaries.length; //行政区域的点有多少个
                    for (var i = 0; i < count; i++) {
                        var ply = new BMap.Polygon(rs.boundaries[i], { strokeWeight: 2, strokeColor: "#ff0000" }); //建立多边形覆盖物
                        ply.setFillColor("none");
                        map.addOverlay(ply); //添加覆盖物
                        map.setViewport(ply.getPath()); //调整视野 
                    }
                });
            },
            drawMap: function () {
                //百度地图API功能
                var content =
                '<div style="margin:0;line-height:20px;padding:2px;width:90px;height:200px;">'
                    
                    +
                '<img src="../../static/images/zdqy.png" alt="" style="float:left;zoom:1;overflow:hidden;width:90px;height:100px;margin-right:3px;"/>' +
                '基本信息' +
                    '<div style="border:1px solid #c0c0c0;border-radius:5px;padding:10px;height:50px;width:100px;">'+
                    '二维预案'+
                    '<a style="color:blue">'+
                    '预览'+
                    '</a>'+
                    '<a style="color:red">'+
                    '下载'+
                    '</a>'+
                    '</div>'+
                    '<div style="border:1px solid #c0c0c0;border-radius:5px;padding:10px;height:50px;width:100px;">'+
                    '三维预案'+
                    '<a style="color:blue">'+
                    '预览'+
                    '</a>'+
                    '<a style="color:red">'+
                    '下载'+
                    '</a>'+
                    '</div>'+

                '</div>'
                
                ;
                var map = new BMap.Map("BMap");    //创建Map实例
                //添加地图类型控件
                map.addControl(new BMap.MapTypeControl({
                    mapTypes: [
                        BMAP_NORMAL_MAP,
                        BMAP_HYBRID_MAP
                    ]
                }));
                map.setCurrentCity(this.city);      //设置地图显示的城市 此项是必须设置的
                map.centerAndZoom(this.city);       //设置地图中心点
                map.enableScrollWheelZoom(true);      //开启鼠标滚轮缩放
                map.setMinZoom(5);       //设置地图最小缩放级别
                this.getBoundary(map);      //绘制边框
                var point1 = new BMap.Point(116.404, 39.915);      // 创建坐标点
                var point2 = new BMap.Point(106.425, 25.900);      // 创建坐标点
                var point3 = new BMap.Point(118.404, 37.915);      // 创建坐标点
                var myIcon1 = new BMap.Icon("../../static/images/消火栓.png", new BMap.Size(30, 30));      //创建图标
                var myIcon2 = new BMap.Icon("../../static/images/消防车.png", new BMap.Size(28, 28));      //创建图标
                var myIcon3 = new BMap.Icon("../../static/images/重点企业.png", new BMap.Size(30, 30));      //创建图标
                var marker1 = new BMap.Marker(point1, { icon: myIcon1 });      // 创建标注
                var marker2 = new BMap.Marker(point2, { icon: myIcon2 });      // 创建标注
                var marker3 = new BMap.Marker(point3, { icon: myIcon3 });      // 创建标注
                var infoWindow = new BMap.InfoWindow(content);  // 创建信息窗口对象//悬浮框
                map.centerAndZoom(point3, 15);//悬浮框
                map.addOverlay(marker1);      // 将标注添加到地图中
                map.addOverlay(marker2);      // 将标注添加到地图中
                map.addOverlay(marker3);      // 将标注添加到地图中
               //悬浮框
                marker3.addEventListener("click", function(){          
                this.openInfoWindow(infoWindow);
                //图片加载完毕重绘infowindow
                document.getElementById('imgDemo').onload = function (){
                    infoWindow.redraw();   //防止在网速较慢，图片未加载时，生成的信息框高度比图片的总高度小，导致图片部分被隐藏
                }
                });

                this.marker1 = marker1;
                this.marker2 = marker2;
                this.marker3 = marker3;

            }
        },
        mounted() {
            this.getCity()
            this.drawMap()
            document.title = this.city + '预案情况'
        }
    })
</script>
    <script>
            $('#menu-toggle-btn').click(function () {
            var left = $('.map-menu'),
                main = $('.meu-box'),
                $this = $(this);
            if (left.hasClass('damin')) {
                left.removeClass('damin').css('left', '0');
                main.css('padding-left', '0px');
                setTimeout(function () {
                    $this.removeClass('menu-toggle-bg').css({ "right": "0", "transform": "rotateY(0)" });
                }, 300);
            } else {
                left.addClass('damin').css('left', '-280px');
                main.css('padding-left', 0);
                setTimeout(function () {
                    $this.addClass('menu-toggle-bg').css({ "right": "-26px", "transform": "rotateY(180deg)" });
                }, 300);
            }
        });
    </script>
</html>