<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" type="text/css" href="../../static/css/element.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/zxx.lib.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/app.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/sync.css">
    <!-- 引入js -->
    <script src="../../static/js/jquery-3.2.1.min.js"></script>
    <script src="../../static/js/vue.min.js"></script>
    <script src="../../static/js/element.js" charset="utf-8"></script>


    <script src="../../static/js/echarts-2/echarts-all.js"></script>
    <script src="../../static/js/echarts-4/echarts.js"></script>
    <script type="text/javascript" src="../../static/js/vue.js"></script>
    <script type="text/javascript" src="../../static/js/bigscreen/tagscloud.js"></script>


    <style>
            * { padding: 0; margin: 0; }
            table {
                border-collapse: collapse;
                border-spacing: 0;
                border: 1px solid #00008B;
                
            }
    
            th,td {
                border: 1px solid #00008B;
                color: #fff;
                padding: 4px;
                height: 3px;
            }

            th {
                padding: 8px;
                font: bold 16px "微软雅黑";
                color: rgb(129, 129, 247);
            }
    
            td {
                font: 10px "微软雅黑";
                height:1px;
            }
           
            tbody tr:hover {
                cursor: pointer;
            
            }

        </style>
</head>



<body class="fw map-bg">
    <div id="app">




        <div class="application-box tc abs" > 
            <div class="sync-main tc map-bg left" >
            	<img src="../../static/images/bg_0101.png" style= "position: fixed;left:40.5px;top:40.5px; width: 750px;height: 410px; border:1px solid #00008B;"/>
            	<img src="../../static/images/center_01.png" style= "position: fixed;left:325px;top:100px; width: 195px;height: 200px;"/>
                <img src="../../static/images/center_02.png" style= "position: fixed;left:95px;top:120px; width: 650px;height: 310px;"/>
                <!--<img src="../images/center_02.png" style= "position: fixed;left: 295px;top:175px; width: 850px;height:330px;"/>-->
                <div id="province01" class="sync-province-box" >
                    <div class="sync-province-icon01"></div>
                </div>
            	<div id="province0" class="sync-province-box0">
                    <span class="sync-province-lebal0">公安部消防局数字化预案管理平台</span>
                </div>
                <div id="province1" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">北京</span>
                </div>
                <div id="province2" class="sync-province-box">
                    <div class="sync-province-icon2 blink"></div>
                    <span class="sync-province-lebal">天津</span>
                </div>
                <div id="province3" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">重庆</span>
                </div>
                <div id="province4" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">上海</span>
                </div>
                <div id="province5" class="sync-province-box" >
                    <div class="sync-province-icon" ></div>
                    <span class="sync-province-lebal">辽宁</span>
                </div>
                <div id="province6" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">新疆</span>
                </div>
                <div id="province7" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">内蒙古</span>
                </div>
                <div id="province8" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">西藏</span>
                </div>
                <div id="province9" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">广西</span>
                </div>
                <div id="province10" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">宁夏</span>
                </div>
                <div id="province11" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">黑龙江</span>
                </div>
                <div id="province12" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">吉林</span>
                </div>
                <div id="province13" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">河北</span>
                </div>
                <div id="province14" class="sync-province-box">
                    <div class="sync-province-icon2 blink"></div>
                    <span class="sync-province-lebal">河南</span>
                </div>
                <div id="province15" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">山东</span>
                </div>
                <div id="province16" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">山西</span>
                </div>
                <div id="province17" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">陕西</span>
                </div>
                <div id="province18" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">湖南</span>
                </div>
                <div id="province19" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">湖北</span>
                </div>
                <div id="province20" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">四川</span>
                </div>
                <div id="province21" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">青海</span>
                </div>
                <div id="province22" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">甘肃</span>
                </div>
                <div id="province23" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">江苏</span>
                </div>
                <div id="province24" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">浙江</span>
                </div>
                <div id="province25" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">安徽</span>
                </div>
                 <div id="province26" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">江西</span>
                </div>
                <div id="province27" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">福建</span>
                </div>
                <div id="province28" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">广东</span>
                </div>
                <div id="province29" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">海南</span>
                </div>
                <div id="province30" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">云南</span>
                </div>
                <div id="province31" class="sync-province-box">
                    <div class="sync-province-icon"></div>
                    <span class="sync-province-lebal">贵州</span>
                </div>
                <hr class="line1"/>
                <hr class="line2"/>
                <hr class="line3"/>
                <hr class="line4"/>
                <hr class="line5"/>
                <hr class="line6"/>
                <hr class="line7"/>
                <hr class="line8"/>
                <div class="data_right" style="position:fixed;left:795px;top:40px;width:444px;height:500px; ">
                        <!-- style="position:fixed;left:795px;top:40px;width:444px;height:500px; border:1px solid #00008B;" -->
                    <table>
                        <thead>
                            <tr>
                                <th>单位</th>
                                <th style="width:170px;">待更换主体单位数量</th>
                                <th style="width:150px;">已更换数量</th>
                                <th>变更率</th>
                            </tr>
                        </thead>
                         <tbody id="J_TbData">
                        </tbody>
                    </table>
                </div>

                <div class="data_bottom" style="position:fixed;left:40px;top:455px;width:751px;height:85px;">
                    
                    <div class="map-bg2" style="position:fixed;left:40px;top:455px;width:293px;height:85px;">
                        <div class="application-div h35 p5" style="position:fixed;top:445px;left:10px;width:295px;height:105px;">
                            <div class="application-text flex ">
                                <!-- <div style="color:#fff;">数据类型</div> -->
                                <div id="pie" class="application-text"></div>
                            </div>
                        </div> 
                    </div>
                    <div class="map-bg2" style="position:fixed;left:347px;top:455px;width:140px;height:85px;">
                        <div id="provincetest" class="sync-province-box"  >
                            <img class="sync-icon" src="../../static/images/sync-fwjd.png">
                            <span class="sync-lebal">数据节点</span>
                            <span class="sync-txts-normal">{{sjjd}}</span>
                        </div>
                   </div>
                   <div class="map-bg2" style="position:fixed;left:500px;top:455px;width:140px;height:85px;">
                     <div id="provincetest1" class="sync-province-box"  >
                        <img class="sync-icon" src="../../static/images/sync-fwjd.png">
                        <span class="sync-lebal">服务节点</span>
                        <span class="sync-txts-normal">{{fwjd}}</span>
                     </div>
                   </div>
                   <div class="map-bg2" style="position:fixed;left:652px;top:455px;width:140px;height:85px;">
                     <div id="provincetest2" class="sync-province-box"  >
                        <img class="sync-icon" src="../../static/images/sync-gzjd.png">
                        <span class="sync-lebal">故障节点</span>
                        <span class="sync-txts-attention">{{gzjd}}</span>
                     </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

</body>


<script>
    var vm = new Vue({
        el: "#app",
          data: {
            sjjd: '31',
            fwjd: '29',
            gzjd: '02',
            flag: {
                北京: true,
                天津: true,
                重庆: true,
                上海: true,
                辽宁: true,
                新疆: true,
                内蒙古: true,
                西藏: true,
                广西: true,
                宁夏: true,
                黑龙江: true,
                吉林: true,
                河北: true,
                河南: true,
                山东: true,
                山西: true,
                陕西: true,
                湖南: true,
                湖北: true,
                四川: true,
                青海: true,
                甘肃: true,
                江苏: true,
                浙江: true,
                安徽: true,
                江西: true,
                福建: true,
                广东: true,
                海南: true,
                云南: true,
                贵州: true
            },
           
        },
		methods: {
			
		    echarts3:function () {

				var myPieChart = echarts.init(document.getElementById('pie'));

				PieOption = {
									tooltip: {
										trigger: 'item',
										formatter: "{a} <br/>{b}: {c} ({d}%)"
									},
									color: ['rgb(53, 148, 211)', 'rgb(25, 60, 83)'],
									legend: {
										orient: 'vertical',
										x: '60%',
										y: 'center',
										itemGap: 16,
										itemWidth: 18,
										data: ['结构化数据', '文件数据'],
										textStyle: {
											color: 'white'
										},
										align: 'left'
									},
									series: [
										
										{
											name: '数据类型',
											type: 'pie',
											center: ['35%', '50%'],
											radius: ['46%', '75%'],
											label: {
												normal: {
													show: false
												}
											},
											data: [
												{ value: 400, name: '结构化数据' },
												{ value: 600, name: '文件数据' },
											
											]
										}
									]
								};

				myPieChart.setOption(PieOption);
			},

			loadChart: function () {
				window.location.assign("big_screen_map_pro.html?city=" + vm.$options.data.city);
			},
			autoAdd: function () {
				this.yags++
				this.zddw++
			}
		},
		mounted() {
			this.echarts3()
			setInterval(() => {
				this.autoAdd()
			}, 1200)
		}

    })
    
</script>

<script>
        var data = [{
            name: "北京",
            url: "3334241",
            type: "13123",
            lv:"16.5%"
         }
        ,{
            name: "上海",
            url: "213123",
            type: "13123",
            lv:"16.5%"
        },{
            name: "天津",
            url: "2132133",
            type: "255252",
            lv:"16.5%"
        },{
            name: "天津",
            url: "2132133",
            type: "255252",
            lv:"16.5%"
        },{
            name: "天津",
            url: "2132133",
            type: "255252",
            lv:"16.5%"
        }
        ,{
            name: "天津",
            url: "2132133",
            type: "255252",
            lv:"16.5%"
        },{
            name: "天津",
            url: "2132133",
            type: "255252",
            lv:"16.5%"
        },{
            name: "天津",
            url: "2132133",
            type: "255252",
            lv:"16.5%"
        },{
            name: "天津",
            url: "2132133",
            type: "255252",
            lv:"16.5%"
        },{
            name: "天津",
            url: "2132133",
            type: "255252",
            lv:"16.5%"
        },{
            name: "天津",
            url: "2132133",
            type: "255252",
            lv:"16.5%"
        },{
            name: "天津",
            url: "2132133",
            type: "255252",
            lv:"16.5%"
        },{
            name: "天津",
            url: "2132133",
            type: "255252",
            lv:"16.5%"
        },{
            name: "天津",
            url: "2132133",
            type: "255252",
            lv:"16.5%"
        }
        ,{
            name: "天津",
            url: "2132133",
            type: "255252",
            lv:"16.5%"
        },{
            name: "天津",
            url: "2132133",
            type: "255252",
            lv:"16.5%"
        }
        ,{
            name: "天津",
            url: "2132133",
            type: "255252",
            lv:"16.5%"
        },{
            name: "天津",
            url: "2132133",
            type: "255252",
            lv:"16.5%"
        },{
            name: "天津",
            url: "2132133",
            type: "255252",
            lv:"16.5%"
        }
        ,{
            name: "天津",
            url: "2132133",
            type: "255252",
            lv:"16.5%"
        }
        ,{
            name: "天津",
            url: "2132133",
            type: "255252",
            lv:"16.5%"
        }
        // ,{
        //     name: "天津",
        //     url: "2132133",
        //     type: "255252",
        //     lv:"16.5%"
        // },{
        //     name: "天津",
        //     url: "2132133",
        //     type: "255252",
        //     lv:"16.5%"
        // },{
        //     name: "天津",
        //     url: "2132133",
        //     type: "255252",
        //     lv:"16.5%"
        // },{
        //     name: "天津",
        //     url: "2132133",
        //     type: "255252",
        //     lv:"16.5%"
        // },{
        //     name: "天津",
        //     url: "2132133",
        //     type: "255252",
        //     lv:"16.5%"
        // },{
        //     name: "天津",
        //     url: "2132133",
        //     type: "255252",
        //     lv:"16.5%"
        // },{
        //     name: "天津",
        //     url: "2132133",
        //     type: "255252",
        //     lv:"16.5%"
        // },{
        //     name: "天津",
        //     url: "2132133",
        //     type: "255252",
        //     lv:"16.5%"
        // }
        
        ];

        $(function(){
            //第一种：动态创建表格的方式，使用拼接html的方式 （推荐）
            // var html = "";
            // for( var i = 0; i < data.length; i++ ) {
            //     html += "<tr>";
            //     html +=     "<td>" + data[i].name + "</td>"
            //     html +=     "<td>" + data[i].url + "</td>"
            //     html +=     "<td>" + data[i].type + "</td>"
            //     html += "</tr>";
            // }
            // $("#J_TbData").html(html);

            //第二种： 动态创建表格的方式，使用动态创建dom对象的方式
            //清空所有的子节点
            $("#J_TbData").empty();

            // $("#J_TbData").remove();

            for( var i = 0; i < data.length; i++ ) {
                //动态创建一个tr行标签,并且转换成jQuery对象
                var $trTemp = $("<tr></tr>");

                //往行里面追加 td单元格
                $trTemp.append("<td>"+ data[i].name +"</td>");
                $trTemp.append("<td>"+ data[i].url +"</td>");
                $trTemp.append("<td>"+ data[i].type +"</td>");
                $trTemp.append("<td>"+ data[i].lv +"</td>");
                // $("#J_TbData").append($trTemp);
                $trTemp.appendTo("#J_TbData");
            }
        });
    </script>





</html>