<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>滑屏展示页面</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" type="text/css" href="../../static/css/element.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/zxx.lib.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/app.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/sync.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/formal.css">
</head>
<body class="fw map-bg m0">
    <div id="app" style="height:100%">
        <el-carousel height="580px">
            <el-carousel-item :key="1">
                <iframe src="big_screen_map.html" height="100%" width="100%" frameborder=0></iframe>
            </el-carousel-item>
            <el-carousel-item :key="2">
                <iframe src="big_screen_data.html" height="100%" width="100%" frameborder=0></iframe>
            </el-carousel-item>
            <el-carousel-item :key="3">
                <iframe src="big_screen_plan.html" height="100%" width="100%" frameborder=0></iframe>
            </el-carousel-item>
        </el-carousel>
    </div>
    <div class="application-back">
        <a href="../home.html">
            <p class="m0 l">
                <img src="../../static/images/icon-back.png" />
            </p>
            <div>进入主页</div>
        </a>
    </div>
</body>
<!-- 引入js -->
<script type="text/javascript" src="../../static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../static/js/vue.js"></script>
<script type="text/javascript" src="../../static/js/element.js"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {}
    })
</script>

</html>