<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Dock</title>

	<link rel="stylesheet" type="text/css" href="../../static/css/bigscreen/big_screen_dock.css">
</head>

<body>
	<div id="container">
		<div id="dock">
			<ul>
				<li>
					<span>标题1</span>
					<a href="#">
						<img src="../../static/images/dock-1.png">
					</a>
				</li>
				<li>
					<span>标题2</span>
					<a href="#">
						<img src="../../static/images/dock-2.png">
					</a>
				</li>
				<li>
					<span>标题3</span>
					<a href="#">
						<img src="../../static/images/dock-3.png">
					</a>
				</li>
				<li>
					<span>标题4</span>
					<a href="#">
						<img src="../../static/images/dock-4.png">
					</a>
				</li>
				<li>
					<span>标题5</span>
					<a href="#">
						<img src="../../static/images/dock-5.png">
					</a>
				</li>
				<li>
					<span>标题6</span>
					<a href="#">
						<img src="../../static/images/dock-6.png">
					</a>
				</li>
				<li>
					<span>标题7</span>
					<a href="#">
						<img src="../../static/images/dock-7.png">
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>