<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
    <title>化学品详情</title>
</head>

<body class="fw f14 main-index-body">
    <div id="header_box"></div>
    <div class="left-sidebar">
        <a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
        <div id="menu-box" >
            <big-tree default-active="61"></big-tree>
        </div>
    </div>
    <div id="app">
        <div class="main-box">
            <div class="main-container">
                <div id="danger_detail"></div>
                <div id="tableView">
                    <div class="nameBox">
                        
                        <div class="dib" id="basic-Inform-Title">
                            <div>
                                <h3 class="dib inform-h3">{{detailData.name}}</h3>
                                <span class="companyStatus dib" title="类型">{{detailData.dmz}}</span>
                            </div>
                            <dl>
                                <img src="../../static/images/location.png">
                                <dt class="dib inform-small-title">中文名：</dt>
                                <dd class="dtdlStyle">{{detailData.name}}</dd>
                                <br>
                                <img src="../../static/images/date.png">
                                <dt class="dib inform-small-title">英文名：</dt>
                                <dd class="dtdlStyle">{{detailData.englishName}}</dd>
                                <br>
                                <img src="../../static/images/phone.png">
                                <dt class="dib inform-small-title">分子式：</dt>
                                <dd class="dtdlStyle">{{detailData.expression}}</dd>
                            </dl>
                        </div>
                        <div style="float: right">
                            <el-button type="primary" icon="share" style="width:120px" @click="openShare">信息分享</el-button>
                            <br>
                            <el-button type="primary" icon="document" style="margin-top:5%;width:120px" @click="openPrinter">信息打印</el-button>
                            <br>
                            <el-button type="primary" icon="message" style="margin-top:5%;width:120px" @click="openEmail">发送邮箱</el-button>
                            <br>
                        </div>
                    </div>
                    <div class="inform-content">
                        <template>
                            <el-tabs v-model="activeName" type="border-card">
                                <el-tab-pane label="基本信息" name="first">
                                    <div class="inform-div">
                                        <div class="left-inform">
                                            <div>
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">别名: </dt>
                                                    <dd class="dtdlStyle">{{detailData.alias}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">国际危险号：</dt>
                                                    <dd class="dtdlStyle">{{detailData.dangerId}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">国标号：</dt>
                                                    <dd class="dtdlStyle">{{detailData.gbId}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">主要用途：</dt>
                                                    <dd class="dtdlStyle">{{detailData.mainApplication}}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="right-inform">
                                            <div>
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">类型：</dt>
                                                    <dd class="dtdlStyle">{{detailData.dmz}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">CAS：</dt>
                                                    <dd class="dtdlStyle">{{detailData.cas}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">特别警示：</dt>
                                                    <dd class="dtdlStyle">{{detailData.caution}}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </el-tab-pane>
                                <el-tab-pane label="性质信息" name="second">
                                    <el-card style="margin-bottom:12px;background-color:#F5F5F5">
                                        <el-row>
                                            <el-col :span="24">
                                                <div><strong style="cursor: pointer;font-size:15px;">同义词：</strong></div>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col :span="24">
                                                <div>{{detailData.thesaurus}}</div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                    <el-card style="margin-bottom:12px;background-color:#F5F5F5">
                                        <el-row>
                                            <el-col :span="24">
                                                <div><strong style="cursor: pointer;font-size:15px;">性状：</strong></div>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col :span="24">
                                                <div>{{detailData.property}}</div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                    <el-card style="margin-bottom:12px;background-color:#F5F5F5">
                                        <el-row>
                                            <el-col :span="24">
                                                <div><strong style="cursor: pointer;font-size:15px;">毒性：</strong></div>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col :span="24">
                                                <div>{{detailData.poisionProperty}}</div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                    <el-card style="margin-bottom:12px;background-color:#F5F5F5">
                                        <el-row>
                                            <el-col :span="24">
                                                <div><strong style="cursor: pointer;font-size:15px;">危险性/症状：</strong></div>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col :span="24">
                                                <div>{{detailData.symptom}}</div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                    <el-card style="margin-bottom:12px;background-color:#F5F5F5">
                                        <el-row>
                                            <el-col :span="24">
                                                <div><strong style="cursor: pointer;font-size:15px;">燃烧爆炸特性：</strong></div>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col :span="24">
                                                <div>{{detailData.bernProperty}}</div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                    <el-card style="margin-bottom:12px;background-color:#F5F5F5">
                                        <el-row>
                                            <el-col :span="24">
                                                <div><strong style="cursor: pointer;font-size:15px;">空气中允许极限及测定：</strong></div>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col :span="24">
                                                <div>{{detailData.airDetermine}}</div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                    <el-card style="margin-bottom:12px;background-color:#F5F5F5">
                                        <el-row>
                                            <el-col :span="24">
                                                <div><strong style="cursor: pointer;font-size:15px;">水中允许极限及测定：</strong></div>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col :span="24">
                                                <div>{{detailData.waterDetermine}}</div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                </el-tab-pane>
                                <el-tab-pane label="处置措施" name="third">
                                    <el-card style="margin-bottom:12px;background-color:#F5F5F5">
                                        <el-row>
                                            <el-col :span="24">
                                                <div><strong style="cursor: pointer;font-size:15px;">储存：</strong></div>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col :span="24">
                                                <div>{{detailData.store}}</div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                    <el-card style="margin-bottom:12px;background-color:#F5F5F5">
                                        <el-row>
                                            <el-col :span="24">
                                                <div><strong style="cursor: pointer;font-size:15px;">运输：</strong></div>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col :span="24">
                                                <div>{{detailData.traffic}}</div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                    <el-card style="margin-bottom:12px;background-color:#F5F5F5">
                                        <el-row>
                                            <el-col :span="24">
                                                <div><strong style="cursor: pointer;font-size:15px;">隔离：</strong></div>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col :span="24">
                                                <div>{{detailData.seprarate}}</div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                    <el-card style="margin-bottom:12px;background-color:#F5F5F5">
                                        <el-row>
                                            <el-col :span="24">
                                                <div><strong style="cursor: pointer;font-size:15px;">急救措施/灭火：</strong></div>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col :span="24">
                                                <div>{{detailData.firstaid}}</div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                    <el-card style="margin-bottom:12px;background-color:#F5F5F5">
                                        <el-row>
                                            <el-col :span="24">
                                                <div><strong style="cursor: pointer;font-size:15px;">防护措施：</strong></div>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col :span="24">
                                                <div>{{detailData.defendWay}}</div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                    <el-card style="margin-bottom:12px;background-color:#F5F5F5">
                                        <el-row>
                                            <el-col :span="24">
                                                <div><strong style="cursor: pointer;font-size:15px;">处置措施：</strong></div>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col :span="24">
                                                <div>{{detailData.dispose}}</div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                    <el-card style="margin-bottom:12px;background-color:#F5F5F5">
                                        <el-row>
                                            <el-col :span="24">
                                                <div><strong style="cursor: pointer;font-size:15px;">泄露处理：</strong></div>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col :span="24">
                                                <div>{{detailData.leakWay}}</div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                    <el-card style="margin-bottom:12px;background-color:#F5F5F5">
                                        <el-row>
                                            <el-col :span="24">
                                                <div><strong style="cursor: pointer;font-size:15px;">公众安全：</strong></div>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col :span="24">
                                                <div>{{detailData.publicSafety}}</div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                </el-tab-pane>
                            </el-tabs>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../static/js/lib.js"></script>
<script src="../../static/js/menu.js"></script>
<script src="../../static/js/basicinfo/danger_detail.js"></script>

</html>