<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
    <title>装备器材库存信息详情</title>
</head>

<body class="fw f14 main-index-body">
    <div id="header_box"></div>
    <div class="left-sidebar">
        <a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
        <div id="menu-box">
            <big-tree default-active="43"></big-tree>
        </div>
    </div>
    <div id="app">
        <div class="main-box">
            <div class="main-container">
                <div id="lib :: main_container_header('装备器材库存信息详情','装备器材库存信息详情')"></div>
                <!-- 面包屑 -->
                <div id="breadcrumb_box"></div>
                <div id="tableView">
                    <div class="inform-content">
                        <template>
                            <el-tabs v-model="activeName" type="border-card">
                                <div class="inform-div">
                                    <div class="left-inform">
                                        <div>
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">仓库名称：</dt>
                                                <dd class="dtdlStyle">{{rowdata.ckmc||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">货位名称：</dt>
                                                <dd class="dtdlStyle">{{rowdata.hwmc||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">装备器材名称：</dt>
                                                <dd class="dtdlStyle">{{rowdata.zbqcmc||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">规格型号：</dt>
                                                <dd class="dtdlStyle">{{rowdata.ggxh||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">批次号：</dt>
                                                <dd class="dtdlStyle">{{rowdata.pch||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">有效期至：</dt>
                                                <dd class="dtdlStyle">{{rowdata.yxqz||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">单件装备编码：</dt>
                                                <dd class="dtdlStyle">{{rowdata.djzbbm||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">资产编号：</dt>
                                                <dd class="dtdlStyle">{{rowdata.zcbh||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">车牌号：</dt>
                                                <dd class="dtdlStyle">{{rowdata.cph||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">装备状态：</dt>
                                                <dd class="dtdlStyle">{{rowdata.zbztdm||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">是否可作战：</dt>
                                                <dd class="dtdlStyle">{{rowdata.bzh||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">是否上车：</dt>
                                                <dd class="dtdlStyle">{{rowdata.sfkzz||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">库存数量：</dt>
                                                <dd class="dtdlStyle">{{rowdata.kcsl||"无"}}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="right-inform">
                                        <div>
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">领用数量：</dt>
                                                <dd class="dtdlStyle">{{rowdata.lysl||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">装载数量：</dt>
                                                <dd class="dtdlStyle">{{rowdata.zzsl||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">维修数量：</dt>
                                                <dd class="dtdlStyle">{{rowdata.wxsl||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">在途数量：</dt>
                                                <dd class="dtdlStyle">{{rowdata.ztsl||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">计量单位：</dt>
                                                <dd class="dtdlStyle">{{rowdata.jldw||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">单价：</dt>
                                                <dd class="dtdlStyle">{{rowdata.dj||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">金额：</dt>
                                                <dd class="dtdlStyle">{{rowdata.je||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">装载单件装备编码：</dt>
                                                <dd class="dtdlStyle">{{rowdata.zzdjzbbm||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">保养时间：</dt>
                                                <dd class="dtdlStyle">{{rowdata.bysj||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">检查时间：</dt>
                                                <dd class="dtdlStyle">{{rowdata.jcsj||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">建账时间：</dt>
                                                <dd class="dtdlStyle">{{rowdata.jzsj||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">所属消防机构名称：</dt>
                                                <dd class="dtdlStyle">{{rowdata.ssxfjgid||"无"}}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </el-tabs>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../static/js/lib.js"></script>
<script src="../../static/js/menu.js"></script>
<script src="../../static/js/basicinfo/equipmentstock_detail.js"></script>

</html>