<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/basicinfo/firewater_list.css"> 
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vRjF5BxHdpmTZZfuSzXeV2ZKLNNv7nKn"></script>
    </head>
	<body class="fw f14 main-index-body">
		<div id="header_box"></div>
        <div class="left-sidebar">
            <a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
            <div id="menu-box">
                <big-tree default-active="41"></big-tree>
            </div>
        </div>
        <div id="app">
            <div class="main-box">
                <div class="main-container" v-loading="loading" element-loading-text="加载中">
                    <div id="lib :: main_container_header('消防水源管理','消防水源管理')"></div>
                    <div id="tableView">
						<el-row>
							<el-form label-width="75px" :inline="true" class="el-form demo-form-inline">
								<el-row :gutter="40">
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
										<label class="el-form-item__label searchLabel">水源名称</label>
										<el-input size="small" v-model="searchForm.symc" placeholder="水源名称"></el-input>
									</el-col>
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
										<label class="el-form-item__label searchLabel">水源地址</label>
										<el-input size="small" v-model="searchForm.sydz" placeholder="水源地址"></el-input>
									</el-col>
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
										<label class="el-form-item__label searchLabel">水源类型</label>
										<el-select size="small" v-model="searchForm.sylx" placeholder="全部" class="searchSelect" v-on:change="selectsylx()">	
											<el-option v-for="item in SYLX_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-col>  
								</el-row>
								<el-row :gutter="40">
                                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                        <label class="el-form-item__label searchLabel">管辖队站</label>
										<el-select size="small" v-model="searchForm.gxdz" placeholder="全部" class="searchSelect">	
											<el-option v-for="item in GXZD_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-col>
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
										<label class="el-form-item__label searchLabel">水源性质</label>
										<el-select size="small" v-model="searchForm.xz" placeholder="全部" class="searchSelect">	
											<el-option v-for="item in XZ_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-col>
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
										<label class="el-form-item__label searchLabel">可用状态</label>
										<el-select size="small" v-model="searchForm.kyzt" placeholder="全部" class="searchSelect">	
											<el-option v-for="item in KYZT_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-col>   
								</el-row>
								<el-row :gutter="40" v-show="isXhsSelectShow">
                                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                        <label class="el-form-item__label searchLabel">所属管网</label>
										<el-input size="small" v-model="searchForm.xhs_gwid" placeholder="所属管网"></el-input>
									</el-col>
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
										<label class="el-form-item__label searchLabel">设置形式</label>
										<el-select size="small" v-model="searchForm.xhs_szxs" placeholder="全部" class="searchSelect">	
											<el-option v-for="item in xhs_szxs_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-col>
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
										<label class="el-form-item__label searchLabel">管网形式</label>
										<el-select size="small" v-model="searchForm.xhs_gwxs" placeholder="全部" class="searchSelect">	
											<el-option v-for="item in xhs_gwxs_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-col>   
								</el-row>
								<el-row :gutter="40" v-show="isXhsSelectShow">
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
										<label class="el-form-item__label searchLabel">接口形式</label>
										<el-select size="small" v-model="searchForm.xhs_jkxs" placeholder="全部" class="searchSelect">	
											<el-option v-for="item in xhs_jkxs_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-col>   
								</el-row>
								<el-row :gutter="40" v-show="isXfshSelectShow">
                                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                        <label class="el-form-item__label searchLabel">所属管网</label>
										<el-input size="small" v-model="searchForm.xfsh_gwid" placeholder="所属管网"></el-input>
									</el-col>
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
										<label class="el-form-item__label searchLabel">水鹤高度</label>
										<el-input size="small" v-model="searchForm.xfsh_shgd" placeholder="水鹤高度"></el-input>
									</el-col>
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
										<label class="el-form-item__label searchLabel">加水车道</label>
										<el-select size="small" v-model="searchForm.xfsh_jscd" placeholder="全部" class="searchSelect">	
											<el-option v-for="item in xfsh_jscd_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-col>   
								</el-row>
								<el-row :gutter="40" v-show="isXfscSelectShow">
                                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                        <label class="el-form-item__label searchLabel">储水量</label>
										<el-input size="small" v-model="searchForm.xfsc_rl" placeholder="储水量"></el-input>
									</el-col>
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
										<label class="el-form-item__label searchLabel">管网形式</label>
										<el-select size="small" v-model="searchForm.xfsc_gwxs" placeholder="全部" class="searchSelect">	
											<el-option v-for="item in xfsc_gwxs_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-col>
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
										<label class="el-form-item__label searchLabel">停车位置</label>
										<el-input size="small" v-model="searchForm.xfsc_tcwz" placeholder="停车位置"></el-input>
									</el-col>
								</el-row>
								<el-row :gutter="40" v-show="isXfmtSelectShow">
                                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                        <label class="el-form-item__label searchLabel">停车位置</label>
										<el-input size="small" v-model="searchForm.xfmt_tcwz" placeholder="停车位置"></el-input>
									</el-col>
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
										<label class="el-form-item__label searchLabel">枯水期</label>
										<el-input size="small" v-model="searchForm.xfmt_ksq" placeholder="枯水期"></el-input>
									</el-col>
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
										<label class="el-form-item__label searchLabel">水质</label>
										<el-select size="small" v-model="searchForm.xfmt_sz" placeholder="全部" class="searchSelect">	
											<el-option v-for="item in xfmt_sz_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-col>
								</el-row>
								<el-row :gutter="40" v-show="isTrsySelectShow">
                                    <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                        <label class="el-form-item__label searchLabel">天然水源类型</label>
										<el-select size="small" v-model="searchForm.trsy_trsylx" placeholder="全部" class="searchSelect">	
											<el-option v-for="item in trsy_trsylx_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-col>
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
										<label class="el-form-item__label searchLabel">有无枯水期</label>
										<el-select size="small" v-model="searchForm.trsy_ywksq" placeholder="全部" class="searchSelect">	
											<el-option v-for="item in trsy_ywksq_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-col>
								</el-row>
								<div>
									<el-form>
										<el-col :span="12" class="btnEditDelete">
											<el-form-item align="left">
												<!--<el-button type="primary" icon="edit" size="small" @click="editClick">编辑</el-button>-->
												<!-- <el-button type="danger" icon="delete" size="small" @click="removeSelection">删除</el-button>   -->
											</el-form-item>
										</el-col>
										<el-col :span="12"></el-col>
										<el-col :span="12" class="btnSearchPlus">
											<el-form-item>
												<el-button type="primary" icon="search" size="small" @click="searchClick">查询</el-button>
												<el-button type="clear" icon="delete" size="small" @click="clearClick">清空</el-button>
											</el-form-item>
										</el-col>
									</el-form>
								</div>
							</el-form>
						</el-row>

						<div class="table_container">
							<el-table border id="table" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
							 @selection-change="selectionChange" class="tableStyle" :height="tableheight">
								<el-table-column type="selection" min-width="5%"></el-table-column>
								<el-table-column type="index" label="序号" show-overflow-tooltip width="65" align="center"></el-table-column>
								<el-table-column prop="symc" label="水源名称" min-width="12%" show-overflow-tooltip align="center">
									<template slot-scope="scope">
										<a @click="informClick(scope.row)" type="text">{{scope.row.symc||"无"}}</a>
									</template>
								</el-table-column>
								<el-table-column prop="sydz" label="水源地址" min-width="25%" show-overflow-tooltip align="center" :formatter="dataFormat"></el-table-column>
								<el-table-column prop="sylxmc" label="水源类型" min-width="14%" show-overflow-tooltip align="center" :formatter="dataFormat"></el-table-column>
								<el-table-column prop="gxdzmc" label="管辖队站" min-width="14%" show-overflow-tooltip align="center" :formatter="dataFormat"></el-table-column>
								<el-table-column prop="kyztmc" label="可用状态" min-width="10%" show-overflow-tooltip align="center" :formatter="dataFormat"></el-table-column>
								<el-table-column prop="xzmc" label="水源性质" min-width="10%" show-overflow-tooltip align="center" :formatter="dataFormat"></el-table-column>
							</el-table>

							<!--列表底部工具条和分页符-->
							<el-row type="flex" justify="end">
								<el-col :span="18">
									<el-pagination 
										@size-change="pageSizeChange" 
										@current-change="currentPageChange" 
										:current-page="currentPage" 
										:page-sizes="[10, 20, 30, 50]"
										 :page-size="pageSize" 
										 layout="total, sizes, prev, pager, next, jumper" 
										 :total=parseInt(total)>
									</el-pagination>
								</el-col>
							</el-row>
						</div>
						<!--详情界面-->
						<el-dialog title="水源详情页" :visible.sync="detailVisible" @close="closeDialog()" :close-on-click-modal="false">                  
                            <div id="detailDialog"></div>
                        </el-dialog>
					</div>
                </div>
                    <!-- main-container -->
            </div>
        </div>
    </body>
	<script src="../../static/js/lib.js" ></script>
    <script src="../../static/js/menu.js" ></script>
    <script src="../../static/js/basicinfo/firewater_list.js" ></script>
</html>