<html>

<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
    <title>消防车辆信息</title>
</head>

<body class="fw f14 main-index-body">
    <!--车辆详情页-->
    <div id="detailDisplay" v-loading="loading" element-loading-text="加载中">
        <div>
            <el-row>
                <el-col :span="24">
                    <div>
                        <strong class="dtdlStyle">车辆名称：</strong>
                        <v-text v-text="detailData.clmc||'无'"></v-text>
                    </div>
                </el-col>
            </el-row>
            <el-row class="inform-margin">
                <el-col :span="24">
                    <div>
                        <strong class="dtdlStyle">车辆类型：</strong>
                        <v-text v-text="detailData.cllxmc||'无'"></v-text>
                    </div>
                </el-col>
            </el-row>
            <el-row class="inform-margin">
                <el-col :span="24">
                    <div>
                        <strong class="dtdlStyle">车辆状态：</strong>
                        <v-text v-text="detailData.clztmc||'无'"></v-text>
                    </div>
                </el-col>
            </el-row>
            <img @click="this.tz" src="../../static/images/mapbtnmin.png" style="cursor:pointer;float:right;margin-top: -100px;">
            <div style="margin-top: 20px">
                <el-tabs v-model="activeName" style="min-height: 185px">
                    <el-tab-pane name="first" label="基本信息">
                        <el-row>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">车辆编码：</strong>
                                    <v-text v-text="detailData.clbm||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">车牌号码：</strong>
                                    <v-text v-text="detailData.cphm||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="mt15">
                            <el-col :span="24">
                                <div>
                                    <strong class="dtdlStyle">GPS编号：</strong>
                                    <v-text v-text="detailData.gpsbh||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="mt15">
                            <el-col :span="24">
                                <div>
                                    <strong class="dtdlStyle">生产厂家：</strong>
                                    <v-text v-text="detailData.sccj||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="mt15">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">经度：</strong>
                                    <v-text v-text="detailData.gisX||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">纬度：</strong>
                                    <v-text v-text="detailData.gisY||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="mt15">
                            <el-col :span="24">
                                <div>
                                    <strong class="dtdlStyle">备注：</strong>
                                    <v-text v-text="detailData.bz||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <HR align=center width=600 color=#987cb9SIZE=1 style="margin-bottom: 10px"></HR>
                        <el-row>
                            <strong style="font-size: 16px">责任归属</strong>
                        </el-row>
                        <el-row class="mt15">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">行政区划：</strong>
                                    <v-text v-text="detailData.xzqhmc||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">所属队站：</strong>
                                    <v-text v-text="detailData.ssdzmc||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                    </el-tab-pane>
                    <el-tab-pane name="second" label="消防信息">
                        <el-row>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">水泵流量(L/s)：</strong>
                                    <v-text v-text="detailData.sbll||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">载水量(t)：</strong>
                                    <v-text v-text="detailData.zsl||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="mt15">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">消防炮流量(L/s)：</strong>
                                    <v-text v-text="detailData.xfpll||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">水泵额定压力(Mpa)：</strong>
                                    <v-text v-text="detailData.sbedyl||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="mt15">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">车载灭火剂类别：</strong>
                                    <v-text v-text="detailData.czmhjlbmc||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">车载灭火剂量(t)：</strong>
                                    <v-text v-text="detailData.czmhjl||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="mt15">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">灭火剂混合比：</strong>
                                    <v-text v-text="detailData.mhjhhb||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12" v-if="test()">
                                <div>
                                    <strong class="dtdlStyle">举高类车辆高度(m)：</strong>
                                    <v-text v-text="detailData.jglgd||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                    </el-tab-pane>
                </el-tabs>
            </div>
        </div>
    </div>
</body>
<script src="../../static/js/vue.js"></script>
<script src="../../static/js/vue.min.js"></script>
<script src="../../static/js/elementUI.js"></script>
<script src="../../static/js/basicinfo/fireengine_detail.js"></script>

</html>