<html>
<head>
</head>
<body class="fw f14 main-index-body">
    <!--水源详情页-->
    <div id="detailDisplay">
        <div class="dib" id="basic-Inform-Title">
            <div class="detailBox" style="display: inline-flex;">
                <div class="detailBox">
                    <div class="yamc_Single">
                        <div>
                            <dl class="inform-left">
                                <dt class="dtdlStyle">水源名称：</dt>
                                <dd class="dtdlStyle">{{detailData.symc||'无'}}</dd>
                            </dl>
                        </div>
                        <div style="margin-top: 15px;">
                            <dl class="inform-left">
                                <dt class="dtdlStyle">水源地址：</dt>
                                <dd class="dtdlStyle">{{detailData.sydz||'无'}}</dd>
                            </dl>
                        </div>
                        <div style="margin-top: 15px;">
                            <dl class="inform-left">
                                <dt class="dtdlStyle">可用状态：</dt>
                                <dd class="dtdlStyle">{{detailData.kyztmc||'无'}}</dd>
                            </dl>
                        </div>
                        <img @click="this.tz" src="../../static/images/mapbtnmin.png" style="cursor:pointer;float:right;margin-top: -100px;">
                    </div>
                    <div class="inform-content" style="width: 100%;margin-bottom: 0px;margin-top: 40px">
                        <el-tabs v-model="activeName" type="border-card" @tab-click="handleClick">
                            <el-tab-pane label="基本信息" name="first">
                                <div class="inform-div" style="min-height:200px">
                                    <div class="left-inform" style="width: 250px">
                                        <div>
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">水源类型：</dt>
                                                <dd class="dtdlStyle">{{detailData.sylxmc||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">管辖队站：</dt>
                                                <dd class="dtdlStyle">{{detailData.gxdzmc||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">取水形式：</dt>
                                                <dd class="dtdlStyle">{{detailData.qsxs||"无"}}</dd>
                                            </dl>
                                        </div>
                                        
                                    </div>
                                    <div class="right-inform" style="width: 250px">                                                                              
                                        <div>
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">水源性质：</dt>
                                                <dd class="dtdlStyle">{{detailData.xzmc||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">建造时间：</dt>
                                                <dd class="dtdlStyle">{{detailData.jzsj||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">启用时间：</dt>
                                                <dd class="dtdlStyle">{{detailData.qysj||"无"}}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                    </div>
                            </el-tab-pane>
                            <el-tab-pane label="位置信息" name="second">
                                <div class="inform-div" style="min-height:200px;flex-wrap:wrap">
                                    <div class="left-inform" style="width: 250px">
                                        <div>
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">毗邻情况（东）：</dt>
                                                <dd class="dtdlStyle">{{detailData.blgxd||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">毗邻情况（西）：</dt>
                                                <dd class="dtdlStyle">{{detailData.blgxx||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">毗邻情况（南）：</dt>
                                                <dd class="dtdlStyle">{{detailData.blgxn||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">毗邻情况（北）：</dt>
                                                <dd class="dtdlStyle">{{detailData.blgxb||"无"}}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="right-inform" style="width:250px">  
                                        <div>
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">经度：</dt>
                                                <dd class="dtdlStyle">{{detailData.bdLon||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">纬度：</dt>
                                                <dd class="dtdlStyle">{{detailData.bdLat||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">所属路段：</dt>
                                                <dd class="dtdlStyle">{{detailData.ssld||"无"}}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div id="dituContent" style="width:500px;height:300px;border:#ccc solid 1px;margin-top:40px">     
                                    </div>
                                </div>
                            </el-tab-pane>
                            <el-tab-pane label="责任归属" name="third">
                                <div class="inform-div" style="min-height:200px">
                                    <div class="left-inform" style="width: 250px">
                                        <div>
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">管辖队站：</dt>
                                                <dd class="dtdlStyle">{{detailData.gxdzmc||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">行政区划：</dt>
                                                <dd class="dtdlStyle">{{detailData.xzqy||"无"}}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="right-inform" style="width: 250px">                                                                              
                                    </div>
                                </div>
                            </el-tab-pane>
                            <el-tab-pane label="属性信息" name="fourth">
                                <div class="inform-div" id="XHS" style="display:none;min-height:200px">
                                    <div class="left-inform" style="width: 250px">
                                        <div>
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">设置形式：</dt>
                                                <dd class="dtdlStyle">{{detailData.xhs_szxsmc||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">所属管网：</dt>
                                                 <dd class="dtdlStyle">{{detailData.xhs_gwid||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">管网形式：</dt>
                                                <dd class="dtdlStyle">{{detailData.xhs_gwxsmc||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">管网直径：</dt>
                                                <dd class="dtdlStyle">{{detailData.xhs_gwzj||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">管网压力：</dt>
                                                <dd class="dtdlStyle">{{detailData.xhs_gwyl||"无"}}</dd>
                                            </dl>
                                        </div>
                                        
                                    </div>
                                    <div class="right-inform" style="width: 250px">
                                        <div>
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">联系方式：</dt>
                                                <dd class="dtdlStyle">{{detailData.xhs_lxfs||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">接口形式：</dt>
                                                <dd class="dtdlStyle">{{detailData.xhs_jkxsmc||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">接口口径：</dt>
                                                <dd class="dtdlStyle">{{detailData.xhs_jkkj||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">流量：</dt>
                                                <dd class="dtdlStyle">{{detailData.xhs_ll||"无"}}</dd>
                                            </dl>
                                        </div>
                                        <div class="inform-margin">
                                            <dl class="inform-left">
                                                <dt class="dtdlStyle">供水单位：</dt>
                                                <dd class="dtdlStyle">{{detailData.xhs_gsdw||"无"}}</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>

                                    <div class="inform-div" id="XFSC" style="display:none;min-height:200px">
                                        <div class="left-inform" style="width: 250px">
                                            <div>
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">水源标高差：</dt>
                                                    <dd class="dtdlStyle">{{detailData.xfsc_sybgc||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">储水量：</dt>
                                                    <dd class="dtdlStyle">{{detailData.xfsc_rl||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">进水流量：</dt>
                                                    <dd class="dtdlStyle">{{detailData.xfsc_jsll||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">取水最大流量：</dt>
                                                    <dd class="dtdlStyle">{{detailData.xfsc_qszdll||"无"}}</dd>
                                                </dl>
                                            </div>
                                            
                                        </div>
                                        <div class="right-inform" style="width: 250px">
                                            <div>
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">管网形式：</dt>
                                                    <dd class="dtdlStyle">{{detailData.xfsc_gwxsmc||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">停车位置：</dt>
                                                    <dd class="dtdlStyle">{{detailData.xfsc_tcwz||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">停车数量：</dt>
                                                    <dd class="dtdlStyle">{{detailData.xfsc_tcsl||"无"}}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="inform-div" id="XFSH" style="display:none;min-height:200px">
                                        <div class="left-inform" style="width: 250px">
                                            <div>
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">所属管网：</dt>
                                                    <dd class="dtdlStyle">{{detailData.xfsh_gwid||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">管网直径：</dt>
                                                    <dd class="dtdlStyle">{{detailData.xfsh_szxs||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">管网压力：</dt>
                                                    <dd class="dtdlStyle">{{detailData.xfsh_gwyl||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">水鹤高度：</dt>
                                                    <dd class="dtdlStyle">{{detailData.xfsh_shgd||"无"}}</dd>
                                                </dl>
                                            </div>
                                            
                                        </div>
                                        <div class="right-inform" style="width: 250px">
                                            <div>
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">流量：</dt>
                                                    <dd class="dtdlStyle">{{detailData.xfsh_ll||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">进水管直径：</dt>
                                                    <dd class="dtdlStyle">{{detailData.xfsh_jsgzj||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">出水管直径：</dt>
                                                    <dd class="dtdlStyle">{{detailData.xfsh_csgzj||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">加水车道：</dt>
                                                    <dd class="dtdlStyle">{{detailData.xfsh_jscdmc||"无"}}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="inform-div" id="XFMT" style="display:none;min-height:200px">
                                        <div class="left-inform" style="width: 250px">
                                            <div>
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">取水口与水面高差：</dt>
                                                    <dd class="dtdlStyle">{{detailData.xfmt_sybgc||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">停车位置：</dt>
                                                    <dd class="dtdlStyle">{{detailData.xfmt_tcwz||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">同时取水车辆数：</dt>
                                                    <dd class="dtdlStyle">{{detailData.xfmt_tcsl||"无"}}</dd>
                                                </dl>
                                            </div>
                                            
                                        </div>
                                        <div class="right-inform" style="width: 250px">
                                            <div>
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">枯水期：</dt>
                                                    <dd class="dtdlStyle">{{detailData.xfmt_ksqmc||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">水质：</dt>
                                                    <dd class="dtdlStyle">{{detailData.xfmt_szmc||"无"}}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="inform-div" id="TRSY" style="display:none;min-height:200px">
                                        <div class="left-inform" style="width: 250px">
                                            <div>
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">天然水源类型：</dt>
                                                    <dd class="dtdlStyle">{{detailData.trsy_trsylxmc||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">水质：</dt>
                                                    <dd class="dtdlStyle">{{detailData.trsy_szmc||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">有无枯水期：</dt>
                                                    <dd class="dtdlStyle">{{detailData.trsy_ywksqmc||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">四季变化：</dt>
                                                    <dd class="dtdlStyle">{{detailData.trsy_sjbh||"无"}}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="right-inform" style="width: 250px">
                                            <div>
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">天然水源容量：</dt>
                                                    <dd class="dtdlStyle">{{detailData.trsy_trsyrl||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">天然水源面积：</dt>
                                                    <dd class="dtdlStyle">{{detailData.trsy_trsymj||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">吸水深度：</dt>
                                                    <dd class="dtdlStyle">{{detailData.trsy_xssd||"无"}}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </el-tab-pane>
                        
                        </el-tabs>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../static/js/vue.js"></script>
<script src="../../static/js/elementUI.js"></script>
<script src="../../static/js/basicinfo/firewater_detail.js"></script>
</html>
