<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
    <title>消防车辆信息详情</title>
</head>

<body class="fw f14 main-index-body">
    <div id="header_box"></div>
    <div class="left-sidebar">
        <a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
        <div id="menu-box">
            <big-tree default-active="52"></big-tree>
        </div>
    </div>
    <div id="app">
        <div class="main-box">
            <div class="main-container">
                <div id="lib :: main_container_header('消防车辆信息详情','消防车辆信息详情')"></div>
                <div id="tableView">
                    <div class="inform-content">
                        <template>
                            <el-tabs v-model="activeName" type="border-card">
                                    <div class="inform-div">
                                        <div class="left-inform">
                                            <div>
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">单件装备状况：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.DJZBZKDM}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">所属消防机构：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.SSXFJGID}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">GPS编号：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.gpsbh}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">车辆等级：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.cldjdm}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">车牌号码：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.cphm}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">规格号码：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.gghm}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">资产编号：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.zcbh}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">参考价：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.ckj}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">商标：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.sb}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">颜色：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.ys}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">国别代码：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.gbdm}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">生产厂家名称：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.sccjid}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">进口装备国内代理商：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.jkgn}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">售后服务：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.shfw}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">责任人姓名：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.zrrxm}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">出厂日期：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.ccrq}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">装备日期：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.zbrq}}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="right-inform">
                                            <div>
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">报废日期：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.bfrq}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">有效期至：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.yxqz}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">累计运输时间：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.ljyxsj}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">累计使用次数：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.ljsycs}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">本次保养日期：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.bcbyrq}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">下次保养日期：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.xcbyrq}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">车架号：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.cjh}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">发动机编号：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.fdjbh}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">批次号：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.pch}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">计量单位：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.jldwdm}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">是否用于训练：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.sfyyxl}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">锁定状态：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.sdzt}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">电台呼号：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.dthh}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">是否装配：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.sfzp}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">是否跨支队：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.sfzhdkqy}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">是否跨总队：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.sfzdkqy}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">车辆编号：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.clbh}}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                            </el-tabs>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../static/js/lib.js" ></script>
<script src="../../static/js/menu.js" ></script>
<script src="../../static/js/basicinfo/fireengine_detail.js"></script>

</html>