<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/basicinfo/firedrug.css">
</head>

<body class="fw f14 main-index-body">
	<div id="header_box"></div>
	<div class="left-sidebar">
		<a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
		<input type="hidden" id="activeIndex" />
		<div id="menu-box">
			<big-tree default-active=""></big-tree>
		</div>
	</div>
	<div id="app">
		<div class="main-box">
			<div class="main-container" v-loading="loading" element-loading-text="加载中">
				<div id="lib :: main_container_header('消防药剂信息','消防药剂信息')"></div>
				<!-- 面包屑 -->
				<div id="breadcrumb_box"></div>
				<div id="tableView">
					<el-row>
						<el-form label-width="110px" :inline="true" class="el-form demo-form-inline">
							<el-row>
								<el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
								<el-col :xs="9" :sm="9" :md="9" :lg="9" :xl="9" class="searchInline">
									<label class="el-form-item__label searchLabel">药剂名称</label>
									<el-input v-model="searchForm.yjmc" placeholder="药剂名称" clearable></el-input>
								</el-col>
								<el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
								<el-col :xs="9" :sm="9" :md="9" :lg="9" :xl="9" class="searchInline">
									<label class="el-form-item__label searchLabel">药剂类型</label>
									<el-cascader :options="allYjlxDataTree" :props="defaultProps" size="small" v-model="searchForm.yjlx" placeholder="全部" class="searchSelect"
									 clearable change-on-select></el-cascader>
								</el-col>
								<el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
								<el-col :xs="9" :sm="9" :md="9" :lg="9" :xl="9" class="searchInline">
									<label class="el-form-item__label searchLabel">储备量</label>
									<el-slider v-model="searchForm.cbl" range :max="1000" class="searchSelect"></el-slider>
								</el-col>
								<el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
								<el-col :xs="9" :sm="9" :md="9" :lg="9" :xl="9" class="searchInline">
									<label class="el-form-item__label searchLabel">所属队站</label>
									<el-select size="small" v-model="searchForm.ssdz" placeholder="全部" class="searchSelect" clearable>
										<el-option v-for="type in allSsdzData" :label="type.codeName" :value="type.dzid" :key="type.codeName"></el-option>
									</el-select>
								</el-col>
								<el-col :xs="2" :sm="2" :md="2" :lg="2" :xl="2">&nbsp;</el-col>
							</el-row>
							<div>
								<el-form>
									<el-col :span="12" class="btnEditDelete">
										<el-form-item align="left">
										</el-form-item>
									</el-col>
									<el-col :span="12"></el-col>
									<el-col :span="12" class="btnSearchPlus">
										<el-form-item>
											<el-button type="primary" icon="search" size="small" @click="searchClick">查询</el-button>
											<el-button type="clear" icon="delete" size="small" @click="clearClick">清空</el-button>
										</el-form-item>
									</el-col>
								</el-form>
							</div>
						</el-form>
					</el-row>

					<div class="table_container">
						<el-table border id="table" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" @selection-change="selectionChange"
						 class="tableStyle" :height="tableheight">
							<!-- <el-table-column type="selection" min-width="5%"></el-table-column> -->
							<el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
							<el-table-column prop="yjmc" label="药剂名称" show-overflow-tooltip min-width="25%" align="center">
								<template slot-scope="scope">
									<a @click="drugDatail(scope.row)" type="text">{{scope.row.yjmc}}</a>
								</template>
							</el-table-column>
							<el-table-column prop="yjbm" label="药剂编码" show-overflow-tooltip min-width="20%" align="center"></el-table-column>
							<el-table-column prop="dzmc" label="所属队站" show-overflow-tooltip min-width="15%" align="center"></el-table-column>
							<el-table-column prop="yjlxmc" label="药剂类型" show-overflow-tooltip min-width="20%" align="center"></el-table-column>
							<el-table-column prop="zcbl" label="总储备量" show-overflow-tooltip min-width="10%" align="center">
								<template slot-scope="scope">
									<el-popover placement="bottom" width="100" trigger="click" ref="popover2">
										<div :data="scope.row">
											<el-row>车载量（t）:
												<v-text v-text="scope.row.czl"></v-text>
											</el-row>
											<el-row>库存量（t）:
												<v-text v-text="scope.row.kcl"></v-text>
											</el-row>
										</div>
									</el-popover>
									<a type="text" v-popover:popover2>
										<v-text v-text="scope.row.zcbl"></v-text>
									</a>
								</template>
							</el-table-column>
						</el-table>

						<!--列表底部工具条和分页符-->
						<el-row type="flex" justify="end">
							<el-col :span="18">
								<el-pagination @current-change="currentPageChange" :current-page="currentPage" :page-sizes="[10, 20, 30, 50]" :page-size="pageSize"
								 layout="total, prev, pager, next, jumper" :total=parseInt(total)>
								</el-pagination>
							</el-col>
						</el-row>
					</div>
				</div>
				<!--消防药剂详情界面-->
				<el-dialog title="消防药剂详情" :visible.sync="drugDetailVisible" @close="closeDialog()" :close-on-click-modal="false">
					<div v-loading="loading_detail" element-loading-text="加载中">
						<el-row class="inform-text">
							<el-col :span="24">
								<div>
									<strong class="dtdlStyle">药剂名称：</strong>
									<v-text v-text="tableData_detail.yjmc||'无'"></v-text>
								</div>
							</el-col>
						</el-row>
						<el-row class="inform-text inform-margin">
							<el-col :span="24">
								<div>
									<strong class="dtdlStyle">药剂编码：</strong>
									<v-text v-text="tableData_detail.yjbm||'无'"></v-text>
								</div>
							</el-col>
						</el-row>
						<el-row class="inform-text inform-margin">
								<el-col :span="24">
									<div>
										<strong class="dtdlStyle">药剂类型：</strong>
										<v-text v-text="tableData_detail.yjlxmc||'无'"></v-text>
									</div>
								</el-col>
							</el-row>
						<div class="mt10">
							<el-tabs v-model="activeName" class="mb5">
								<el-tab-pane name="first" label="基本信息">
									<el-row class="mb10">
										<el-col :span="12">
											<div>
												<strong class="dtdlStyle">总储备量（t）：</strong>
												<v-text v-text="tableData_detail.zcbl||'无'"></v-text>
											</div>
										</el-col>
										<el-col :span="12">
											<div>
												<strong class="dtdlStyle">生产厂家：</strong>
												<v-text v-text="tableData_detail.sccj||'无'"></v-text>

											</div>
										</el-col>
									</el-row>
									<el-row class="mb10">
										<el-col :span="12">
											<div>
												<strong class="dtdlStyle">车载量（t）：</strong>
												<v-text v-text="tableData_detail.kcl||'无'"></v-text>
											</div>
										</el-col>
										<el-col :span="12">
											<div>
												<strong class="dtdlStyle">生产时间：</strong>
												<v-text v-text="tableData_detail.scsj||'无'"></v-text>
											</div>
										</el-col>
									</el-row>
									<el-row class="mb10">
										<el-col :span="12">
											<div>
												<strong class="dtdlStyle">库存量（t）：</strong>
												<v-text v-text="tableData_detail.kcl||'无'"></v-text>
											</div>
										</el-col>
										<el-col :span="12">
											<div>
												<strong class="dtdlStyle">生产批次：</strong>
												<v-text v-text="tableData_detail.pc||'无'"></v-text>
											</div>
										</el-col>
									</el-row>
									<HR align=center width=600 color=#987cb9SIZE=1 style="margin-bottom: 10px"></HR>
									<el-row>
										<strong style="font-size: 16px">责任归属</strong>
									</el-row>
									<el-row class="mb10 mt10">
										<el-col :span="12">
											<div>
												<strong class="dtdlStyle">行政区划：</strong>
												<v-text v-text="tableData_detail.xzqhmc||'无'"></v-text>
											</div>
										</el-col>
										<el-col :span="12">
											<div>
												<strong class="dtdlStyle">所属队站：</strong>
												<v-text v-text="tableData_detail.dzmc||'无'"></v-text>
											</div>
										</el-col>
									</el-row>
								</el-tab-pane>
							</el-tabs>
						</div>
					</div>
				</el-dialog>
			</div>
		</div>
	</div>
</body>
<script src="../../static/js/lib.js"></script>
<script src="../../static/js/basicinfo/firedrug_list.js"></script>
<script src="../../static/js/menu.js"></script>

</html>