<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
</head>

<body class="fw f14 main-index-body">
	<div id="header_box"></div>
	<div class="left-sidebar">
		<a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
		<div id="menu-box">
			<big-tree default-active="44"></big-tree>
		</div>
	</div>
	<div id="app">
		<div class="main-box">
			<div class="main-container" v-loading="loading" element-loading-text="加载中">
				<div id="lib :: main_container_header('消防车辆信息','消防车辆信息')"></div>
				<div id="tableView">
					<el-row>
						<el-form label-width="75px" :inline="true" class="el-form demo-form-inline">
							<el-row :gutter="40">
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">所属队站</label>
									<el-select size="small" v-model="searchForm.ssdz" placeholder="全部" class="searchSelect" clearable>
                                        <el-option v-for="type in allTeamsData" :label="type.codeName" :value="type.codeValue" :key="type.codeName"></el-option>
                                    </el-select>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">车辆类型</label>
									<el-select size="small" v-model="searchForm.cllx" placeholder="全部" class="searchSelect" clearable>
                                        <el-option v-for="type in allTypesData" :label="type.codeName" :value="type.codeValue" :key="type.codeName"></el-option>
                                    </el-select>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">车牌号码</label>
									<el-input size="small" v-model="searchForm.cphm" placeholder="车牌号码"></el-input>
								</el-col>
							</el-row>
							<el-row :gutter="40">
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">车辆状态</label>
									<el-select size="small" v-model="searchForm.clzt" placeholder="全部" class="searchSelect" clearable>
                                        <el-option v-for="type in allStatesData" :label="type.codeName" :value="type.codeValue" :key="type.codeName"></el-option>
                                    </el-select>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">水泵流量</label>
									<el-input size="small" v-model="searchForm.sbll" placeholder="水泵流量（L/s）"></el-input>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">载水量</label>
									<el-input size="small" v-model="searchForm.zsl" placeholder="载水量（t）"></el-input>
								</el-col>
							</el-row>
							<div>
								<el-form>
									<el-col :span="12" class="btnEditDelete">
										<el-form-item align="left">
										</el-form-item>
									</el-col>
									<el-col :span="12"></el-col>
									<el-col :span="12" class="btnSearchPlus">
										<el-form-item>
											<el-button type="primary" icon="search" size="small" @click="searchClick">查询</el-button>
											<el-button type="clear" icon="delete" size="small" @click="clearClick">清空</el-button>
										</el-form-item>
									</el-col>
								</el-form>
							</div>
						</el-form>
					</el-row>

					<div class="table_container">
						<el-table border id="table" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
						 @selection-change="selectionChange" class="tableStyle" :height="tableheight">
							<el-table-column type="selection" min-width="5%"></el-table-column>
							<el-table-column prop="clmc" label="车辆名称" min-width="20%" show-overflow-tooltip align="center">
								<!-- <template slot-scope="scope">
									<a @click="detailClick(scope.row)" type="text">{{scope.row.clmc}}</a>
								</template> -->
							</el-table-column>
							<el-table-column prop="ssdz" label="所属队站" min-width="20%" show-overflow-tooltip align="center"></el-table-column>
							<el-table-column prop="cllxmc" label="车辆类型" min-width="13%" show-overflow-tooltip align="center"></el-table-column>
							<el-table-column prop="cphm" label="车牌号码" min-width="12%" show-overflow-tooltip align="center"></el-table-column>
							<el-table-column prop="clztmc" label="车辆状态" min-width="10%" show-overflow-tooltip align="center"></el-table-column>
							<el-table-column prop="sbll" label="水泵流量" min-width="10%" show-overflow-tooltip align="center"></el-table-column>
							<el-table-column prop="zsl" label="载水量" min-width="10%" show-overflow-tooltip align="center"></el-table-column>
						</el-table>

						<!--列表底部工具条和分页符-->
						<el-row type="flex" justify="end">
							<el-col :span="18">
								<el-pagination 
									@size-change="pageSizeChange" 
									@current-change="currentPageChange" 
									:current-page="currentPage" 
									:page-sizes="[10, 20, 30, 50]"
									:page-size="pageSize" 
									layout="total, sizes, prev, pager, next, jumper" 
									:total=parseInt(total)>
								</el-pagination>
							</el-col>
						</el-row>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="../../static/js/lib.js"></script>
<script src="../../static/js/menu.js"></script>
<script src="../../static/js/basicinfo/fireengine_list.js"></script>

</html>