<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>消防车辆管理</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
</head>

<body class="fw f14 main-index-body">
	<div id="header_box"></div>
	<div class="left-sidebar">
		<a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
		<input type="hidden" id="activeIndex" />
		<div id="menu-box">
			<big-tree default-active=""></big-tree>
		</div>
	</div>
	<div id="app">
		<div class="main-box">
			<div class="main-container" v-loading="loading" element-loading-text="加载中">
				<div id="lib :: main_container_header('消防车辆信息','消防车辆信息')"></div>
				<!-- 面包屑 -->
				<div id="breadcrumb_box"></div>
				<div id="tableView">
					<el-row>
						<el-form label-width="75px" :inline="true" class="el-form demo-form-inline">
							<el-row :gutter="40">
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">所属队站</label>
									<el-select size="small" v-model="searchForm.ssdz" placeholder="全部" class="searchSelect" clearable>
										<el-option v-for="type in allTeamsData" :label="type.codeName" :value="type.codeValue" :key="type.codeName"></el-option>
									</el-select>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">车辆类型</label>
									<el-cascader :options="allTypesData" :props="props" size="small" v-model="searchForm.cllx" placeholder="全部" class="searchSelect"
									 clearable change-on-select></el-cascader>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">车牌号码</label>
									<el-input size="small" v-model="searchForm.cphm" placeholder="车牌号码"></el-input>
								</el-col>
							</el-row>
							<el-row :gutter="40">
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">车辆状态</label>
									<el-select size="small" v-model="searchForm.clzt" placeholder="全部" class="searchSelect" clearable>
										<el-option v-for="type in allStatesData" :label="type.codeName" :value="type.codeValue" :key="type.codeName"></el-option>
									</el-select>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">车辆编码</label>
									<el-input size="small" v-model="searchForm.clbm" placeholder="车辆编码"></el-input>
								</el-col>
								<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">GPS编号</label>
									<el-input size="small" v-model="searchForm.gpsbh" placeholder="GPS编号"></el-input>
								</el-col>
							</el-row>
							<div>
								<el-form>
									<el-col :span="12" class="btnEditDelete">
										<el-form-item align="left">
										</el-form-item>
									</el-col>
									<el-col :span="12"></el-col>
									<el-col :span="12" class="btnSearchPlus">
										<el-form-item>
											<el-button type="primary" icon="search" size="small" @click="searchClick">查询</el-button>
											<el-button type="clear" icon="delete" size="small" @click="clearClick">清空</el-button>
										</el-form-item>
									</el-col>
								</el-form>
							</div>
						</el-form>
					</el-row>
					<div class="table_container">
						<el-table border id="table" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" @selection-change="selectionChange"
						 class="tableStyle" :height="tableheight">
							<el-table-column type="index" label="序号" show-overflow-tooltip width="70px" align="center"></el-table-column>
							<el-table-column prop="clmc" label="车辆名称" min-width="18%" show-overflow-tooltip align="center">
								<template slot-scope="scope">
									<a @click="informClick(scope.row)" type="text" v-text="scope.row.clmc"></a>
								</template>
							</el-table-column>
							<el-table-column prop="ssdzmc" label="所属队站" min-width="20%" show-overflow-tooltip align="center"></el-table-column>
							<el-table-column prop="cllxmc" label="车辆类型" min-width="16%" show-overflow-tooltip align="center"></el-table-column>
							<el-table-column prop="cphm" label="车牌号码" min-width="13%" show-overflow-tooltip align="center"></el-table-column>
							<el-table-column prop="clztmc" label="车辆状态" min-width="11%" show-overflow-tooltip align="center"></el-table-column>
							<el-table-column prop="clbm" label="车辆编码" min-width="11%" show-overflow-tooltip align="center"></el-table-column>
							<el-table-column prop="gpsbh" label="GPS编号" min-width="11%" show-overflow-tooltip align="center"></el-table-column>
						</el-table>

						<!--列表底部工具条和分页符-->
						<el-row type="flex" justify="end">
							<el-col :span="18">
								<el-pagination @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage" :page-sizes="[10, 20, 30, 50]"
								 :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total=parseInt(total)>
								</el-pagination>
							</el-col>
						</el-row>
					</div>
					<!--详情界面-->
					<el-dialog title="车辆详情页" :visible.sync="detailVisible" @close="closeDialog()" :close-on-click-modal="false">
						<div id="detailDialog"></div>
					</el-dialog>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="../../static/js/lib.js"></script>
<script src="../../static/js/basicinfo/fireengine_list.js"></script>
<script src="../../static/js/menu.js"></script>

</html>