<html>
<head>
    <script src="../../static/js/vue.js"></script>
    <script src="../../static/js/vue.min.js"></script>
    <script src="../../static/js/elementUI.js"></script>
    <script src="../../static/js/basicinfo/firestation_detail.js"></script>
</head>
<body class="fw f14 main-index-body">
    <!--详情界面-->
    <div id="detailDisplay" >
        <div>
            <el-row class="inform-marginz">
                <el-col span="18">
                    <div>
                        <strong class="dtdlStyle">执勤车辆数(台)：</strong>
                        <v-text v-text="detailData.zqcls||'无'"></v-text>
                    </div>
                </el-col>
             </el-row>
             <el-row class="inform-margin">
                <el-col :span="18">
                    <div>
                        <strong class="dtdlStyle">装备器材数(个)：</strong>
                        <v-text v-text="detailData.zbqcs||'无'"></v-text>
                    </div>
                </el-col>
            </el-row>
            <el-row class="inform-margin">
                <el-col :span="18">
                    <div>
                        <strong class="dtdlStyle">灭火剂总量(t)：</strong>
                        <v-text v-text="detailData.mhjzl||'无'"></v-text>
                    </div>
                </el-col>
            </el-row>
            <img @click="this.tz" src="../../static/images/mapbtnmin.png" style="cursor:pointer;float:right;margin-top: -100px;">
        </div>
        <div style="margin-top: 20px">
            <el-tabs v-model="activeName" style="min-height: 185px">
                <el-tab-pane name="first" label="基本信息">
                    <el-row>
                        <el-col :span="12">
                            <div>
                                <strong class="dtdlStyle">辖区面积：</strong>
                                <v-text v-text="detailData.xqmj||'无'"></v-text>
                            </div>
                        </el-col>
                        <el-col :span="12">
                            <div>
                                <strong class="dtdlStyle">辖区范围：</strong>
                                <v-text v-text="detailData.xqfw||'无'"></v-text>
                            </div>
                        </el-col>
                    </el-row>
                    <el-row class="inform-margin">
                        <el-col :span="12">
                            <div>
                                <strong class="dtdlStyle">经度：</strong>
                                <v-text v-text="detailData.gisX||'无'"></v-text>
                            </div>
                        </el-col>
                        <el-col :span="12">
                            <div>
                                <strong class="dtdlStyle">纬度：</strong>
                                <v-text v-text="detailData.gisY||'无'"></v-text>
                            </div>
                        </el-col>
                    </el-row>
                    <div v-show="isZongDui">
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">下辖支队数：</strong>
                                    <v-text v-text="zongddetailData.xxzhids||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">下辖中队数：</strong>
                                    <v-text v-text="zongddetailData.xxzhongds||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                    </div>
                    <div v-show="isZhiDui">
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">下辖大队数：</strong>
                                    <v-text v-text="zhiddetailData.xxdads||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">下辖中队数：</strong>
                                    <v-text v-text="zhiddetailData.xxzhongds||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">是否独立接警：</strong>
                                    <v-text v-text="zhiddetailData.sfdljj||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                    </div>
                    <div v-show="isDaDui">
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">下辖中队数：</strong>
                                    <v-text v-text="daddetailData.xxzhongds||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">是否独立接警：</strong>
                                    <v-text v-text="daddetailData.sfdljj||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                    </div>
                    <div v-show="isQiTaXiaoFangDuiWu">
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">管辖单位：</strong>
                                    <v-text v-text="qtxfdwdetailData.gxdw||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">管辖单位联系方式：</strong>
                                    <v-text v-text="qtxfdwdetailData.gxdwlxfs||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                    </div>
                </el-tab-pane>
                <el-tab-pane name="second" label="人员信息">
                    <div v-show="isZongDui">
                        <el-row>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">现役官兵人数：</strong>
                                    <v-text v-text="zongddetailData.xygbrs||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">政府专职消防员数：</strong>
                                    <v-text v-text="zongddetailData.zfzzxfys||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">文职雇员数：</strong>
                                    <v-text v-text="zongddetailData.wzgys||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">总队长：</strong>
                                    <v-text v-text="zongddetailData.zdzxm||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">总队长联系方式：</strong>
                                    <v-text v-text="zongddetailData.zdzlxfs||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">总政委：</strong>
                                    <v-text v-text="zongddetailData.zdzwxm||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">总政委联系方式：</strong>
                                    <v-text v-text="zongddetailData.zdzwlxfs||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                    </div>
                    <div v-show="isZhiDui">
                        <el-row>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">现役官兵人数：</strong>
                                    <v-text v-text="zhiddetailData.xygbrs||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">政府专职消防员数：</strong>
                                    <v-text v-text="zhiddetailData.zfzzxfys||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">文职雇员数：</strong>
                                    <v-text v-text="zhiddetailData.xfwys||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">支队长：</strong>
                                    <v-text v-text="zhiddetailData.zdzxm||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">支队长联系方式：</strong>
                                    <v-text v-text="zhiddetailData.zdzlxfs||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">支队政委：</strong>
                                    <v-text v-text="zhiddetailData.zdzwxm||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">支队政委联系方式：</strong>
                                    <v-text v-text="zhiddetailData.zdzwlxfs||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                    </div>
                    <div v-show="isDaDui">
                        <el-row>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">现役官兵人数：</strong>
                                    <v-text v-text="daddetailData.xygbrs||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">政府专职消防员数：</strong>
                                    <v-text v-text="daddetailData.zfzzxfys||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">文职雇员数：</strong>
                                    <v-text v-text="daddetailData.xfwys||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">大队长：</strong>
                                    <v-text v-text="daddetailData.ddzxm||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">大队长联系方式：</strong>
                                    <v-text v-text="daddetailData.ddzlxfs||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">教导员：</strong>
                                    <v-text v-text="daddetailData.jdyxm||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">教导员联系方式：</strong>
                                    <v-text v-text="daddetailData.jdylxfs||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">副大队长：</strong>
                                    <v-text v-text="daddetailData.fddzxm||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">副大队长联系方式：</strong>
                                    <v-text v-text="daddetailData.fddzlxfs||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">副教导员：</strong>
                                    <v-text v-text="daddetailData.fjdyxm||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">副教导员联系方式：</strong>
                                    <v-text v-text="daddetailData.fjdylxfs||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                    </div>
                    <div v-show="isZhongDui">
                        <el-row>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">现役人数：</strong>
                                    <v-text v-text="zhongddetailData.xyrs||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">政府专职消防员数：</strong>
                                    <v-text v-text="zhongddetailData.zfzzxfys||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">每日执勤人数：</strong>
                                    <v-text v-text="zhongddetailData.mrzqrs||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">中队长：</strong>
                                    <v-text v-text="zhongddetailData.zdzxm||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">中队长联系方式：</strong>
                                    <v-text v-text="zhongddetailData.zdzlxfs||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">指导员：</strong>
                                    <v-text v-text="daddetailData.zdyxm||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">指导员联系方式：</strong>
                                    <v-text v-text="daddetailData.zdylxfs||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">副指导员：</strong>
                                    <v-text v-text="daddetailData.fzdyxm||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">副指导员联系方式：</strong>
                                    <v-text v-text="daddetailData.fzdylxfs||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">副中队长一：</strong>
                                    <v-text v-text="daddetailData.fzdzxm1||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">副中队长一联系方式：</strong>
                                    <v-text v-text="daddetailData.fzdzlxfs1||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">副中队长二：</strong>
                                    <v-text v-text="daddetailData.fzdzxm2||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">副中队长二联系方式：</strong>
                                    <v-text v-text="daddetailData.fzdzlxfs2||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">副中队长三：</strong>
                                    <v-text v-text="daddetailData.fzdzxm3||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">副中队长三联系方式：</strong>
                                    <v-text v-text="daddetailData.fzdzlxfs3||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                    </div>
                    <div v-show="isQiTaXiaoFangDuiWu">
                        <el-row>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">消防队员总人数：</strong>
                                    <v-text v-text="qtxfdwdetailData.xfdyzrs||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">每日执勤人数：</strong>
                                    <v-text v-text="qtxfdwdetailData.mrzqrs||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row class="inform-margin">
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">队长：</strong>
                                    <v-text v-text="qtxfdwdetailData.dzxm||'无'"></v-text>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div>
                                    <strong class="dtdlStyle">队长联系方式：</strong>
                                    <v-text v-text="qtxfdwdetailData.dzlxfs||'无'"></v-text>
                                </div>
                            </el-col>
                        </el-row>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>
</body>

</html>
