dl {
    margin-bottom: 0;
}
.dtdlStyle {
    margin-left: 5px;
}
.inform-content {
    margin-bottom: 0;
}
.cardBack{
    background-color:#F5F5F5;
}
.cardBorder{
    border-top: 1px solid #d1dbe5;
}
.el-dialog--small {
    width: 20%;
}
.el-dialog__header{
    text-align:center
}
.btngroup>img{
    width: 120px;
    margin-bottom: 5px;
}
.btngroup>img:hover{
    cursor:pointer
}
.picList:hover{
    cursor:pointer;
    color: #20a0ff;
}
.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
  }
  
  .el-carousel__item:nth-child(2n) {
    /* background-color: #99a9bf; */
    background-color: rgba(255,255,255,0.2);
  }
  
  .el-carousel__item:nth-child(2n+1) {
    /* background-color: #d3dce6; */
    background-color: rgba(255,255,255,0.2);
  }
  .el-dialog--large{
    background-color: rgba(255,255,255,0.2);
}