dl {
    margin-bottom: 0;
}
.dtdlStyle {
    margin-left: 5px;
}
.inform-content {
    margin-bottom: 0;
}
.cardBack{
    background-color:#F5F5F5;
}
.cardBorder{
    border-top: 1px solid #d1dbe5;
}
.el-card__header {
    padding: 8px 15px;
}
