
    <head id="common_header">
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title text="数字化预案管理平台"></title>
        <link rel="stylesheet" type="text/css" href="./../css/reset.css">
        <link rel="stylesheet" type="text/css" href="./../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./../css/zxx.lib.css">
        <link rel="stylesheet" type="text/css" href="../../css/element.css">
        <link rel="stylesheet" type="text/css" href="../../css/app.css">
        <link rel="stylesheet" type="text/css" href="../../css/formal.css">
        <script src="../lib/jquery-3.2.1.min.js"></script>
        <script src="../lib/vue.js"></script>
        <script src="../lib/elementUI.js" charset="utf-8"></script>
        <script src="../lib/vue-resource.min.js"></script>
        <script src="../lib/axios.min.js"></script>
        <!-- 动态菜单 -->
        <script src="../lib/lib.js"></script>
    </head>