<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/lib.css">

</head>
<body>
    

        <div class="header-box navbar" id="header_box">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" id="oscar-nav-btn" type="button" data-toggle="collapse" data-target="#bs-navbar"
                    aria-controls="bs-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                 <!--   <a href="../" class="navbar-brand">  去掉logo点击进入登录页链接 -->
                    <a class="navbar-brand"></a>    
                    <div class="logo2">
                            <!-- 运营拍档 -->
                        </div>
                    </a>
                </div>
                <!-- /navbar-header -->
                <nav class="navbar-collapse collapse" id="bs-nav">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="fix" id="zhanshi" href="/templates/bigscreen/big_screen_all.html">
                                <img src="../../static/images/shishizhanshi.png">
                            </a>
                        </li>
                        <li>
                            <a class="glyphicon glyphicon-cog" href="javascript:;"></a>
                        </li>
                        <li>
                            <a class="f12" href="javascript:;">
                                &nbsp;&nbsp;<span>管理员</span>&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-triangle-top oscar-arrow frame-duration"></span>
                                <div class="dada abs ovh">
                                    <div class="dada-item">
                                        <span class="glyphicon glyphicon-user"></span>
                                        <span class="ml5">个人中心</span>
                                    </div>
                                    <form id="login-out-form" action="/api/logout" method="get" onsubmit="return false;" style="display:none"></form> 
                                    <div class="dada-item" id="logout" onclick="logOut()">
                                        <span class="glyphicon glyphicon-off"></span>
                                        <span class="ml5" >退出</span>  
                                    </div>
                                </div>
                                <!-- /dada -->
                            </a>
                        </li>
                    </ul>
                </nav>
              <!--  <div class="dada2 abs ovh f12">
                    <div class="dada-item">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="ml5">个人中心</span>
                    </div>
                    <div class="dada-item">
                        <span class="glyphicon glyphicon-off"></span>
                        <span class="ml5">退出</span>
                    </div>
                </div>-->
                <!-- /dada -->

            
            </div>
            <!-- /container -->
        </div>
        <!-- /header-box -->
    </body>
    <script src="../static/js/lib.js"></script>
    <script>
    </script>
</html>