<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Vue.js实例</title>
    <link rel="stylesheet" type="text/css" href="../static/css/lib.css">
</head>

<body class="fw f14 main-index-body">
    <div id="header_box"></div>
    <div class="left-sidebar">
        <a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
       
        <div id="menu-box" >
            <big-tree default-active="1"></big-tree>
        </div>

    </div>
    <div id="app">
        <div class="main-box">
            <div class="main-container">
                <div id="index">
                    <table width="100%">
                        <tr>
                            <td class="tc">
                                <div style="vertical-align: middle; display: inline-block;">
                                    <div>
                                        <span>
                                            <h1>
                                                <font color="#6d6e7d" size="16" face="黑体">公安部消防局数字化预案管理平台</font>
                                            </h1>
                                        </span>
                                    </div>
                                    <br>
                                    <div>
                                        <img src="../static/images/tu.png" style="width:100%; max-width:693px;">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../static/js/lib.js"></script>
<script src="../static/js/menu.js"></script>
<script src="../static/js/index.js"></script>

</html>