<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
    <title>单位建筑信息</title>
</head>

<body class="fw f14 main-index-body">
    <div id="app">
        <div class="main-box">
            <div class="main-container" v-loading="loading" element-loading-text="加载中">
                <div id="lib :: main_container_header('建筑分区','建筑分区')"></div>
                <!-- 面包屑 -->
                <div id="breadcrumb_box"></div>
                <div id="tableView">
                    <div class="nameBoxPic">
                        <div id="basic-Inform-Picture" class="detailPic">
                            <img id="photo" class="detail_picture_size">
                        </div>
                        <div class="dibPic">
                            <div>
                                <h3 class="dib inform-h3" v-text="detailData.jzmc"></h3>&nbsp&nbsp
                                <el-tag color="#0f82ee" size="medium" style="font-size:13px;" v-if="detailData.jzlxmc !== null" v-text="detailData.jzlxmc"></el-tag>
                            </div>
                            <dl>
                                <dt class="dib inform-small-title detail_margin">位置：</dt>
                                <dd class="dtdlStyle" v-text="detailData.jzwz||'无'"></dd>
                                <br>
                                <dt class="dib inform-small-title detail_margin">经度：</dt>
                                <dd class="dtdlStyle" v-text="detailData.lon||'无'"></dd>
                                <br>
                                <dt class="dib inform-small-title detail_margin">纬度：</dt>
                                <dd class="dtdlStyle" v-text="detailData.lat||'无'"></dd>
                                <br>
                                <dt class="dib inform-small-title detail_margin">辖区行车路线：</dt>
                                <dd class="dtdlStyle" v-text="detailData.xqxclx||'无'"></dd>
                                <br>
                                <dt class="dib inform-small-title detail_margin">预计到达时长(min)：</dt>
                                <dd class="dtdlStyle" v-text="detailData.yjddsc||'无'"></dd>
                            </dl>
                        </div>
                        <!--
                        <div class="dib" id="Title-zzl" v-show="isZzlShow">
                            <div>
                                <h3 class="dib inform-h3">{{detailData.jzmc||"无"}}</h3>
                                <el-tag color="#0f82ee" size="medium" style="font-size:13px;" v-if="detailData.jzlxmc !== null">{{detailData.jzlxmc}}</el-tag>
                            </div>
                            <dl>
                                <dt class="dib inform-small-title">位置：</dt>
                                <dd class="dtdlStyle">{{detailData.jzwz||"无"}}</dd>
                                <br>
                                <dt class="dib inform-small-title">经度：</dt>
                                <dd class="dtdlStyle">{{detailData.lon||"无"}}</dd>
                                <br>
                                <dt class="dib inform-small-title">纬度：</dt>
                                <dd class="dtdlStyle">{{detailData.lat||"无"}}</dd>
                                <br>
                                <dt class="dib inform-small-title">辖区行车路线：</dt>
                                <dd class="dtdlStyle">{{detailData.xqxclx||"无"}}</dd>
                                <br>
                                <dt class="dib inform-small-title">预计到达时长：</dt>
                                <dd class="dtdlStyle">{{detailData.yjddsc||"无"}}</dd>
                            </dl>
                        </div>
                        <div class="dib" id="Title-cgl" v-show="isCglShow">
                            <div>
                                <h3 class="dib inform-h3">{{detailData.jzmc||"无"}}</h3>
                                <el-tag color="#0f82ee" size="medium" style="font-size:13px;" v-if="detailData.jzlxmc !== null">{{detailData.jzlxmc}}</el-tag>
                            </div>
                            <dl>
                                <dt class="dib inform-small-title">位置：</dt>
                                <dd class="dtdlStyle">{{detailData.jzwz||"无"}}</dd>
                                <br>
                                <dt class="dib inform-small-title">经度：</dt>
                                <dd class="dtdlStyle">{{detailData.lon||"无"}}</dd>
                                <br>
                                <dt class="dib inform-small-title">纬度：</dt>
                                <dd class="dtdlStyle">{{detailData.lat||"无"}}</dd>
                                <br>
                                <dt class="dib inform-small-title">辖区行车路线：</dt>
                                <dd class="dtdlStyle">{{detailData.xqxclx||"无"}}</dd>
                                <br>
                                <dt class="dib inform-small-title">预计到达时长：</dt>
                                <dd class="dtdlStyle">{{detailData.yjddsc||"无"}}</dd>
                            </dl>
                        </div>
                        -->
                    </div>
                    <div class="inform-content">
                        <template>
                            <el-tabs v-model="activeName" type="border-card" @tab-click="handleClick">
                                <el-tab-pane label="基本信息" name="first">
                                    <div v-if="isJzlShow">
                                        <el-row>
                                            <el-col :span="12">
                                                <div>
                                                    <strong class="dtdlStyle">使用性质：</strong>
                                                    <v-text v-text="detailData.jzl_jzsyxzmc||'无'"></v-text>
                                                </div>
                                            </el-col>
                                            <el-col :span="12">
                                                <div>
                                                    <strong class="dtdlStyle">建筑结构：</strong>
                                                    <v-text v-text="detailData.jzl_jzjgmc||'无'"></v-text>
                                                </div>
                                            </el-col>   
                                        </el-row>
                                        <el-row class="inform-margin">
                                            <el-col :span="24">
                                                <div>
                                                    <strong class="dtdlStyle">功能描述：</strong>
                                                    <v-text v-text="detailData.jzl_gnms||'无'"></v-text>
                                                </div>
                                            </el-col>
                                        </el-row>
                                        <el-row class="inform-margin">
                                            <el-col :span="12">
                                                <div>
                                                    <strong class="dtdlStyle">占地面积(㎡)：</strong>
                                                    <v-text v-text="detailData.jzl_zdmj||'无'"></v-text>
                                                </div>
                                            </el-col>
                                            <el-col :span="12">
                                                <div>
                                                    <strong class="dtdlStyle">建筑面积(㎡)：</strong>
                                                    <v-text v-text="detailData.jzl_jzmj||'无'"></v-text>
                                                </div>
                                            </el-col>
                                        </el-row>
                                        <el-row class="inform-margin">
                                            <el-col :span="12">
                                                <div>
                                                    <strong class="dtdlStyle">地上高度(m)：</strong>
                                                    <v-text v-text="detailData.jzl_dsgd||'无'"></v-text>
                                                </div>
                                            </el-col>
                                            <el-col :span="12">
                                                <div>
                                                    <strong class="dtdlStyle">地下高度(m)：</strong>
                                                    <v-text v-text="detailData.jzl_dxgd||'无'"></v-text>
                                                </div>
                                            </el-col>
                                        </el-row>
                                        <el-row class="inform-margin">
                                            <el-col :span="12">
                                                <div>
                                                    <strong class="dtdlStyle">地上层数：</strong>
                                                    <v-text v-text="detailData.jzl_dscs||'无'"></v-text>
                                                </div>
                                            </el-col>
                                            <el-col :span="12">
                                                <div>
                                                    <strong class="dtdlStyle">地下层数：</strong>
                                                    <v-text v-text="detailData.jzl_dxcs||'无'"></v-text>
                                                </div>
                                            </el-col>
                                        </el-row>
                                        <el-row class="inform-margin">
                                            <el-col :span="24">
                                                <div>
                                                    <strong class="dtdlStyle">备注：</strong>
                                                    <v-text v-text="detailData.bz||'无'"></v-text>
                                                </div>
                                            </el-col>
                                        </el-row>
                                    </div>
                                    <div v-if="isZzlShow">
                                        <el-card class="card_style">
                                            <div slot="header" class="clearfix">
                                                <strong class="card_title_font">装置信息</strong>
                                            </div>
                                            <div>
                                                <el-row>
                                                    <el-col :span="8">
                                                        <div>
                                                            <strong class="card_title_font">建筑结构：</strong>
                                                            <v-text v-text="detailData.zzl_jzjgmc||'无'"></v-text>
                                                        </div>
                                                    </el-col>
                                                    <el-col :span="8">
                                                        <div>
                                                            <strong class="card_title_font">占地面积(㎡)：</strong>
                                                            <v-text v-text="detailData.zzl_zdmj||'无'"></v-text>
                                                        </div>
                                                    </el-col>
                                                    <el-col :span="8">
                                                        <div>
                                                            <strong class="card_title_font">装置高度(m)：</strong>
                                                            <v-text v-text="detailData.zzl_zzgd||'无'"></v-text>
                                                        </div>
                                                    </el-col>
                                                </el-row>
                                                <el-row>
                                                    <el-col :span="24">
                                                        <div>
                                                            <strong class="card_title_font">装置组成：</strong>
                                                            <v-text v-text="detailData.zzl_zzzc||'无'"></v-text>
                                                        </div>
                                                    </el-col>
                                                </el-row>
                                            </div>
                                        </el-card>
                                        <el-card class="card_style">
                                            <div slot="header" class="clearfix">
                                                <strong class="card_title_font">技术负责人</strong>
                                            </div>
                                            <div>
                                                <el-row>
                                                    <el-col :span="12">
                                                        <div>
                                                            <strong class="card_title_font">负责人：</strong>
                                                            <v-text v-text="detailData.zzl_jsfzr||'无'"></v-text>
                                                        </div>
                                                    </el-col>
                                                    <el-col :span="12">
                                                        <div>
                                                            <strong class="card_title_font">负责人电话：</strong>
                                                            <v-text v-text="detailData.zzl_jsfzrdh||'无'"></v-text>
                                                        </div>
                                                    </el-col>
                                                </el-row>
                                            </div>
                                        </el-card>
                                        <el-card class="card_style">
                                            <div slot="header" class="clearfix">
                                                <strong class="card_title_font">原料信息</strong>
                                            </div>
                                            <div>
                                                <el-row>
                                                    <el-col :span="24">
                                                        <div>
                                                            <v-text v-text="detailData.zzl_ylxx||'无'"></v-text>
                                                        </div>
                                                    </el-col>
                                                </el-row>
                                            </div>
                                        </el-card>
                                        <el-card class="card_style">
                                            <div slot="header" class="clearfix">
                                                <strong class="card_title_font">产物信息</strong>
                                            </div>
                                            <div>
                                                <el-row>
                                                    <el-col :span="24">
                                                        <div>
                                                            <v-text v-text="detailData.zzl_cwxx||'无'"></v-text>
                                                        </div>
                                                    </el-col>
                                                </el-row>
                                            </div>
                                        </el-card>
                                        <el-card class="card_style">
                                            <div slot="header" class="clearfix">
                                                <strong class="card_title_font">工艺流程</strong>
                                            </div>
                                            <div>
                                                <el-row>
                                                    <el-col :span="24">
                                                        <div>
                                                            <v-text v-text="detailData.zzl_gylc||'无'"></v-text>
                                                        </div>
                                                    </el-col>
                                                </el-row>
                                            </div>
                                        </el-card>
                                    </div>
                                    <div v-if="isCglShow">
                                        <el-card class="card_style">
                                            <div slot="header" class="clearfix">
                                                <strong class="card_title_font">罐区信息</strong>
                                            </div>
                                            <div>
                                                <el-row>
                                                    <el-col :span="12">
                                                        <div>
                                                            <strong class="card_title_font">罐组总容积(m³)：</strong>
                                                            <v-text v-text="detailData.cgl_zrj||'无'"></v-text>
                                                        </div>
                                                    </el-col>
                                                    <el-col :span="12">
                                                        <div>
                                                            <strong class="card_title_font">储罐数量(个)：</strong>
                                                            <v-text v-text="detailData.cgl_cgsl||'无'"></v-text>
                                                        </div>
                                                    </el-col>
                                                </el-row>
                                                <el-row>
                                                    <el-col :span="12">
                                                        <div>
                                                            <strong class="card_title_font">储罐间隔(m)：</strong>
                                                            <v-text v-text="detailData.cgl_cgjg||'无'"></v-text>
                                                        </div>
                                                    </el-col>
                                                    <el-col :span="12">
                                                        <div>
                                                            <strong class="card_title_font">存储介质描述：</strong>
                                                            <v-text v-text="detailData.cgl_ccjzms||'无'"></v-text>
                                                        </div>
                                                    </el-col>
                                                </el-row>
                                            </div>
                                        </el-card>
                                        <el-card class="card_style">
                                            <div slot="header" class="clearfix">
                                                <strong class="card_title_font">技术负责人</strong>
                                            </div>
                                            <div>
                                                <el-row>
                                                    <el-col :span="12">
                                                        <div>
                                                            <strong class="card_title_font">负责人：</strong>
                                                            <v-text v-text="detailData.cgl_jsfzr||'无'"></v-text>
                                                        </div>
                                                    </el-col>
                                                    <el-col :span="12">
                                                        <div>
                                                            <strong class="card_title_font">负责人电话：</strong>
                                                            <v-text v-text="detailData.cgl_jsfzrdh||'无'"></v-text>
                                                        </div>
                                                    </el-col>
                                                </el-row>
                                            </div>
                                        </el-card>
                                        <el-card class="card_style">
                                            <div slot="header" class="clearfix">
                                                <strong class="card_title_font">罐区毗邻情况</strong>
                                            </div>
                                            <div>
                                                <el-row>
                                                    <el-col :span="12">
                                                        <div>
                                                            <strong class="card_title_font">东：</strong>
                                                            <v-text v-text="detailData.cgl_plqkd||'无'"></v-text>
                                                        </div>
                                                    </el-col>
                                                    <el-col :span="12">
                                                        <div>
                                                            <strong class="card_title_font">西：</strong>
                                                            <v-text v-text="detailData.cgl_plqkx||'无'"></v-text>
                                                        </div>
                                                    </el-col>
                                                </el-row>
                                                <el-row>
                                                    <el-col :span="12">
                                                        <div>
                                                            <strong class="card_title_font">南：</strong>
                                                            <v-text v-text="detailData.cgl_plqkn||'无'"></v-text>
                                                        </div>
                                                    </el-col>
                                                    <el-col :span="12">
                                                        <div>
                                                            <strong class="card_title_font">北：</strong>
                                                            <v-text v-text="detailData.cgl_plqkb||'无'"></v-text>
                                                        </div>
                                                    </el-col>
                                                </el-row>
                                            </div>
                                        </el-card>
                                        <el-card class="card_style">
                                            <div slot="header" class="clearfix">
                                                <strong class="card_title_font">储罐信息</strong>
                                            </div>
                                            <div id="cg">
                                                <el-table :data="detailData.chuguanList" border class="detailTable">
                                                    <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                    <el-table-column prop="cgmc" label="储罐名称" align="center" show-overflow-tooltip></el-table-column>
                                                    <el-table-column prop="cglxmc" label="储罐类型" width="160" align="center" show-overflow-tooltip></el-table-column>
                                                    <el-table-column prop="cgzj" label="储罐直径" width="95" align="center" show-overflow-tooltip></el-table-column>
                                                    <el-table-column prop="cggd" label="储罐高度" width="95" align="center" show-overflow-tooltip></el-table-column>
                                                    <el-table-column prop="cgzc" label="储罐周长" width="95" align="center" show-overflow-tooltip></el-table-column>
                                                    <el-table-column prop="gzyl" label="罐顶压力" width="95" align="center" show-overflow-tooltip></el-table-column>
                                                    <el-table-column prop="ccwd" label="存储温度" width="95" align="center" show-overflow-tooltip></el-table-column>
                                                </el-table>
                                            </div>
                                        </el-card>
                                    </div>
                                </el-tab-pane>
                                <el-tab-pane label="消防设施" name="second">
                                    <el-card class="card_style">
                                        <div slot="header" class="clearfix">
                                            <strong class="card_title_font">安全疏散措施</strong>
                                        </div>
                                        <div v-if="this.AQSSCS === false">
                                            无
                                        </div>
                                        <div v-if="this.isAqckShow">
                                            <strong>安全出口</strong>
                                            <el-table :data="aqckData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="sl" label="数量" width="130" align="center"></el-table-column>
                                            </el-table>
                                        </div>
                                        <div v-if="this.isSsltShow">
                                            <strong>疏散楼梯</strong>
                                            <el-table :data="ssltData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="sl" label="数量" width="130" align="center"></el-table-column>
                                            </el-table>
                                        </div>
                                        <div v-if="this.isXfdtShow">
                                            <strong>消防电梯</strong>
                                            <el-table :data="xfdtData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="sl" label="数量" width="130" align="center"></el-table-column>
                                            </el-table>
                                        </div>
                                        <div v-if="this.isBncShow">
                                            <strong>避难)</strong>
                                            <el-table :data="bncData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                            </el-table>
                                        </div>
                                        <div v-if="this.isYjgbShow">
                                            <strong>应急广播</strong>
                                            <el-table :data="yjgbData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="ywyjgb" label="有无应急广播" align="center" width="130" ></el-table-column>
                                            </el-table>
                                        </div>
                                    </el-card>
                                    <el-card class="card_style">
                                        <div slot="header" class="clearfix">
                                            <strong class="card_title_font">消防水系统</strong>
                                        </div>
                                        <div v-if="this.XFSXT === false">
                                            无
                                        </div>
                                        <div v-if="this.isXfbfShow">
                                            <strong>消防泵房</strong>
                                            <el-table :data="xfbfData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="xhssl" label="消火栓泵数量" align="center" width="130" ></el-table-column>
                                                <el-table-column prop="xhszdll" label="消火栓最大流量(L/s)" align="center" width="130" ></el-table-column>
                                                <el-table-column prop="blbsl" label="喷淋泵数量" align="center" width="130" ></el-table-column>
                                                <el-table-column prop="plbzdll" label="喷淋泵最大流量(L/s)" align="center" width="130" ></el-table-column>
                                            </el-table>
                                        </div>
                                        <div v-if="this.isXfsxShow">
                                            <strong>消防水箱</strong>
                                            <el-table :data="xfsxData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="sxrl" label="水箱容量(m³)" align="center" width="130" ></el-table-column>
                                                <el-table-column prop="bjsd" label="补给速度(L/s)" align="center" width="130" ></el-table-column>
                                            </el-table>
                                        </div>
                                        <div v-if="this.isXfscShow">
                                            <strong>消防水池</strong>
                                            <el-table :data="xfscData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="sxrl" label="水箱容量(m³)" align="center" width="130" ></el-table-column>
                                                <el-table-column prop="bjsd" label="补给速度(L/s)" align="center" width="150" ></el-table-column>
                                                <el-table-column prop="ywqsj" label="是否有取水口（井）" align="center" width="180" ></el-table-column>
                                                <el-table-column prop="qsjwz" label="取水口（井）位置" align="center" width="200" show-overflow-tooltip></el-table-column>
                                            </el-table>
                                        </div>
                                        <div v-if="this.isSnxhsShow">
                                            <strong>室内消火栓</strong>
                                            <el-table :data="snxhsData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="sl" label="数量" align="center" width="130" ></el-table-column>
                                                <el-table-column prop="sfky" label="是否可用" align="center" width="130" ></el-table-column>
                                            </el-table>
                                        </div>
                                        <div v-if="this.isSwxhsShow">
                                            <strong>室外消火栓</strong>
                                            <el-table :data="swxhsData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="sl" label="数量" align="center" width="130" ></el-table-column>
                                                <el-table-column prop="sfky" label="是否可用" align="center" width="130" ></el-table-column>
                                            </el-table>
                                        </div>
                                        <div v-if="this.isSbjhqShow">
                                            <strong>水泵接合器</strong>
                                            <el-table :data="sbjhqData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="xh" label="型号" align="center" width="200" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="azxsmc" label="安装形式" align="center" width="130" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="jskcc" label="进水口尺寸" align="center" width="130" show-overflow-tooltip></el-table-column>
                                            </el-table>
                                        </div>
                                        <div v-if="this.isPlxtShow">
                                            <strong>喷淋系统</strong>
                                            <el-table :data="plxtData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="ywplxt" label="有无喷淋系统" align="center" width="130" ></el-table-column>
                                            </el-table>
                                        </div>
                                        <div v-if="this.isLqsxtShow">
                                            <strong>冷却水系统</strong>
                                            <el-table :data="lqsxtData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="ywlqsxt" label="有无冷却水系统" align="center" width="130" ></el-table-column>
                                                <el-table-column prop="gsqd" label="供水强度(L/min.m2)" align="center" width="200" ></el-table-column>
                                            </el-table>
                                        </div>
                                        <div v-if="this.isGdspShow">
                                            <strong>固定水炮</strong>
                                            <el-table :data="gdspData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="sl" label="数量" align="center" width="130" ></el-table-column>
                                                <el-table-column prop="isky" label="是否可用" align="center" width="130" ></el-table-column>
                                            </el-table>
                                        </div>
                                        <div v-if="this.isBgdssShow">
                                            <strong>半固定设施</strong>
                                            <el-table :data="bgdssData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="sl" label="数量" align="center" width="130" ></el-table-column>
                                            </el-table>
                                        </div>
                                    </el-card>
                                    <el-card class="card_style">
                                        <div slot="header" class="clearfix">
                                            <strong class="card_title_font">泡沫系统</strong>
                                        </div>
                                        <div v-if="this.PMXT === false">
                                            无
                                        </div>
                                        <div v-if="this.isPmbfShow">
                                            <strong>泡沫泵房</strong>
                                            <el-table :data="pmbfData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="pmylxmc" label="泡沫液类型" align="center" width="200" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="pmycl" label="泡沫液储量(t)" align="center" width="130" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="pmbzdll" label="泡沫泵最大流量(L/s)" align="center" width="200" show-overflow-tooltip></el-table-column>
                                            </el-table>
                                        </div>
                                        <div v-if="this.isPmxhsShow">
                                            <strong>泡沫消火栓</strong>
                                            <el-table :data="pmxhsData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="isky" label="是否可用" align="center" width="130" ></el-table-column>
                                            </el-table>
                                        </div>
                                        <div v-if="this.isGdpmpShow">
                                            <strong>固定泡沫炮</strong>
                                            <el-table :data="gdpmpData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="sl" label="数量" align="center" width="130" ></el-table-column>
                                                <el-table-column prop="sfky" label="是否可用" align="center" width="130" ></el-table-column>
                                            </el-table>
                                        </div>
                                        <div v-if="this.isPmfsqShow">
                                            <strong>泡沫发生器</strong>
                                            <el-table :data="pmfsqData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="xh" label="型号" align="center" width="200" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="sl" label="数量" align="center" width="130" ></el-table-column>
                                                <el-table-column prop="ll" label="流量(L/s)" align="center" width="130" ></el-table-column>
                                            </el-table>
                                        </div>
                                        <div v-if="this.isPmBgdssShow">
                                            <strong>半固定设施</strong>
                                            <el-table :data="pmBgdssData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="sl" label="数量" align="center" width="130" ></el-table-column>
                                            </el-table>
                                        </div>
                                    </el-card>
                                    <el-card class="card_style">
                                        <div slot="header" class="clearfix">
                                            <strong class="card_title_font">蒸汽灭火系统</strong>
                                        </div>
                                        <div v-if="this.ZQMHXT === false">
                                            无
                                        </div>
                                        <div v-if="this.isGdsShow">
                                            <strong>固定式</strong>
                                            <el-table :data="gdsData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="sl" label="数量" align="center" width="130" ></el-table-column>
                                                <el-table-column prop="edyl" label="额定压力(Mpa)" align="center" width="200" ></el-table-column>
                                            </el-table>
                                        </div>
                                        <div v-if="this.isBgdsShow">
                                            <strong>半固定式</strong>
                                            <el-table :data="bgdsData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="sl" label="数量" align="center" width="130" ></el-table-column>
                                                <el-table-column prop="edyl" label="额定压力(Mpa)" align="center" width="200" ></el-table-column>
                                            </el-table>
                                        </div>
                                    </el-card>
                                    <el-card class="card_style">
                                        <div slot="header" class="clearfix">
                                            <strong class="card_title_font">消防控制室</strong>
                                        </div>
                                        <div v-if="this.XFKZS === false">
                                            无
                                        </div>
                                        <div v-if="this.XFKZS">
                                            <el-table :data="xfkzsData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="iszdbj" label="自动报警是否可用" align="center" width="200" ></el-table-column>
                                                <el-table-column prop="isldkz" label="联动控制是否可用" align="center" width="200" ></el-table-column>
                                            </el-table>
                                        </div>
                                    </el-card>
                                    <el-card class="card_style">
                                        <div slot="header" class="clearfix">
                                            <strong class="card_title_font">防排烟措施</strong>
                                        </div>
                                        <div v-if="this.FPYCS === false">
                                            无
                                        </div>
                                        <div v-if="this.isPycykShow">
                                            <strong>排烟口/出烟口</strong>
                                            <el-table :data="pycykData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                            </el-table>
                                        </div>
                                        <div v-if="this.isFpyxtShow">
                                            <strong>防排烟系统</strong>
                                            <el-table :data="fpyxtData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="qbwz" label="系统启闭位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="isky" label="是否可用" align="center" width="130" ></el-table-column>
                                            </el-table>
                                        </div>
                                    </el-card>
                                    <el-card class="card_style">
                                        <div slot="header" class="clearfix">
                                            <strong class="card_title_font">防火分区</strong>
                                        </div>
                                        <div v-if="this.FHFQ === false">
                                            无
                                        </div>
                                        <div v-if="this.FHFQ">
                                            <el-table :data="fhfqData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="qywz" label="区域位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="qymj" label="区域面积(m2)" align="center" width="160" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="fgss" label="分隔设施" align="center" width="160" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="fgwz" label="分隔位置" align="center" show-overflow-tooltip></el-table-column>
                                            </el-table>
                                        </div>
                                    </el-card>
                                    <el-card class="card_style">
                                        <div slot="header" class="clearfix">
                                            <strong class="card_title_font">其他灭火系统</strong>
                                        </div>
                                        <div v-if="this.QTMHXT === false">
                                            无
                                        </div>
                                        <div v-if="this.isQtmhxtShow">
                                            <strong>气体灭火系统</strong>
                                            <el-table :data="qtmhxtData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="qbwz" label="起闭位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="zyfw" label="作用范围" align="center" width="200" show-overflow-tooltip></el-table-column>
                                            </el-table>
                                        </div>
                                        <div v-if="this.isGfmhxtShow">
                                            <strong>干粉灭火系统</strong>
                                            <el-table :data="gfmhxtData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="qbwz" label="起闭位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="zyfw" label="作用范围" align="center" width="200" show-overflow-tooltip></el-table-column>
                                            </el-table>
                                        </div>
                                    </el-card>
                                    <el-card class="card_style">
                                        <div slot="header" class="clearfix">
                                            <strong class="card_title_font">其他消防设施</strong>
                                        </div>
                                        <div v-if="this.QTXFSS === false">
                                            无
                                        </div>
                                        <div v-if="this.QTXFSS">
                                            <el-table :data="qtxfssData" border class="detailTable">
                                                <el-table-column type="index" label="序号" width="65" align="center"></el-table-column>
                                                <el-table-column prop="wz" label="位置" align="center" show-overflow-tooltip></el-table-column>
                                                <el-table-column prop="ms" label="描述" align="center" width="200" show-overflow-tooltip></el-table-column>
                                            </el-table>
                                        </div>
                                    </el-card>
                                </el-tab-pane>
                            </el-tabs>
                        </template>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../static/js/buildingzoning/buildingzoning_detail.js"></script>
</html>