.el-form-item {
    margin-bottom: 15px !important;
    width: 90%;
}
.el-form-item__error{
    padding-top:0px;
}
.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
    background-color: #E8EFF4;
}