<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/digitalplan/advancedsearch.css"> 
    </head>
	<body class="fw f14 main-index-body">
		<div id="header_box"></div>
        <div class="left-sidebar">
            <a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
            <input type="hidden" id="activeIndex"/>
            <div id="menu-box">
                <big-tree default-active=""></big-tree>
            </div>
        </div>
        <div id="app">
            <div class="main-box">
                <div class="main-container" v-loading="loading" element-loading-text="加载中">
                    <div id="lib :: main_container_header('高级搜索','高级搜索')"></div>
                    <div id="tableView">
                        <el-tabs v-model="activeName" type="card" @tab-click="handleClick">
                            <el-tab-pane label="预案信息" name="first">
                                <el-form :model="yuAnSearchForm" class="el-form demo-form-inline">
                                    <el-row>
                                        <el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20" class="searchInline">
                                            <label class="el-form-item__label searchLabel">预案名称</label>
                                            <el-input size="medium " v-model="yuAnSearchForm.YAMC" placeholder="预案名称/预案对象名称" style="width:85%;"></el-input>
                                        </el-col>
                                        <el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3" class="searchInline">
                                            <el-button type="primary" icon="search" size="small" @click="searchClick">查询</el-button>
                                            <el-button type="clear" icon="delete" size="small" @click="clearClick">清空</el-button>
                                        </el-col>
                                    </el-row>
                                    <el-form-item label="预案对象">
                                        <el-radio-group size="medium" v-model="yuAnSearchForm.YADX">
                                            <el-radio-button v-for="item in yadx_data" :label="item.codeValue"><v-text v-text="item.codeName"></v-text></el-radio-button>
                                        </el-radio-group>
                                    </el-form-item>
                                    <el-form-item label="预案类型">
                                        <el-radio-group size="medium" v-model="yuAnSearchForm.YALX">
                                            <el-radio-button v-for="item in yalx_data" :label="item.codeValue"><v-text v-text="item.codeName"></v-text></el-radio-button>
                                        </el-radio-group>
                                    </el-form-item>
                                    <el-form-item label="预案级别">
                                        <el-radio-group size="medium" v-model="yuAnSearchForm.YAJB">
                                            <el-radio-button v-for="item in yajb_data" :label="item.codeValue"><v-text v-text="item.codeName"></v-text></el-radio-button>
                                        </el-radio-group>
                                    </el-form-item>
                                    <el-form-item label="审核状态">
                                        <el-radio-group size="medium" v-model="yuAnSearchForm.SHZT">
                                            <el-radio-button v-for="item in shzt_data" :label="item.codeValue"><v-text v-text="item.codeName"></v-text></el-radio-button>
                                        </el-radio-group>
                                    </el-form-item>
                                    <el-form-item label="制作时间">
                                        <el-radio-group size="medium" v-model="yuAnSearchForm.LRSJ" @change="lrsjFormat">
                                            <el-radio-button v-for="item in lrsj_data" :label="item.codeValue"><v-text v-text="item.codeName"></v-text></el-radio-button>
                                        </el-radio-group>
                                        <el-date-picker v-model="yaxx_lrsj" type="daterange" placeholder="录入时间" format="yyyy/MM/dd" value-format="yyyy/MM/dd" range-separator="至"
                                            start-placeholder="开始日期" end-placeholder="结束日期" @change="timeChange" v-show="isZdy">
                                        </el-date-picker>
                                    </el-form-item>
                                </el-form>
                                <div style="margin-top: 40px">
                                    <el-card v-for="data in tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" style="margin-bottom:12px;background-color:#F5F5F5">
                                        <el-row>
                                            <el-col :span="24">
                                                <div><strong @click="planDetails(data)" style="cursor: pointer;font-size:20px;" v-text="data.yamc"></strong>&nbsp&nbsp
                                                    <el-tag color="#0f82ee" size="medium" style="font-size:13px;" v-if="data.yajbmc !== null" v-text="data.yajbmc"></el-tag>
                                                </div>
                                            </el-col>
                                        </el-row>
                                        <el-row style="margin-top: 15px">
                                            <el-col :span="12">
                                                <div>对象名称：<v-text v-text="data.dxmc"></v-text></div>
                                            </el-col>
                                            <el-col :span="12">
                                                <div>预案类型：<v-text v-text="data.yalxmc"></v-text></div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                    <div type="flex" justify="end">
                                        <el-pagination
                                        @current-change="handleCurrentChange"
                                        :current-page="currentPage"
                                        :page-size="pageSize"
                                        layout="total, sizes, prev, pager, next, jumper"
                                        :total=parseInt(total)>
                                        </el-pagination>
                                    </div>
                                </div>
                            </el-tab-pane>
                            <el-tab-pane label="预案对象信息" name="second">
                                <el-form :model="YADXSearchForm" class="el-form demo-form-inline">
                                    <el-row>
                                        <el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20" class="searchInline">
                                            <label class="el-form-item__label searchLabel">对象名称</label>
                                            <el-input size="medium " v-model="YADXSearchForm.DXMC" placeholder="对象名称" style="width:85%;"></el-input>
                                        </el-col>
                                        <el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3" class="searchInline">
                                            <el-button type="primary" icon="search" size="small" @click="searchYADXClick">查询</el-button>
                                            <el-button type="clear" icon="delete" size="small" @click="clearYADXClick">清空</el-button>
                                        </el-col>
                                    </el-row>
                                    <el-form-item label="对象类型">
                                        <el-radio-group size="medium" v-model="YADXSearchForm.YADX" @change="isZddwShow">
                                            <el-radio-button v-for="item in yadx_data" :label="item.codeValue"><v-text v-text="item.codeName"></v-text></el-radio-button>
                                        </el-radio-group>
                                    </el-form-item>
                                    <el-form-item label="消防管辖" id="xfgxDiv" style="height:34px;overflow:hidden;">
                                        <el-radio-group size="medium" v-model="YADXSearchForm.XFGX" style="float: left;width: 96%;">
                                            <el-radio-button v-for="item in xfgx_data" :label="item.codeValue"><v-text v-text="item.codeName"></v-text></el-radio-button>
                                        </el-radio-group>
                                        <el-button id="xfgxSpread" size="mini" type="primary" plain style="float: right;margin-top: 7px;" @click="spread">展开</el-button>
                                        
                                    </el-form-item>
                                    <el-form-item label="单位性质" id="dwxzDiv" v-show = "isZddw" style="margin-top:2px;margin-bottom:2px;height:34px;overflow:hidden;">
                                        <el-radio-group size="medium" v-model="YADXSearchForm.DWXZ" style="float: left;width: 96%;">
                                            <el-radio-button v-for="item in dwxz_data" :label="item.codeValue"><v-text v-text="item.codeName"></v-text></el-radio-button>
                                        </el-radio-group>
                                        <el-button id="dwxzSpread" size="mini" type="primary" plain style="float: right;margin-top: 7px;" @click="spread_dwxz">展开</el-button>
                                    </el-form-item>
                                    <!--
                                    <el-form-item label="行政区划" v-show = "isZddw">
                                        <el-radio-group size="medium" v-model="YADXSearchForm.XZQH">
                                            <el-radio-button v-for="item in xzqh_data" :label="item.codeValue">{{item.codeName}}</el-radio-button>
                                        </el-radio-group>
                                    </el-form-item>
                                    -->
                                    <el-form-item label="防火等级" v-show = "isZddw">
                                        <el-radio-group size="medium" v-model="YADXSearchForm.FHDJ">
                                            <el-radio-button v-for="item in fhdj_data" :label="item.codeValue"><v-text v-text="item.codeName"></v-text></el-radio-button>
                                        </el-radio-group>
                                    </el-form-item>
                                    <el-form-item label="建筑情况" v-show = "isZddw">
                                        <el-radio-group size="medium" v-model="YADXSearchForm.DWJZQK">
                                            <el-radio-button v-for="item in dwjzqk_data" :label="item.codeValue"><v-text v-text="item.codeName"></v-text></el-radio-button>
                                        </el-radio-group>
                                    </el-form-item>
                                </el-form>
                                <div style="margin-top: 40px">
                                    <el-card v-for="data in YADXtableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" style="margin-bottom:12px;background-color:#F5F5F5">
                                        <el-row>
                                            <el-col :span="24">
                                                <div><strong  @click="YadxDetails(data)" style="cursor: pointer;font-size:20px;" v-text="data.dxmc"></strong>&nbsp&nbsp<el-tag color="#0f82ee" size="medium" style="font-size:13px;" v-if="data.yalxdm !== null" v-text="data.yadxType"></el-tag></div>
                                            </el-col>
                                        </el-row>
                                        <el-row style="margin-top: 15px">
                                            <el-col :span="12">
                                                <div>对象地址：<v-text v-text="data.dxdz"></v-text></div>
                                            </el-col>
                                            <el-col :span="12">
                                                <div>消防管辖：<v-text v-text="data.xfgx"></v-text></div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                    <div type="flex" justify="end">
                                        <el-pagination
                                        @current-change="handleCurrentChange"
                                        :current-page="currentPage"
                                        :page-size="pageSize"
                                        layout="total, sizes, prev, pager, next, jumper"
                                        :total=parseInt(total)>
                                        </el-pagination>
                                    </div>
                                </div>
                            </el-tab-pane>
                            <el-tab-pane label="单位建筑信息" name="third">
                                <el-form :model="DWJZSearchForm" class="el-form demo-form-inline">
                                    <el-row>
                                        <el-col :xs="20" :sm="20" :md="20" :lg="20" :xl="20" class="searchInline">
                                            <label class="el-form-item__label searchLabel">名称/位置</label>
                                            <el-input size="medium" v-model="DWJZSearchForm.JZMC" placeholder="建筑名称/建筑位置" style="width:85%;"></el-input>
                                        </el-col>
                                        <el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3" class="searchInline">
                                            <el-button type="primary" icon="search" size="small" @click="searchDWJZClick">查询</el-button>
                                            <el-button type="clear" icon="delete" size="small" @click="clearDWJZClick">清空</el-button>
                                        </el-col>
                                    </el-row>
                                    <el-form-item label="建筑类型">
                                        <el-radio-group size="medium" v-model="DWJZSearchForm.JZLX" @change="selectJzlx">
                                            <el-radio-button v-for="item in dwjzqk_data" :label="item.codeValue"><v-text v-text="item.codeName"></v-text></el-radio-button>
                                        </el-radio-group>
                                    </el-form-item>
                                    <el-form-item label="使用性质" v-show="isDtjz||isJzl">
                                        <el-radio-group size="medium" v-model="DWJZSearchForm.JZSYXZ">
                                            <el-radio-button v-for="item in jzsyxz_data" :label="item.codeValue"><v-text v-text="item.codeName"></v-text></el-radio-button>
                                        </el-radio-group>
                                    </el-form-item>
                                    <el-form-item label="建筑结构" v-show="isDtjz||isJzl||isZzl">
                                        <el-radio-group size="medium" v-model="DWJZSearchForm.JZJG">
                                            <el-radio-button v-for="item in jzjg_data" :label="item.codeValue"><v-text v-text="item.codeName"></v-text></el-radio-button>
                                        </el-radio-group>
                                    </el-form-item>
                                    <el-form-item label="建筑高度" v-show="isDtjz||isJzl">
                                        <el-radio-group size="medium" v-model="DWJZSearchForm.JZGD">
                                            <el-radio-button v-for="item in jzgd_data" :label="item.codeValue"><v-text v-text="item.codeName"></v-text></el-radio-button>
                                        </el-radio-group>
                                    </el-form-item>
                                </el-form>
                                <div style="margin-top: 40px">
                                    <el-card v-for="data in DWJZtableData.slice((currentPage-1)*pageSize,currentPage*pageSize)" style="margin-bottom:12px;background-color:#F5F5F5">
                                        <el-row>
                                            <el-col :span="24">
                                                <div><strong  @click="buildingDetails(data)" style="cursor: pointer;font-size:20px;" v-text="data.jzmc"></strong>&nbsp&nbsp<el-tag color="#0f82ee" size="medium" style="font-size:13px;" v-if="data.jzlxmc !== null" v-text="data.jzlxmc"></el-tag></div>
                                            </el-col>
                                        </el-row>
                                        <el-row style="margin-top: 15px">
                                            <el-col :span="8">
                                                <div>建筑位置：<v-text v-text="data.jzwz"></v-text></div>
                                            </el-col>
                                            <el-col :span="8">
                                                <div>经度：<v-text v-text="data.lon"></v-text></div>
                                            </el-col>
                                            <el-col :span="8">
                                                <div>纬度：<v-text v-text="data.lat"></v-text></div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                    <div type="flex" justify="end">
                                        <el-pagination
                                        @current-change="handleCurrentChange"
                                        :current-page="currentPage"
                                        :page-size="pageSize"
                                        layout="total, sizes, prev, pager, next, jumper"
                                        :total=parseInt(total)>
                                        </el-pagination>
                                    </div>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                        
                       <!--详情界面-->
                    <el-dialog title="预案详情列表" :visible.sync="planDetailVisible" @close="closeDialog()" :close-on-click-modal="false">                  
                        <div id="detailDialog"></div>
                    </el-dialog>
					</div>
                </div>
                    <!-- main-container -->
            </div>
        </div>
    </body>
	<script src="../../static/js/lib.js" ></script>
    <script src="../../static/js/digitalplan/advancedsearch.js" ></script>
    <script src="../../static/js/menu.js" ></script>
    <script>
    
    
    </script>
</html>