<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/digitalplan/advancedsearch.css"> 
    </head>
	<body class="fw f14 main-index-body">
		<div id="header_box"></div>
        <div class="left-sidebar">
            <a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
            <div id="menu-box">
                <big-tree default-active="32"></big-tree>
            </div>
        </div>
        <div id="app">
            <div class="main-box">
                <div class="main-container">
                    <div id="lib :: main_container_header('高级搜索','高级搜索')"></div>
                    <div id="tableView">
                        <el-form label-width="100px" :model="searchForm" class="el-form demo-form-inline">
                            <el-row>
                                <el-col :span="20">
                                    <el-form-item label="预案名称/预案对象名称">
                                        <el-input size="medium " v-model="searchForm.YAMC" placeholder="预案名称/预案对象名称" style="width: 700px"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :span="2">
                                    <el-button type="primary" icon="search" size="small" @click="searchClick">查询</el-button>
                                </el-col>
                                <el-col :span="2">
                                    <el-button type="clear" icon="delete" size="small" @click="clearClick">清空</el-button>
                                </el-col>
                            </el-row>
                            <el-form-item label="预案种类">
                                <el-checkbox-group size="small" v-model="checkedYazl">
                                    <el-checkbox-button @change="handleCheckedYazlChange" v-for="item in yazl_data" :label="item.codeName" :key="item.codeValue" :value="item.codeValue"></el-checkbox-button>
                                </el-checkbox-group>
                            </el-form-item>
                            <el-form-item label="预案对象种类">
                                <el-checkbox-group size="small" v-model="checkedDxzl">
                                    <el-checkbox-button @change="handleCheckedDxzlChange" v-for="item in dxzl_data" :label="item.codeName" :key="item.codeValue" :value="item.codeValue"></el-checkbox-button>
                                </el-checkbox-group>
                            </el-form-item>
                            <el-form-item label="预案类型">
                                <el-checkbox-group size="small" v-model="checkedYalx">
                                    <el-checkbox-button @change="handleCheckedYalxChange" v-for="item in yalx_data" :label="item.codeName" :key="item.codeValue" :value="item.codeValue"></el-checkbox-button>
                                </el-checkbox-group>
                            </el-form-item>
                            <!-- <el-form-item label="预案类别">
                                <el-radio-group size="small" v-model="searchForm.YALB">
                                    <el-radio-button label="全部"></el-radio-button>
                                    <el-radio-button label="化危品火灾爆炸"></el-radio-button>
                                    <el-radio-button label="建筑堆场类"></el-radio-button>
                                    <el-radio-button label="交通运输类"></el-radio-button>
                                    <el-radio-button label="危险化学品泄漏事故"></el-radio-button>
                                    <el-radio-button label="公共突发事件"></el-radio-button>
                                    <el-radio-button label="群众遇险事件"></el-radio-button>
                                    <el-radio-button label="群众求助救援"></el-radio-button>
                                </el-radio-group>
                            </el-form-item> -->
                            <el-form-item label="是否跨区">
                                <el-radio-group size="small" v-model="searchForm.SFKQ">
                                    <el-radio-button label="全部"></el-radio-button>
                                    <el-radio-button label="是"></el-radio-button>
                                    <el-radio-button label="否"></el-radio-button>
                                </el-radio-group>
                            </el-form-item>
                            <el-form-item label="录入时间">
                                <el-radio-group size="small" v-model="searchForm.LRSJ">
                                    <el-radio-button label="全部"></el-radio-button>
                                    <el-radio-button label="今日"></el-radio-button>
                                    <el-radio-button label="昨日"></el-radio-button>
                                    <el-radio-button label="最近7日"></el-radio-button>
                                    <el-radio-button label="最近30日"></el-radio-button>
                                    <el-radio-button label="自定义时间"></el-radio-button>
                                </el-radio-group>
                            </el-form-item>
                        </el-form>
                        <div>
                            <el-card v-for="data in tableData" style="margin-bottom:12px;background-color:#F5F5F5">
                                <el-row>
                                    <el-col :span="24">
                                        <div><strong>{{data.YAMC }}</strong>&nbsp&nbsp<el-tag color="#0f82ee" size="medium">{{data.YALX}}</el-tag></div>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="12">
                                        <div>对象名称：{{data.DXMC }}</div>
                                    </el-col>
                                    <el-col :span="12">
                                        <div>录入时间：{{data.LRSJ }}</div>
                                    </el-col>
                                </el-row>
                            </el-card>
                        </div>
                        <!--详情界面-->
                        <el-dialog title="预案详情列表" :visible.sync="planDetailVisible" @close="closeDialog()" :close-on-click-modal="false">
                                <div class="detailDisplay">
                                    <div class="imgWidth">
                                        <img src="../../static/images/danwei2.jpg">
                                    </div>
                                    <div class="dib" id="basic-Inform-Title">
                                        <div class="inform-div">
                                            <div class="leftDetail">
                                                <div>
                                                    <dl class="inform-left">
                                                        <dt class="dtdlStyle">预案名称：</dt>
                                                        <dd class="dtdlStyle">{{detailData.yamc}}</dd>
                                                    </dl>
                                                </div>
                                                <div class="inform-margin">
                                                    <dl class="inform-left">
                                                        <dt class="dtdlStyle">预案类型：</dt>
                                                        <dd class="dtdlStyle">{{detailData.yalxdm}}</dd>
                                                    </dl>
                                                </div>
                                                <div class="inform-margin">
                                                    <dl class="inform-left">
                                                        <dt class="dtdlStyle">预案种类：</dt>
                                                        <dd class="dtdlStyle">{{detailData.yabbh}}</dd>
                                                    </dl>
                                                </div>
                                                <div class="inform-margin">
                                                    <dl class="inform-left">
                                                        <dt class="dtdlStyle">重点单位：</dt>
                                                        <dd class="dtdlStyle">{{detailData.zzdwmc}}</dd>
                                                    </dl>
                                                </div>
                                                <div class="inform-margin">
                                                    <dl class="inform-left">
                                                        <dt class="dtdlStyle">录入时间：</dt>
                                                        <dd class="dtdlStyle">{{this.detailYMD}}</dd>
                                                    </dl>
                                                </div>
                                                <div class="inform-margin">
                                                    <dl class="inform-left">
                                                        <dt class="dtdlStyle">备注：</dt>
                                                        <dd class="dtdlStyle">{{detailData.bz}}</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    <dl class="inform-left">
                                                        <dt class="dtdlStyle">预案对象：</dt>
                                                        <dd class="dtdlStyle">{{detailData.dxmc}}</dd>
                                                    </dl>
                                                </div>
                                                <div class="inform-margin">
                                                    <dl class="inform-left">
                                                        <dt class="dtdlStyle">预案种类：</dt>
                                                        <dd class="dtdlStyle">{{detailData.yazl}}</dd>
                                                    </dl>
                                                </div>
                                                <div class="inform-margin">
                                                    <dl class="inform-left">
                                                        <dt class="dtdlStyle">是否跨区域：</dt>
                                                        <dd class="dtdlStyle">{{detailData.sfkqy}}</dd>
                                                    </dl>
                                                </div>
                                                <div class="inform-margin">
                                                    <dl class="inform-left">
                                                        <dt class="dtdlStyle">编制者：</dt>
                                                        <dd class="dtdlStyle">{{detailData.zzrmc}}</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                        <div style="margin-top: 15px;">
                                            <el-button type="primary" @click="downloadPlan">预案下载</el-button>
                                        </div>
                                        <!-- lxy-start -->
                                        
                                        <el-upload
                                        class="upload-demo"
                                        ref="upload"                                      
                                        action="http://localhost/yafjxz/upload"
                                        :data="upLoadData"
                                        :on-preview="handlePreview"
                                        :on-remove="handleRemove"
                                        multiple
                                        :limit="3"
                                        :on-exceed="handleExceed"
                                        :file-list="fileList"
                                        :auto-upload="false">
                                        <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                                        <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">上传到服务器</el-button>
                                        <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
                                    </el-upload>
                               
                                    <!-- lxy-end -->
                                    </div>
                                </div>
                        </el-dialog>
					</div>
                </div>
                    <!-- main-container -->
            </div>
        </div>
    </body>
	<script src="../../static/js/lib.js" ></script>
    <script src="../../static/js/menu.js" ></script>
    <script src="../../static/js/digitalplan/advancedsearch.js" ></script>
    <script>
    
    
    </script>
</html>