<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/planobject/importantunits_detail.css">
    <title>预案管理</title>
</head>

<body class="fw f14 main-index-body">
    <div id="header_box"></div>
    <div class="left-sidebar">
        <a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
        <div id="menu-box">
            <big-tree default-active="31"></big-tree>
        </div>
    </div>
    <div id="app">
        <div class="main-box">
            <div class="main-container" v-loading="loading" element-loading-text="加载中">
                <div id="lib :: main_container_header('预案管理','预案管理')"></div>
                <div id="tableView">
                    <div class="nameBox">
                        <div id="basic-Inform-Picture">
                            <img src="../../static/images/danwei.jpg">
                        </div>
                        <div class="dib" id="basic-Inform-Title" style="max-width: 760px;">
                            <div>
                                <h3 class="dib inform-h3">{{basicDetailData.yamc||"无"}}
                                    <span class="companyStatus dib" title="预案级别">{{basicDetailData.yajbmc||"无"}}</span>
                                </h3>
                            </div>
                            <dl>
                                <img src="../../static/images/location.png">
                                <dt class="dib inform-small-title">预案对象：</dt>
                                <dd class="dtdlStyle">{{basicDetailData.dxmc||"无"}}</dd>
                                <br>
                                <img src="../../static/images/date.png">
                                <dt class="dib inform-small-title">预案类型：</dt>
                                <dd class="dtdlStyle">{{basicDetailData.yalxmc||"无"}}</dd>
                                <br>
                                <img src="../../static/images/phone.png">
                                <dt class="dib inform-small-title">是否跨区域：</dt>
                                <dd class="dtdlStyle">{{basicDetailData.sfkqy||"无"}}</dd>
                                <br>
                                <img src="../../static/images/postcode.png">
                                <dt class="dib inform-small-title">备注：</dt>
                                <dd class="dtdlStyle">{{basicDetailData.bz||"无"}}</dd>
                            </dl>
                        </div>
                        <div style="float: right">
                            <el-button type="primary" icon="document" style="width:120px" @click="openPrinter">信息打印</el-button>
                            <br>
                            <el-button type="primary" icon="message" style="margin-top:5%;width:120px" @click="openPlan">在线预览</el-button>
                            <br>
                            <el-button type="primary" icon="share" style="margin-top:5%;width:120px" @click="downloadPlan">预案下载</el-button>
                        </div>
                    </div>
                    <div class="inform-content">
                        <template>
                            <el-tabs v-model="activeName" type="border-card" @tab-click="handleClick">
                                <el-tab-pane label="基本信息" name="first">
                                    <div class="inform-div">
                                        <div class="left-inform">
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">制作机构：</dt>
                                                    <dd class="dtdlStyle">{{basicDetailData.jgmc||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">制作人名称：</dt>
                                                    <dd class="dtdlStyle">{{basicDetailData.zzrmc||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">制作时间：</dt>
                                                    <dd class="dtdlStyle">{{basicDetailData.zzsj||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <!-- <dl class="inform-left">
                                                    <dt class="dtdlStyle">单位性质：</dt>
                                                    <dd class="dtdlStyle">{{rowdata.dwxz||"无"}}</dd>
                                                </dl> -->
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">审核状态：</dt>
                                                    <dd class="dtdlStyle">{{basicDetailData.shztmc||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">审核人：</dt>
                                                    <dd class="dtdlStyle">{{basicDetailData.shrmc||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">审核时间：</dt>
                                                    <dd class="dtdlStyle">{{basicDetailData.shsj||"无"}}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </el-tab-pane>
                                <el-tab-pane label="灾情设定" name="second">
                                    <el-card v-for="item in disasterSetData" class="mb10 cardBack">
                                        <div class="inform-div">
                                            <div class="left-inform">
                                                <div>
                                                    <dl class="inform-left">
                                                        <dt class="dtdlStyle">灾情部位：</dt>
                                                        <dd class="dtdlStyle">{{item.zqbw||"无"}}</dd>
                                                    </dl>
                                                </div>
                                                <div class="inform-margin">
                                                    <dl class="inform-left">
                                                        <dt class="dtdlStyle">灾情等级：</dt>
                                                        <dd class="dtdlStyle">{{item.zqdjmc||"无"}}</dd>
                                                    </dl>
                                                </div>
                                                <div class="inform-margin">
                                                    <dl class="inform-left">
                                                        <dt class="dtdlStyle">起火原因：</dt>
                                                        <dd class="dtdlStyle">{{item.qhyymc||"无"}}</dd>
                                                    </dl>
                                                </div>
                                                <div class="inform-margin">
                                                    <dl class="inform-left">
                                                        <dt class="dtdlStyle">工业建筑火灾危险性</dt>
                                                        <dd class="dtdlStyle">{{item.hzwxxmc||"无"}}</dd>
                                                    </dl>
                                                </div>
                                                <div class="inform-margin">
                                                    <dl class="inform-left">
                                                        <dt class="dtdlStyle">灾害场所：</dt>
                                                        <dd class="dtdlStyle">{{item.zhcsmc||"无"}}</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="right-inform">
                                                <div>
                                                    <dl class="inform-left">
                                                        <dt class="dtdlStyle">燃烧物质：</dt>
                                                        <dd class="dtdlStyle">{{item.rswzmc||"无"}}</dd>
                                                    </dl>
                                                </div>
                                                <div class="inform-margin">
                                                    <dl class="inform-left">
                                                        <dt class="dtdlStyle">起火部位高度：</dt>
                                                        <dd class="dtdlStyle">{{item.qhbwgd||"无"}}</dd>
                                                    </dl>
                                                </div>
                                                <div class="inform-margin">
                                                    <dl class="inform-left">
                                                        <dt class="dtdlStyle">燃烧面积：</dt>
                                                        <dd class="dtdlStyle">{{item.rsmj||"无"}}</dd>
                                                    </dl>
                                                </div>
                                                <div class="inform-margin">
                                                    <dl class="inform-left">
                                                        <dt class="dtdlStyle">灾情描述：</dt>
                                                        <dd class="dtdlStyle">{{item.zqms||"无"}}</dd>
                                                    </dl>
                                                </div>
                                                <div class="inform-margin">
                                                    <dl class="inform-left">
                                                        <dt class="dtdlStyle">灾情设定依据：</dt>
                                                        <dd class="dtdlStyle">{{item.zqsdyj||"无"}}</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </div>
                                    </el-card>
                                </el-tab-pane>
                                <el-tab-pane label="力量部署" name="third">
                                    <el-card v-for="item in forcedevData" class="mb10 mr10 cardBack" style="width:49%;float:left;">
                                        <div style="width:100%;">
                                            <div>
                                                <dl class="inform-left">
                                                    <span class="companyStatus dib" title="调集方案类型" style="margin:0 5px;">{{item.djfalxmc||"无"}}</span>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">队站名称：</dt>
                                                    <dd class="dtdlStyle">{{item.dzmc||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">停靠位置：</dt>
                                                    <dd class="dtdlStyle">{{item.tkwz||"无"}}</dd>
                                                </dl>
                                            </div>
                                            <div class="inform-margin">
                                                <dl class="inform-left">
                                                    <dt class="dtdlStyle">车辆装备提示：</dt>
                                                    <dd class="dtdlStyle">{{item.clzbts||"无"}}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </el-card>
                                </el-tab-pane>
                                <el-tab-pane label="要点提示" name="forth">
                                    <el-card class="mb10 mr10 cardBack">
                                        <el-row class="mb5">
                                            <el-col :span="24">
                                                <div>
                                                    <strong>战术要点：</strong>
                                                </div>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col :span="24">
                                                <div>{{keypointsData.zsyd||"无"}}</div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                    <el-card class="mb10 mr10 cardBack">
                                        <el-row class="mb5">
                                            <el-col :span="24">
                                                <div>
                                                    <strong>特别警示：</strong>
                                                </div>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col :span="24">
                                                <div>{{keypointsData.tbjs||"无"}}</div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                </el-tab-pane>
                            </el-tabs>
                        </template>

                    </div>
                </div>
            </div>

            <!-- main-container -->
        </div>
    </div>
</body>
<script src="../../static/js/lib.js"></script>
<script src="../../static/js/menu.js"></script>
<script src="../../static/js/digitalplan/digitalplan_detail.js"></script>

</html>