<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/digitalplan/digitalplan.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/digitalplan/digitalplanlist.css">
    <title>重点单位预案</title>
</head>

<body class="fw f14 main-index-body">
    <div id="app">
        <div class="main-box">
            <div class="main-container" v-loading="loading" element-loading-text="加载中">
                <div id="lib :: main_container_header('重点单位预案','重点单位预案')"></div>
                <!-- 面包屑 -->
                <div id="breadcrumb_box"></div>
                <div id="tableView">
                    <el-row>
                        <el-form label-width="75px" :inline="true" class="el-form demo-form-inline">
                            <el-row>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">预案名称</label>
                                    <el-input size="small" v-model="searchForm.YAMC" placeholder="预案名称"></el-input>
                                </el-col>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">预案类型</label>
                                    <el-cascader :options="YALX_dataTree" :props="defaultProps" size="small" v-model="searchForm.YALX" placeholder="全部" class="searchSelect"
                                        clearable change-on-select :show-all-levels="false"></el-cascader>
                                </el-col>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">预案级别</label>
                                    <el-select size="small" v-model="searchForm.YAJB" placeholder="全部" class="searchSelect" clearable>
                                        <el-option v-for="item in YAJB_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">对象名称</label>
                                    <el-input size="small" v-model="searchForm.DXMC" placeholder="对象名称"></el-input>
                                </el-col>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">制作机构</label>
                                    <el-cascader :options="ZZJG_dataTree" :props="jgidprops" size="small" v-model="searchForm.ZZJG" placeholder="全部" class="searchSelect"
                                        clearable change-on-select :show-all-levels="false"></el-cascader>
                                </el-col>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">预案状态</label>
                                    <el-select size="small" v-model="searchForm.YAZT" placeholder="全部" class="searchSelect" clearable>
                                        <el-option v-for="item in YAZT_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <div>
                                <el-form>
                                    <el-col :span="12" class="btnEditDelete">
                                        <el-form-item align="left">
                                            <el-button type="primary" icon="plus" size="small" @click="addClick">新增</el-button>
                                            <el-button type="danger" icon="delete2" size="small" @click="deleteClick">删除</el-button>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12"></el-col>
                                    <el-col :span="12" class="btnSearchPlus">
                                        <el-form-item>
                                            <el-button type="primary" icon="search" size="small" @click="searchClick">查询</el-button>
                                            <el-button type="clear" icon="delete" size="small" @click="clearClick">重置</el-button>
                                        </el-form-item>
                                    </el-col>
                                </el-form>
                            </div>
                        </el-form>
                    </el-row>
                    <div class="table_container">
                        <el-table id="table" border class="tableStyle" :height="tableheight" ref="multipleTable" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
                            @selection-change="selectionChange">
                            <el-table-column type="selection" width="45"></el-table-column>
                            <el-table-column type="index" label="序号" show-overflow-tooltip width="65" align="center"></el-table-column>
                            <el-table-column prop="yamc" label="预案名称" show-overflow-tooltip min-width="20%" align="center">
                                <template slot-scope="scope">
                                    <a @click="planDetails(scope.row)">{{scope.row.yamc}}</a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="dxmc" label="对象名称" show-overflow-tooltip min-width="19%" align="center"></el-table-column>
                            <el-table-column prop="yalxmc" label="预案类型" show-overflow-tooltip min-width="15%" align="center"></el-table-column>
                            <el-table-column prop="yajbmc" label="预案级别" show-overflow-tooltip min-width="10%" align="center"></el-table-column>
                            <el-table-column prop="jgmc" label="制作机构" show-overflow-tooltip min-width="10%" align="center"></el-table-column>
                            <el-table-column prop="yaztmc" label="预案状态" show-overflow-tooltip min-width="10%" align="center">
                                <template slot-scope="scope">
                                    <el-popover placement="bottom" width="100" trigger="click" v-if="scope.row.reserve1!=null && scope.row.reserve1!=''">
                                        <el-row>审核意见:
                                            <v-text v-text="scope.row.reserve1"></v-text>
                                        </el-row>
                                        <a type="text" slot="reference" v-text="scope.row.yaztmc"></a>
                                    </el-popover>
                                    <v-text v-else v-text="scope.row.yaztmc"></v-text>
                                </template>
                            </el-table-column>
                            <el-table-column label="操作" min-width="8%" align="center">
                                <template slot-scope="scope">
                                    <el-button type="text" @click="handleEdit(scope.row)">编辑</el-button>
                                </template>
                            </el-table-column>
                        </el-table>

                        <!--列表底部工具条和分页符-->
                        <el-row type="flex" justify="end">
                            <el-col :span="18">
                                <el-pagination @current-change="currentPageChange" :current-page="currentPage" :page-sizes="[10, 20, 30, 50]" :page-size="pageSize"
                                    layout="total, prev, pager, next, jumper" :total=parseInt(total)>
                                </el-pagination>
                            </el-col>
                        </el-row>
                    </div>
                </div>
            </div>
            <!-- main-container -->
        </div>
    </div>
</body>
<script src="../../static/js/digitalplan/digitalplanlist.js"></script>
</html>