<html>


<head>
    <script src="../../static/js/vue.js"></script>
    <script src="../../static/js/elementUI.js"></script>
    <script src="../../static/js/digitalplan/digitalplan_detail.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/css/digitalplan/digitalplan_detail.css">
</head>

<body class="fw f14 main-index-body">
    <!--详情界面-->
    <div id="detailDisplay">
        <div class="nameBox">
            <div id="basic-Inform-Picture">
                <img src="../../static/images/danwei4.jpg">
                <br>
                <el-button type="primary" @click="openPlan">预案在线预览</el-button>
                <br>
                <el-button type="primary" @click="downloadPlan">&nbsp;&nbsp;&nbsp;&nbsp;预案下载&nbsp;&nbsp;&nbsp;</el-button>
            </div>
            <div class="dib">
                <div>
                    <h3 class="dib inform-h3">{{detailData.yamc||"无"}}</h3>
                    <span class="companyStatus dib">预案名称</span>
                </div>
                <div>
                    <h3 class="dib yadxtitle">{{detailData.dxmc||"无"}}</h3>
                    <span class="companyStatus dib">预案对象</span>
                </div>
            </div>
            <template>
                <div class="inform-div">
                    <div class="leftDetail">
                        <div class="inform-margin">
                            <dl class="inform-left">
                                <dt class="dtdlStyle">预案类型：</dt>
                                <dd class="dtdlStyle">{{detailData.yalxdm||"无"}}</dd>
                            </dl>
                        </div>
                        <div class="inform-margin">
                            <dl class="inform-left">
                                <dt class="dtdlStyle">是否跨区域：</dt>
                                <dd class="dtdlStyle">{{detailData.sfkqy||"无"}}</dd>
                            </dl>
                        </div>
                        <div class="inform-margin">
                            <dl class="inform-left">
                                <dt class="dtdlStyle">制作机构：</dt>
                                <dd class="dtdlStyle">{{detailData.jgmc||"无"}}</dd>
                            </dl>
                        </div>
                        <div class="inform-margin">
                            <dl class="inform-left">
                                <dt class="dtdlStyle">制作人名称：</dt>
                                <dd class="dtdlStyle">{{detailData.zzrmc||"无"}}</dd>
                            </dl>
                        </div>
                        <div class="inform-margin">
                            <dl class="inform-left">
                                <dt class="dtdlStyle">制作时间：</dt>
                                <dd class="dtdlStyle">{{this.detail_zzsj||"无"}}</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="leftDetail">
                        <div class="inform-margin">
                            <dl class="inform-left">
                                <dt class="dtdlStyle">审核状态：</dt>
                                <dd class="dtdlStyle">{{detailData.shzt||"无"}}</dd>
                            </dl>
                        </div>
                        <div class="inform-margin">
                            <dl class="inform-left">
                                <dt class="dtdlStyle">审核人：</dt>
                                <dd class="dtdlStyle">{{detailData.shrmc||"无"}}</dd>
                            </dl>
                        </div>
                        <div class="inform-margin">
                            <dl class="inform-left">
                                <dt class="dtdlStyle">审核时间：</dt>
                                <dd class="dtdlStyle">{{this.detail_shsj||"无"}}</dd>
                            </dl>
                        </div>
                        <div class="inform-margin">
                            <dl class="inform-left">
                                <dt class="dtdlStyle">备注：</dt>
                                <dd class="dtdlStyle">{{detailData.bz||"无"}}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </template>
        </div>
        <!--<el-upload class="upload-demo" style="margin-top: 15px;" ref="upload" action="http://localhost/dpapi/danger/insertImage" :data="upLoadData" :on-preview="handlePreview"
                    :on-remove="handleRemove" multiple :limit="3" :on-exceed="handleExceed" :file-list="fileList"
                    :auto-upload="false">
                    <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
                    <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">上传到服务器</el-button>
                </el-upload> -->

    </div>

</body>

</html>