<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/digitalplan/digitalplan.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/digitalplan/digitalplanlist.css">
    <title>预案分发</title>
</head>

<body class="fw f14 main-index-body">
    <div id="app">
        <div class="main-box">
            <div class="main-container" v-loading="loading" element-loading-text="加载中">
                <div id="lib :: main_container_header('预案审核','预案审核')"></div>
                <!-- 面包屑 -->
                <div id="breadcrumb_box"></div>
                <div id="tableView">
                    <el-row>
                        <el-form label-width="75px" :inline="true" class="el-form demo-form-inline">
                            <el-row>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">预案名称</label>
                                    <el-input size="small" v-model="searchForm.YAMC" placeholder="预案名称"></el-input>
                                </el-col>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">预案类型</label>
                                    <el-cascader :options="YALX_dataTree" :props="defaultProps" size="small" v-model="searchForm.YALX" placeholder="全部" class="searchSelect"
                                        clearable change-on-select :show-all-levels="false"></el-cascader>
                                </el-col>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">预案级别</label>
                                    <el-select size="small" v-model="searchForm.YAJB" placeholder="全部" class="searchSelect" clearable>
                                        <el-option v-for="item in YAJB_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">对象名称</label>
                                    <el-input size="small" v-model="searchForm.DXMC" placeholder="对象名称"></el-input>
                                </el-col>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">制作机构</label>
                                    <el-cascader :options="ZZJG_dataTree" :props="jgidprops" size="small" v-model="searchForm.ZZJG" placeholder="全部" class="searchSelect"
                                        clearable change-on-select :show-all-levels="false"></el-cascader>
                                </el-col>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">预案状态</label>
                                    <el-select size="small" v-model="searchForm.YAZT" disabled placeholder="全部" class="searchSelect" clearable>
                                        <el-option v-for="item in YAZT_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <div>
                                <el-form>
                                    <el-col :span="12" class="btnEditDelete">
                                        <el-form-item align="left">
                                            <!--<el-button type="primary" icon="edit" size="small" @click="editClick">编辑</el-button>-->
                                            <el-button type="danger" icon="edit" size="small" @click="distribute">分发</el-button>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12"></el-col>
                                    <el-col :span="12" class="btnSearchPlus">
                                        <el-form-item>
                                            <el-button type="primary" icon="search" size="small" @click="searchClick">查询</el-button>
                                            <el-button type="clear" icon="delete" size="small" @click="clearClick">重置</el-button>
                                        </el-form-item>
                                    </el-col>
                                </el-form>
                            </div>
                        </el-form>
                    </el-row>
                    <div class="table_container">
                        <el-table border id="table" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
                        @row-click = "showRow" class="tableStyle" :height="tableheight">
                            <el-table-column width="50px">
                                <template scope="scope">
                                    <el-radio v-model="radio" :label="scope.$index">&nbsp;</el-radio>
                                </template>
                            </el-table-column>
                            <el-table-column type="index" label="序号" show-overflow-tooltip width="65" align="center"></el-table-column>
                            <el-table-column prop="yamc" label="预案名称" show-overflow-tooltip min-width="24%" align="center">
                                <template slot-scope="scope">
                                    <a @click="planDetails(scope.row)" v-text="scope.row.yamc"></a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="dxmc" label="对象名称" show-overflow-tooltip min-width="17%" align="center"></el-table-column>
                            <el-table-column prop="yalxmc" label="预案类型" show-overflow-tooltip min-width="12%" align="center"></el-table-column>
                            <el-table-column prop="yajbmc" label="预案级别" show-overflow-tooltip min-width="15%" align="center"></el-table-column>
                            <el-table-column prop="jgmc" label="制作机构" show-overflow-tooltip min-width="20%" align="center"></el-table-column>
                            <el-table-column prop="yaztmc" label="预案状态" show-overflow-tooltip min-width="12%" align="center"></el-table-column>
                        </el-table>

                        <!--列表底部工具条和分页符-->
                        <el-row type="flex" justify="end">
                            <el-col :span="18">
                                <el-pagination @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage" :page-sizes="[10, 20, 30, 50]"
                                    :page-size="pageSize" layout="total, prev, pager, next, jumper" :total=parseInt(total)>
                                </el-pagination>
                            </el-col>
                        </el-row>
                    </div>
                    <!--详情界面-->
                    <el-dialog title="预案详情列表" :visible.sync="planDetailVisible" @close="closeDialog()" :close-on-click-modal="false">
                        <div id="detailDialog"></div>
                    </el-dialog>
                    <!--分发界面-->
                    <el-dialog title="预案分发" :visible.sync="distributeFormVisible" @close="closeDialog(ffzd)" :close-on-click-modal="false">
                        <!-- <el-checkbox-group v-model="jgSelect">
                            <el-checkbox v-for="jg in jgList" :label="jg.jgjc" :key="jg.jgid">{{jg.jgjc}}</el-checkbox>
                        </el-checkbox-group> 
                        -->
                        <el-checkbox-group v-model="ffzd">
                            <template v-model="jgSelect" v-for="jg in jgList">
                                <el-checkbox v-if="jgSelectString==jg.jgjc" :label="jg.jgjc" :key="jg.jgid" disabled>{{jg.jgjc}}</el-checkbox>
                                <el-checkbox v-else :label="jg.jgjc" :key="jg.jgid">{{jg.jgjc}}</el-checkbox>
                            </template>
                        </el-checkbox-group>
						<div slot="footer" class="dialog-footer">
							<el-button size="small" @click.native="closeDialog(ffzd)">取消</el-button>
							<el-button size="small" type="primary" @click.native="distributeSubmit(ffzd)">提交</el-button>
						</div>
					</el-dialog>
                </div>
            </div>
            <!-- main-container -->
        </div>
    </div>
</body>
<script src="../../static/js/digitalplan/digitalplan_distribute.js"></script>
</html>