<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/digitalplan/digitalplan_add.css">
	<title>新增重点单位预案</title>
</head>

<body class="fw f14 main-index-body">
	<div id="header_box"></div>
	<div class="left-sidebar">
		<a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
		<div id="menu-box">
			<big-tree default-active="31"></big-tree>
		</div>
	</div>
	<div id="app">
		<div class="main-box">
			<div class="main-container" v-loading="loading1" element-loading-text="加载中">
				<div id="inforView" class="mb10">
					<el-row class="mb5" style="border-bottom:1px solid #20a0ff;">
						<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
							<div style="color: #20a0ff;">
								<strong>预案基本信息</strong>
							</div>
						</el-col>
					</el-row>
					<el-form :inline="true" class="el-form demo-form-inline" :rules="rules" ref="addForm" :model="addForm" label-position="right">
						<el-row>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-form-item label="预案对象" prop="dxmc">
									<el-input size="small" v-model="addForm.dxmc" @focus="keyunitList" placeholder="预案对象" clearable></el-input>
								</el-form-item>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-form-item label="预案名称" prop="yamc">
									<el-input size="small" v-model="addForm.yamc" placeholder="预案名称" clearable></el-input>
								</el-form-item>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-form-item label="预案编号">
									<el-input size="small" placeholder="保存后系统自动生成" disabled></el-input>
								</el-form-item>
							</el-col>
						</el-row>
						<el-row>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-form-item label="预案级别" prop="yajb">
									<el-select size="small" v-model="addForm.yajb" placeholder="预案级别" class="searchSelect" clearable>
										<el-option v-for="item in YAJB_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-form-item>
							</el-col>
							<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
								<el-form-item label="预案类型" prop="yalxdm">
									<el-cascader :options="YALX_dataTree" :props="defaultProps" size="small" v-model="addForm.yalxdm" placeholder="预案类型" class="searchSelect"
									 clearable change-on-select></el-cascader>
								</el-form-item>
							</el-col>
						</el-row>
					</el-form>
				</div>
				<div id="disasterView" class="mb10 pb10">
					<el-row class="mb5" style="border-bottom:1px solid #20a0ff;">
						<el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
							<div style="color: #20a0ff;">
								<strong>灾情设定与力量部署</strong>
							</div>
						</el-col>
						<el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
							<el-button type="primary" icon="plus" size="small" class="r" @click="addDomain">新增</el-button>
						</el-col>
					</el-row>
					<el-form :model="dynamicValidateForm" ref="dynamicValidateForm" label-width="100px" style="margin:0;">
						<el-form-item v-for="(domain, index) in dynamicValidateForm" :key="domain.key" :prop="'dynamicValidateForm.' + index + '.value'"
						 label-position="right">
							<el-card style="background-color:#F5F5F5;width:100%">
								<div slot="header" class="clearfix">
									<strong>灾情{{index+1}}</strong>
									<el-button type="danger" icon="delete" size="small" @click.prevent="removeDomain(domain)" class="r" style="margin:5px 0 0">删除</el-button>
								</div>
								<el-row class="tr">
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
										<el-label>灾情部位</el-label>
										<el-input v-model="domain.bwmc" size="small" @focus="partsList(index)"></el-input>
									</el-col>
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
										<el-label>所属建筑</el-label>
										<el-input v-model="domain.jzmc" size="small" @focus="buildingList(index)"></el-input>
									</el-col>
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
										<el-label>燃烧物质</el-label>
										<el-cascader :options="RSWZ_dataTree" :props="defaultProps" size="small" v-model="domain.rswz" placeholder="燃烧物质" clearable
										 change-on-select></el-cascader>
									</el-col>
								</el-row class="tr">
								<el-row class="tr">
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
										<el-label>灾情等级</el-label>
										<el-cascader :options="ZQDJ_dataTree" :props="defaultProps" size="small" v-model="domain.zqdj" placeholder="灾情等级" clearable
										 change-on-select></el-cascader>
									</el-col>
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
										<el-label>起火原因</el-label>
										<el-select size="small" v-model="domain.qhyy" placeholder="起火原因" clearable>
											<el-option v-for="item in QHYY_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-col>
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
										<el-label>燃烧面积</el-label>
										<el-input v-model="domain.rsmj" size="small"></el-input>
									</el-col>
								</el-row>
								<el-row class="tr">
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
										<el-label>灾害场所</el-label>
										<el-select size="small" v-model="domain.zhcs" placeholder="起火原因" clearable>
											<el-option v-for="item in ZHCS_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-col>
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
										<el-label>火灾危险性</el-label>
										<el-select size="small" v-model="domain.hzwxx" placeholder="起火原因" clearable>
											<el-option v-for="item in HZWXX_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-col>
									<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
										<el-label>起火高度</el-label>
										<el-input v-model="domain.qhbwgd" size="small"></el-input>
									</el-col>
								</el-row>
								<el-row class="tr">
									<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
										<el-label>灾情描述</el-label>
										<el-input size="small" v-model="domain.zqms" placeholder="灾情描述" type="textarea" autosize></el-input>
									</el-col>
								</el-row>
								<el-row class="tr">
									<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
										<el-label>灾情设定依据</el-label>
										<el-input size="small" v-model="domain.zqsdyj" placeholder="灾情设定依据" type="textarea" autosize></el-input>
									</el-col>
								</el-row>
								<el-row style="border-bottom: 1px solid #d1dbe5;" class="mt5 mb5">
									<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
										<div style="color: #20a0ff;">要点提示</div>
									</el-col>
								</el-row>
								<el-row class="tr">
									<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
										<el-label>战术要点</el-label>
										<el-input v-model="domain.keypointsMap.zsyd" size="small" type="textarea" autosize></el-input>
									</el-col>
								</el-row>
								<el-row class="tr">
									<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
										<el-label>特别警示</el-label>
										<el-input v-model="domain.keypointsMap.tbjs" size="small" type="textarea" autosize></el-input>
									</el-col>
								</el-row>
								<el-row style="border-bottom: 1px solid #d1dbe5;" class="mt5 mb5">
									<el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
										<div style="color: #20a0ff;">力量部署</div>
									</el-col>
									<el-col :xs="12" :sm="12" :md="12" :lg="12" :xl="12">
										<el-button type="primary" icon="plus" size="small" style="float:right;" @click="addDomainllbs(index)">新增</el-button>
									</el-col>
								</el-row>
								<el-form :model="domain.forcedevList" ref="domain.forcedevList" label-width="100px" style="margin:0;">
									<el-form-item v-for="llbs in domain.forcedevList" :key="llbs.key" :prop="'forcedevList.' + index + '.value'" label-position="right">
										<el-row class="tr">
											<el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8">
												<el-label>消防队站</el-label>
												<el-input v-model="llbs.dzid" size="small"></el-input>
											</el-col>
											<el-col :xs="10" :sm="10" :md="10" :lg="10" :xl="10">
												<el-label>调集方案类型</el-label>
												<el-select size="small" v-model="llbs.djfalx" placeholder="调集方案类型" clearable>
													<el-option v-for="item in DJFALX_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
												</el-select>
											</el-col>
											<el-col :xs="6" :sm="6" :md="6" :lg="6" :xl="6"></el-col>
										</el-row>
										<el-row class="tr">
											<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
												<el-label>停靠位置</el-label>
												<el-input v-model="llbs.tkwz" size="small" type="textarea" autosize></el-input>
											</el-col>
										</el-row>
										<el-row class="tr mb10">
											<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
												<el-label>车辆装备提示</el-label>
												<el-input v-model="llbs.clzbts" size="small" type="textarea" autosize></el-input>
											</el-col>
										</el-row>
									</el-form-item>
								</el-form>
							</el-card>
						</el-form-item>
					</el-form>
				</div>
				<!--<div id="uploadPlan">
					<el-row class="mb5" style="border-bottom:1px solid #20a0ff;">
						<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
							<div style="color: #20a0ff;">
								<strong>预案上传</strong>
							</div>
						</el-col>
					</el-row>
					<el-row>
						<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">&nbsp;</el-col>
						<el-col :xs="18" :sm="18" :md="18" :lg="18" :xl="18">
							<el-form>
								<el-form-item>
									<el-upload class="upload-demo" ref="upload" :on-preview="handlePreview" :on-remove="handleRemove" :file-list="fileList" :auto-upload="false">
										<el-button slot="trigger" size="small" type="primary">选取文件</el-button>
										<div slot="tip" class="el-upload__tip"></div>
									</el-upload>
								</el-form-item>
							</el-form>
						</el-col>
						<el-col :xs="3" :sm="3" :md="3" :lg="3" :xl="3">&nbsp;</el-col>
					</el-row>
				</div>-->
				<div id="remark">
					<el-row class="mb5" style="border-bottom:1px solid #20a0ff;">
						<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
							<div style="color: #20a0ff;">
								<strong>备注</strong>
							</div>
						</el-col>
					</el-row>
					<el-row>
						<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
							<el-input size="small" v-model="addForm.bz" placeholder="备注" type="textarea" :autosize="{ minRows: 2, maxRows: 4}"></el-input>
						</el-col>
					</el-row>
				</div>
				<el-row class="mt10">
					<el-form :inline="true" class="el-form demo-form-inline">
						<el-row>
							<el-col :xs="10" :sm="10" :md="10" :lg="10" :xl="10">&nbsp;</el-col>
							<el-col :xs="4" :sm="4" :md="4" :lg="4" :xl="4">
								<el-button class="btn_save" @click="save('addForm')">保存</el-button>
								<el-button class="btn_submit" @click="submit('addForm')">提交</el-button>
							</el-col>
							<el-col :xs="10" :sm="10" :md="10" :lg="10" :xl="10">&nbsp;</el-col>
						</el-row>
					</el-form>
				</el-row>
				<!--选择重点单位界面-->
				<el-dialog title="选择重点单位" :visible.sync="unitsListVisible" @close="closeDialog_units()" :close-on-click-modal="false">
					<div id="tableView" v-loading="loading_units" element-loading-text="加载中">
						<el-row>
							<el-form :inline="true" class="el-form demo-form-inline">
								<el-row>
									<el-col :span="20" class="searchInline">
										<label class="el-form-item__label" style="width:90px;">单位名称</label>
										<el-input size="small" v-model="searchForm_units.dwmc" placeholder="单位名称" clearable></el-input>
									</el-col>
									<el-col :span="4" class="btnSearchPlus">
										<el-button type="primary" icon="search" size="small" @click="keyunitList">查询</el-button>
									</el-col>
								</el-row>
							</el-form>
						</el-row>
						<div class="table_container">
							<el-table border id="table" :data="tableData_units.slice((currentPage_units-1)*pageSize_units,currentPage_units*pageSize_units)"
							 class="tableStyle" :height="tableheight_units" @row-click="selectRow_units">
								<el-table-column type="index" label="序号" show-overflow-tooltip width="65" align="center"></el-table-column>
								<el-table-column prop="dwmc" label="单位名称" show-overflow-tooltip min-width="40%" align="center" :formatter="dataFormat"></el-table-column>
								<el-table-column prop="dwlbmc" label="单位类别" show-overflow-tooltip min-width="25%" align="center" :formatter="dataFormat"></el-table-column>
								<el-table-column prop="xzqhmc" label="行政区划" show-overflow-tooltip min-width="25%" align="center" :formatter="dataFormat"></el-table-column>
							</el-table>
							<!--列表底部工具条和分页符-->
							<el-row type="flex" justify="end">
								<el-col :span="18">
									<el-pagination @current-change="currentPageChange_units" :current-page="currentPage_units" :page-size="pageSize_units" layout="total, prev, pager, next, jumper"
									 :total=parseInt(total_units)>
									</el-pagination>
								</el-col>
							</el-row>
						</div>
					</div>
				</el-dialog>
				<!--选择灾情部位界面-->
				<el-dialog title="选择灾情部位" :visible.sync="partsListVisible" @close="closeDialog_parts()" :close-on-click-modal="false">
					<div id="tableView" v-loading="loading_parts" element-loading-text="加载中">
						<el-row>
							<el-form :inline="true" class="el-form demo-form-inline">
								<el-row>
									<el-col :span="20" class="searchInline">
										<label class="el-form-item__label" style="width:90px;">部位名称</label>
										<el-input size="small" v-model="searchForm_parts.zdbwmc" placeholder="部位名称" clearable></el-input>
									</el-col>
									<el-col :span="4" class="btnSearchPlus">
										<el-button type="primary" icon="search" size="small" @click="partsList">查询</el-button>
									</el-col>
								</el-row>
							</el-form>
						</el-row>
						<div class="table_container">
							<el-table border id="table" :data="tableData_parts.slice((currentPage_parts-1)*pageSize_parts,currentPage_parts*pageSize_parts)"
							 class="tableStyle" :height="tableheight_parts" @row-click="selectRow_parts">
								<el-table-column type="index" label="序号" show-overflow-tooltip width="65" align="center"></el-table-column>
								<el-table-column prop="zdbwmc" label="部位名称" show-overflow-tooltip min-width="40%" align="center" :formatter="dataFormat"></el-table-column>
								<el-table-column prop="zdbwlxmc" label="部位类型" show-overflow-tooltip min-width="25%" align="center" :formatter="dataFormat"></el-table-column>
								<el-table-column prop="zdbwwz" label="部位位置" show-overflow-tooltip min-width="25%" align="center" :formatter="dataFormat"></el-table-column>
							</el-table>
							<!--列表底部工具条和分页符-->
							<el-row type="flex" justify="end">
								<el-col :span="18">
									<el-pagination @current-change="currentPageChange_parts" :current-page="currentPage_parts" :page-size="pageSize_parts" layout="total, prev, pager, next, jumper"
									 :total=parseInt(total_parts)>
									</el-pagination>
								</el-col>
							</el-row>
						</div>
					</div>
				</el-dialog>
				<!--选择所属建筑界面-->
				<el-dialog title="选择所属建筑" :visible.sync="buildingListVisible" @close="closeDialog_building()" :close-on-click-modal="false">
					<div id="tableView" v-loading="loading_building" element-loading-text="加载中">
						<el-row>
							<el-form :inline="true" class="el-form demo-form-inline">
								<el-row>
									<el-col :span="20" class="searchInline">
										<label class="el-form-item__label" style="width:90px;">建筑名称</label>
										<el-input size="small" v-model="searchForm_building.jzmc" placeholder="建筑名称" clearable></el-input>
									</el-col>
									<el-col :span="4" class="btnSearchPlus">
										<el-button type="primary" icon="search" size="small" @click="buildingList">查询</el-button>
									</el-col>
								</el-row>
							</el-form>
						</el-row>
						<div class="table_container">
							<el-table border id="table" :data="tableData_building.slice((currentPage_building-1)*pageSize_building,currentPage_building*pageSize_building)"
							 class="tableStyle" :height="tableheight_building" @row-click="selectRow_building">
								<el-table-column type="index" label="序号" show-overflow-tooltip width="65" align="center"></el-table-column>
								<el-table-column prop="jzmc" label="建筑名称" show-overflow-tooltip min-width="30%" align="center" :formatter="dataFormat"></el-table-column>
								<el-table-column prop="jzlxmc" label="建筑类型" show-overflow-tooltip min-width="30%" align="center" :formatter="dataFormat"></el-table-column>
								<el-table-column prop="jzwz" label="建筑位置" show-overflow-tooltip min-width="30%" align="center" :formatter="dataFormat"></el-table-column>
							</el-table>
							<!--列表底部工具条和分页符-->
							<el-row type="flex" justify="end">
								<el-col :span="18">
									<el-pagination @current-change="currentPageChange_building" :current-page="currentPage_building" :page-size="pageSize_building"
									 layout="total, prev, pager, next, jumper" :total=parseInt(total_building)>
									</el-pagination>
								</el-col>
							</el-row>
						</div>
					</div>
				</el-dialog>
			</div>
		</div>
	</div>
</body>
<script src="../../static/js/lib.js"></script>
<script src="../../static/js/menu.js"></script>
<script src="../../static/js/digitalplan/digitalplan_add.js"></script>

</html>