<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/planobject/importantunits_detail.css">
    <title>重点单位预案详情</title>
</head>

<body class="fw f14 main-index-body">
    <div id="header_box"></div>
    <div class="left-sidebar">
        <a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
        <div id="menu-box">
            <big-tree default-active="31"></big-tree>
        </div>
    </div>
    <div id="app">
        <div class="main-box">
            <div class="main-container" v-loading="loading" element-loading-text="加载中">
                <div id="lib :: main_container_header('重点单位预案详情','重点单位预案详情')"></div>
                <div id="tableView">
                    <div class="nameBox">
                        <div id="basic-Inform-Picture">
                            <img src="../../static/images/danwei.jpg">
                        </div>
                        <div class="dib" id="basic-Inform-Title" style="max-width: 760px;">
                            <div>
                                <h3 class="dib inform-h3">{{basicDetailData.yamc||"无"}}
                                    <span class="companyStatus dib" title="预案级别">{{basicDetailData.yajbmc||"无"}}</span>
                                </h3>
                            </div>
                            <dl>
                                <img src="../../static/images/location.png">
                                <dt class="dib inform-small-title">预案对象：</dt>
                                <dd class="dtdlStyle">{{basicDetailData.dxmc||"无"}}</dd>
                                <br>
                                <img src="../../static/images/date.png">
                                <dt class="dib inform-small-title">预案编码：</dt>
                                <dd class="dtdlStyle">{{basicDetailData.yabm||"无"}}</dd>
                                <br>
                                <img src="../../static/images/date.png">
                                <dt class="dib inform-small-title">预案类型：</dt>
                                <dd class="dtdlStyle">{{basicDetailData.yalxmc||"无"}}</dd>
                                <br>
                                <img src="../../static/images/postcode.png">
                                <dt class="dib inform-small-title">预案状态：</dt>
                                <dd class="dtdlStyle">{{basicDetailData.yaztmc||"无"}}</dd>
                                <br>
                            </dl>
                        </div>
                        <div style="float: right">
                            <el-button type="primary" icon="document" style="width:120px" @click="openPrinter">信息打印</el-button>
                            <br>
                            <el-button type="primary" icon="message" style="margin-top:5%;width:120px" @click="openPlan">在线预览</el-button>
                            <br>
                            <el-button type="primary" icon="share" style="margin-top:5%;width:120px" @click="downloadPlan">预案下载</el-button>
                        </div>
                    </div>
                    <div class="inform-content">
                        <template>
                            <el-tabs v-model="activeName" type="border-card" @tab-click="handleClick">
                                <el-tab-pane label="基本信息" name="first">
                                    <el-card class="mb10 cardBack">
                                        <el-row class="mb5">
                                            <el-col :span="24">
                                                <div style="color: #20a0ff;">
                                                    <strong>制作情况</strong>
                                                </div>
                                            </el-col>
                                        </el-row>
                                        <el-row class="mb5">
                                            <el-col :span="2" style="text-align: right;">
                                                <div>制作人名称：</div>
                                            </el-col>
                                            <el-col :span="6">
                                                <div>
                                                    <strong>{{basicDetailData.zzrmc||"无"}}</strong>
                                                </div>
                                            </el-col>
                                            <el-col :span="2" style="text-align: right;">
                                                <div>制作时间：</div>
                                            </el-col>
                                            <el-col :span="6">
                                                <div>
                                                    <strong>{{basicDetailData.zzsj||"无"}}</strong>
                                                </div>
                                            </el-col>
                                            <el-col :span="2" style="text-align: right;">
                                                <div>制作机构：</div>
                                            </el-col>
                                            <el-col :span="6">
                                                <div>
                                                    <strong>{{basicDetailData.jgmc||"无"}}</strong>
                                                </div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                    <el-card class="mb10 cardBack">
                                        <el-row class="mb5">
                                            <el-col :span="24">
                                                <div style="color: #20a0ff;">
                                                    <strong>审核情况</strong>
                                                </div>
                                            </el-col>
                                        </el-row>
                                        <el-row class="mb5">
                                            <el-col :span="2" style="text-align: right;">
                                                <div>审核人：</div>
                                            </el-col>
                                            <el-col :span="6">
                                                <div>
                                                    <strong>{{basicDetailData.shrmc||"无"}}</strong>
                                                </div>
                                            </el-col>
                                            <el-col :span="2" style="text-align: right;">
                                                <div>审核时间：</div>
                                            </el-col>
                                            <el-col :span="6">
                                                <div>
                                                    <strong>{{basicDetailData.shsj||"无"}}</strong>
                                                </div>
                                            </el-col>
                                            <el-col :span="2" style="text-align: right;">
                                                <div>审核状态：</div>
                                            </el-col>
                                            <el-col :span="6">
                                                <div>
                                                    <strong>{{basicDetailData.shztmc||"无"}}</strong>
                                                </div>
                                            </el-col>
                                        </el-row>
                                    </el-card>
                                </el-tab-pane>
                                <el-tab-pane label="灾情设定与力量部署" name="second">
                                    <el-card v-for="item in disasterSetData" class="mb10 cardBack">
                                        <div name="灾情部位" class="pb5">
                                            <el-row class="mb5">
                                                <el-col :span="24">
                                                    <div style="color: #20a0ff;">
                                                        <strong>灾情部位 -</strong>
                                                        <strong>{{item.zqbw||"无"}}</strong>
                                                    </div>
                                                </el-col>
                                            </el-row>
                                            <el-row class="mb5">
                                                <el-col :span="3" style="text-align: right;">
                                                    <div>灾情等级：</div>
                                                </el-col>
                                                <el-col :span="4">
                                                    <div>
                                                        <strong>{{item.zqdjmc||"无"}}</strong>
                                                    </div>
                                                </el-col>
                                                <el-col :span="3" style="text-align: right;">
                                                    <div>燃烧物质：</div>
                                                </el-col>
                                                <el-col :span="4">
                                                    <div>
                                                        <strong>{{item.rswzmc||"无"}}</strong>
                                                    </div>
                                                </el-col>
                                                <el-col :span="3" style="text-align: right;">
                                                    <div>灾害场所：</div>
                                                </el-col>
                                                <el-col :span="7">
                                                    <div>
                                                        <strong>{{item.zhcsmc||"无"}}</strong>
                                                    </div>
                                                </el-col>
                                            </el-row>
                                            <el-row class="mb5">
                                                <el-col :span="3" style="text-align: right;">
                                                    <div>火灾危险性：</div>
                                                </el-col>
                                                <el-col :span="4">
                                                    <div>
                                                        <strong>{{item.hzwxxmc||"无"}}</strong>
                                                    </div>
                                                </el-col>
                                                <el-col :span="3" style="text-align: right;">
                                                    <div>燃烧面积：</div>
                                                </el-col>
                                                <el-col :span="4">
                                                    <div>
                                                        <strong>{{item.rswzmc||"无"}}</strong>
                                                    </div>
                                                </el-col>
                                                <el-col :span="3" style="text-align: right;">
                                                    <div>灾情描述：</div>
                                                </el-col>
                                                <el-col :span="7">
                                                    <div>
                                                        <strong>{{item.zqms||"无"}}</strong>
                                                    </div>
                                                </el-col>
                                            </el-row>
                                            <el-row class="mb5">
                                                <el-col :span="3" style="text-align: right;">
                                                    <div>起火原因：</div>
                                                </el-col>
                                                <el-col :span="4">
                                                    <div>
                                                        <strong>{{item.qhyymc||"无"}}</strong>
                                                    </div>
                                                </el-col>
                                                <el-col :span="3" style="text-align: right;">
                                                    <div>起火高度：</div>
                                                </el-col>
                                                <el-col :span="4">
                                                    <div>
                                                        <strong>{{item.qhbwgd||"无"}}</strong>
                                                    </div>
                                                </el-col>
                                                <el-col :span="3" style="text-align: right;">
                                                    <div>灾情设定依据：</div>
                                                </el-col>
                                                <el-col :span="7">
                                                    <div>
                                                        <strong>{{item.zqsdyj||"无"}}</strong>
                                                    </div>
                                                </el-col>
                                            </el-row>
                                        </div>
                                        <div v-if="item.forcedevList.length==0 "></div>
                                        <div v-else class="pb5 pt5 cardBorder">
                                            <div name="力量部署" v-for="forcedev in item.forcedevList">
                                                <el-row class="mb5">
                                                    <el-col :span="24">
                                                        <div style="color: #20a0ff;">
                                                            <strong>力量部署 -</strong>
                                                            <strong>{{forcedev.djfalxmc||"无"}}</strong>
                                                        </div>
                                                    </el-col>
                                                </el-row>
                                                <el-row class="mb5">
                                                    <el-col :span="3" style="text-align: right;">
                                                        <div>队站名称：</div>
                                                    </el-col>
                                                    <el-col :span="4">
                                                        <div>
                                                            <strong>{{forcedev.dzmc||"无"}}</strong>
                                                        </div>
                                                    </el-col>
                                                    <el-col :span="3" style="text-align: right;">
                                                        <div>停靠位置：</div>
                                                    </el-col>
                                                    <el-col :span="14">
                                                        <div>
                                                            <strong>{{forcedev.tkwz||"无"}}</strong>
                                                        </div>
                                                    </el-col>
                                                </el-row>
                                                <el-row class="mb5">
                                                    <el-col :span="3" style="text-align: right;">
                                                        <div>车辆装备提示：</div>
                                                    </el-col>
                                                    <el-col :span="21">
                                                        <div>
                                                            <strong>{{forcedev.clzbts||"无"}}</strong>
                                                        </div>
                                                    </el-col>
                                                </el-row>
                                            </div>
                                        </div>
                                        <div v-if="item.keypointsMap==null"></div>
                                        <div v-else name="要点提示" class="pt5 cardBorder">
                                            <el-row class="mb5">
                                                <el-col :span="24">
                                                    <div style="color: #20a0ff;">
                                                        <strong>要点提示</strong>
                                                    </div>
                                                </el-col>
                                            </el-row>
                                            <el-row class="mb5">
                                                <el-col :span="3" style="text-align: right;">
                                                    <div>战术要点：</div>
                                                </el-col>
                                                <el-col :span="21">
                                                    <!-- <div v-if="item.keypointsMap==null">
                                                        <strong>无</strong>
                                                    </div> -->
                                                    <div v-else>
                                                        <strong>{{item.keypointsMap.zsyd||"无"}}</strong>
                                                    </div>
                                                </el-col>
                                            </el-row>
                                            <el-row class="mb5">
                                                <el-col :span="3" style="text-align: right;">
                                                    <div> 特别警示：</div>
                                                </el-col>
                                                <el-col :span="21">
                                                    <!-- <div v-if="item.keypointsMap==null">
                                                        <strong>无</strong>
                                                    </div> -->
                                                    <div v-else>
                                                        <strong>{{item.keypointsMap.tbjs||"无"}}</strong>
                                                    </div>
                                                </el-col>
                                            </el-row>
                                        </div>
                                    </el-card>
                                </el-tab-pane>
                            </el-tabs>
                        </template>

                    </div>
                </div>
            </div>

            <!-- main-container -->
        </div>
    </div>
</body>
<script src="../../static/js/lib.js"></script>
<script src="../../static/js/menu.js"></script>
<script src="../../static/js/digitalplan/digitalplan_detail.js"></script>

</html>