<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/lib.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/digitalplan/digitalplan.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/digitalplan/digitalplanlist.css">
</head>

<body class="fw f14 main-index-body">
    <div id="header_box"></div>
    <div class="left-sidebar">
        <a id="menu-toggle-btn" class="abs db el-icon-arrow-left menu-toggle-btn f12 tc" href="javascript:;"></a>
        <input type="hidden" id="activeIndex"/>
        <div id="menu-box">
            <big-tree default-active=""></big-tree>
        </div>
    </div>
    <div id="app">
        <div class="main-box">
            <div class="main-container" v-loading="loading" element-loading-text="加载中">
                <div id="lib :: main_container_header('重点单位管理','重点单位管理')"></div>
                <div id="tableView">
                    <el-row>
                        <el-form label-width="75px" :inline="true" class="el-form demo-form-inline">
                            <el-row>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">预案名称</label>
                                    <el-input size="small" v-model="searchForm.YAMC" placeholder="预案名称"></el-input>
                                </el-col>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">预案类型</label>
                                    <el-cascader :options="YALX_dataTree" :props="defaultProps" size="small" v-model="searchForm.YALX" placeholder="预案类型" class="searchSelect"
                                        clearable change-on-select></el-cascader>
                                </el-col>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">预案级别</label>
                                    <el-select size="small" v-model="searchForm.YAJB" placeholder="预案级别" class="searchSelect" clearable>
                                        <el-option v-for="item in YAJB_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
                                    </el-select>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">制作机构</label>
                                    <el-cascader :options="ZZJG_dataTree" :props="jgidprops" size="small" v-model="searchForm.ZZJG" placeholder="制作机构" class="searchSelect"
                                        clearable change-on-select></el-cascader>
                                </el-col>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
                                    <label class="el-form-item__label searchLabel">审核状态</label>
                                    <el-select size="small" v-model="searchForm.SHZT" placeholder="审核状态" class="searchSelect" clearable>
                                        <el-option v-for="item in SHZT_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
                                    </el-select>
                                </el-col>
                                <el-col :xs="8" :sm="8" :md="8" :lg="8" :xl="8" class="searchInline">
									<label class="el-form-item__label searchLabel">审核时间</label>
									<el-date-picker type="daterange" @change="timeChange" format="yyyy/MM/dd" value-format="yyyy/MM/dd" size="small" v-model="searchForm.shsj"
									 range-separator="至" placeholder="审核时间" start-placeholder="开始日期" end-placeholder="结束日期" class="searchDatePicker">
									</el-date-picker>
								</el-col>
                            </el-row>
                            <div>
                                <el-form>
                                    <el-col :span="12" class="btnEditDelete">
                                        <el-form-item align="left">
                                            <!--<el-button type="primary" icon="edit" size="small" @click="editClick">编辑</el-button>-->
                                            <el-button type="danger" icon="edit" size="small" @click="approve">审核</el-button>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="12"></el-col>
                                    <el-col :span="12" class="btnSearchPlus">
                                        <el-form-item>
                                            <el-button type="primary" icon="search" size="small" @click="searchClick">查询</el-button>
                                            <el-button type="clear" icon="delete" size="small" @click="clearClick">清空</el-button>
                                        </el-form-item>
                                    </el-col>
                                </el-form>
                            </div>
                        </el-form>
                    </el-row>
                    <div class="table_container">
                        <el-table border id="table" :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
                        @row-click = "showRow" class="tableStyle" :height="tableheight">
                        <el-table-column min-width="5%">
                                <template scope="scope">
                                    <el-radio v-model="radio" :label="scope.$index">&nbsp;</el-radio>
                                </template>
                            </el-table-column>
                            <el-table-column type="index" label="序号" show-overflow-tooltip width="65" align="center"></el-table-column>
                            <el-table-column prop="yamc" label="预案名称" show-overflow-tooltip min-width="15%" align="center" :formatter="dataFormat">
                                <template slot-scope="scope">
                                    <a @click="planDetails(scope.row)">{{scope.row.yamc}}</a>
                                </template>
                            </el-table-column>
                            <el-table-column prop="dxmc" label="对象名称" show-overflow-tooltip min-width="16%" align="center" :formatter="dataFormat"></el-table-column>
                            <el-table-column prop="yalxmc" label="预案类型" show-overflow-tooltip min-width="14%" align="center" :formatter="dataFormat"></el-table-column>
                            <el-table-column prop="jgmc" label="制作机构" show-overflow-tooltip min-width="10%" align="center" :formatter="dataFormat"></el-table-column>
                            <el-table-column prop="shztmc" label="审核状态" show-overflow-tooltip min-width="10%" align="center" :formatter="dataFormat"></el-table-column>
                        </el-table>

                        <!--列表底部工具条和分页符-->
                        <el-row type="flex" justify="end">
                            <el-col :span="18">
                                <el-pagination @size-change="pageSizeChange" @current-change="currentPageChange" :current-page="currentPage" :page-sizes="[10, 20, 30, 50]"
                                    :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total=parseInt(total)>
                                </el-pagination>
                            </el-col>
                        </el-row>
                    </div>
                    <!--详情界面-->
                    <el-dialog title="预案详情列表" :visible.sync="planDetailVisible" @close="closeDialog()" :close-on-click-modal="false">
                        <div id="detailDialog"></div>
                    </el-dialog>
                    <!--审批界面-->
                    <el-dialog title="预案审批" :visible.sync="approveFormVisible" @close="closeDialog(approveForm)" :close-on-click-modal="false">
						<el-form :model="approveForm" label-width="80px" ref="approveForm">
                            <el-row>
								<el-col :span="20">
									<el-form-item label="审核状态" prop="shzt">
										<el-radio-group v-model="approveForm.shzt" auto-complete="off">
											<el-radio v-for="item in SHZT_data" :label="item.codeValue">{{item.codeName}}</el-radio>
										</el-radio-group>
									</el-form-item>
								</el-col>
							</el-row>
						</el-form>
						<div slot="footer" class="dialog-footer">
							<el-button @click.native="closeDialog(approveForm)">取消</el-button>
							<el-button type="primary" @click.native="approveSubmit(approveForm)">提交</el-button>
						</div>
					</el-dialog>
                </div>
            </div>
            <!-- main-container -->
        </div>
    </div>
</body>
<script src="../../static/js/lib.js"></script>
<script src="../../static/js/digitalplan/digitalplan_approve.js"></script>
<script src="../../static/js/menu.js"></script>

</html>