<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="../../static/css/digitalplan/digitalplan_add.css">
	<title>新增重点单位预案</title>
</head>

<body class="fw f14 main-index-body">
	<div id="app">
		<div class="main-box">
			<div class="main-container" v-loading="loading1" element-loading-text="加载中">
				<!-- 面包屑 -->
				<div id="breadcrumb_box"></div>
				<el-form id="planadd" ref="addForm" :model="addForm" label-width="100px" :rules="inforRules">
					<div id="inforView">
						<el-row class="mb5" style="border-bottom:1px solid #20a0ff;line-height: 29px;">
							<strong style="color: #20a0ff;">预案基本信息</strong>
						</el-row>
						<el-row>
							<el-col :span="7">
								<el-form-item label="预案对象" prop="dxmc">
									<el-input size="small" v-model="addForm.dxmc" maxlength="100" placeholder="预案对象" disabled></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1" style="padding: 4px 0;" class="tl">
								<el-button icon="search" size="small" style="border: none;" @click="keyunitList('init')"></el-button>
							</el-col>
							<el-col :span="7">
								<el-form-item label="预案名称" prop="yamc">
									<el-input size="small" v-model="addForm.yamc" maxlength="50" placeholder="预案名称" clearable></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
							<el-col :span="7">
								<el-form-item label="预案编号">
									<el-input size="small" v-model="addForm.yabm" placeholder="保存/提交后系统自动生成" disabled></el-input>
								</el-form-item>
							</el-col>
							<el-col :span="1">&nbsp;</el-col>
						</el-row>
						<el-row>
							<el-col :span="7">
								<el-form-item label="预案级别" prop="yajb">
									<el-select @change="ifShowDown" size="small" v-model="addForm.yajb" placeholder="请选择" class="searchSelect" clearable>
										<el-option v-for="item in YAJB_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
									</el-select>
								</el-form-item>
							</el-col>
							<el-col :span="1" style="padding: 4px 0;">
								<el-button class="templete" icon="document" size="small" style="border:none; display:none;" @click="templeteDown"></el-button>
								<span class="space">&nbsp;</span>
							</el-col>
							<el-col :span="7">
								<el-form-item label="预案类型" prop="yalx" class="is-required">
									<el-cascader :options="YALX_dataTree" :props="defaultProps" size="small" v-model="addForm.yalx" placeholder="请选择" class="searchSelect"
									 clearable change-on-select :show-all-levels="false"></el-cascader>
								</el-form-item>
							</el-col>
						</el-row>
						<el-row class="mb5" style="border-bottom:1px solid #20a0ff;line-height: 29px;">
							<el-col :span="12" style="line-height: 29px;">
								<div style="color: #20a0ff;">
									<strong>灾情设定与力量部署</strong>
								</div>
							</el-col>
							<el-col :span="12" class="pb1">
								<el-button type="primary" icon="plus" size="small" class="r" @click="addDomain"></el-button>
							</el-col>
						</el-row>
						<el-card v-for="(domain, index) in addForm.disasterList" :key="index" class="card_style">
							<div slot="header" class="clearfix">
								<strong class="card_title_font">灾情{{index+1}}</strong>
								<el-button type="danger" icon="minus" size="small" @click.prevent="removeDisaster(domain)" class="r" style="margin-right: -16px;"></el-button>
							</div>
							<el-row>
								<el-col :span="7">
									<el-form-item label="灾情部位" :prop="'disasterList.' + index + '.zqbw'" :rules="inforRules.zqbw">
										<el-input v-model="domain.zqbw" maxlength="50" size="small" placeholder="灾情部位"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1" style="padding: 4px 0;">
									<el-button icon="search" size="small" style="border: none;background-color: #F5FAFC;" @click="partsList('init',index)"></el-button>
								</el-col>
								<el-col :span="7">
									<el-form-item label="所属建筑">
										<el-input v-model="domain.jzmc" size="small" placeholder="所属建筑" disabled></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1" style="padding: 4px 0;">
									<el-button icon="search" size="small" style="border: none;background-color: #F5FAFC;" @click="buildingList('init',index)"></el-button>
								</el-col>
								<el-col :span="7">
									<el-form-item label="燃烧物质">
										<el-cascader :options="RSWZ_dataTree" :props="defaultProps" size="small" v-model="domain.rswz" placeholder="请选择" clearable
										 change-on-select :show-all-levels="false"></el-cascader>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="7">
									<el-form-item label="灾情等级">
										<el-cascader :options="ZQDJ_dataTree" :props="defaultProps" size="small" v-model="domain.zqdj" placeholder="请选择" clearable
										 :show-all-levels="false"></el-cascader>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="7">
									<el-form-item label="起火原因">
										<el-select size="small" v-model="domain.qhyy" placeholder="请选择" clearable>
											<el-option v-for="item in QHYY_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="7">
									<el-form-item label="燃烧面积(㎡)">
										<el-input-number v-model="domain.rsmj" size="small" :min="0" :max="999999.99"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="7">
									<el-form-item label="灾害场所">
										<el-select size="small" v-model="domain.zhcs" placeholder="请选择" clearable>
											<el-option v-for="item in ZHCS_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="7">
									<el-form-item label="火灾危险性">
										<el-select size="small" v-model="domain.gyjzhzwxx" placeholder="请选择" clearable>
											<el-option v-for="item in HZWXX_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="7">
									<el-form-item label="起火高度(m)">
										<el-input-number v-model="domain.qhbwgd" size="small" :min="0" :max="999999.99"></el-input-number>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row>
								<el-col :span="23">
									<el-form-item label="灾情描述">
										<el-input size="small" v-model="domain.zqms" maxlength="200" placeholder="灾情描述" type="textarea" autosize></el-input>
									</el-form-item>
								</el-col>
							</el-row>
							<el-row>
								<el-col :span="23">
									<el-form-item label="设定依据">
										<el-input size="small" v-model="domain.zqsdyj" maxlength="500" placeholder="灾情设定依据" type="textarea" autosize></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row style="border-bottom: 1px solid #d1dbe5;line-height: 29px;" class="ml15 mr15 mb5 mt15">
								<strong>&nbsp;&nbsp;要点提示</strong>
							</el-row>
							<el-row>
								<el-col :span="23">
									<el-form-item label="战术要点">
										<el-input v-model="domain.keypointsMap.zsyd" maxlength="1000" size="small" type="textarea" autosize placeholder="战术要点"></el-input>
									</el-form-item>
								</el-col>
							</el-row>
							<el-row>
								<el-col :span="23">
									<el-form-item label="特别警示">
										<el-input v-model="domain.keypointsMap.tbjs" maxlength="1000" size="small" type="textarea" autosize placeholder="特别警示"></el-input>
									</el-form-item>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
							</el-row>
							<el-row style="border-bottom: 1px solid #d1dbe5; line-height: 29px;" class="ml15 mr15 mb5 mt15">
								<el-col :span="12">
									<strong>&nbsp;&nbsp;力量部署</strong>
								</el-col>
								<el-col :span="11">&nbsp;</el-col>
								<el-col :span="1">
									<el-button type="primary" icon="plus" size="small" class="r" @click="addDomainllbs(index)"></el-button>
								</el-col>
							</el-row>
							<div v-for="(llbs,index1) in domain.forcedevList" :key="index1">
								<el-row>
									<el-col :span="7">
										<el-form-item label="消防队站" :prop="'disasterList.' + index + '.forcedevList.' + index1 + '.dzmc'" :rules="inforRules.dzmc">
											<el-input v-model="llbs.dzmc" size="small" placeholder="消防队站" disabled></el-input>
										</el-form-item>
									</el-col>
									<el-col :span="1" style="padding: 4px 0;">
										<el-button icon="search" size="small" style="border: none;background-color: #F5FAFC;" @click="fireStaList('init',index,index1)"></el-button>
									</el-col>
									<el-col :span="7">
										<el-form-item label="方案类型">
											<el-select size="small" v-model="llbs.djfalx" placeholder="请选择" clearable>
												<el-option v-for="item in DJFALX_data" :key="item.codeValue" :label="item.codeName" :value="item.codeValue"></el-option>
											</el-select>
										</el-form-item>
									</el-col>
									<el-col :span="8">&nbsp;</el-col>
									<el-col :span="1">
										<el-button type="danger" icon="minus" size="small" @click.prevent="removellbs(llbs,index)" class="r" style="margin-right:15px;"></el-button>
									</el-col>
								</el-row>
								<el-row>
									<el-col :span="23">
										<el-form-item label="停靠位置">
											<el-input v-model="llbs.tkwz" maxlength="50" size="small" type="textarea" autosize placeholder="停靠位置"></el-input>
										</el-form-item>
									</el-col>
								</el-row>
								<el-row>
									<el-col :span="23">
										<el-form-item label="装备提示">
											<el-input v-model="llbs.clzbts" maxlength="1000" size="small" type="textarea" autosize placeholder="车辆装备提示"></el-input>
										</el-form-item>
									</el-col>
								</el-row>
							</div>
						</el-card>
					</div>
				</el-form>
				<div id="uploadPlan" class="pt15">
					<el-row class="mb5" style="border-bottom:1px solid #20a0ff;line-height: 29px;">
						<strong style="color: #20a0ff;">预案上传</strong>
					</el-row>
					<el-row>
						<el-col :span="11">
							<el-upload class="upload-demo" ref="upload" action="/dpapi/yafjxz/upload" :data="upLoadData" :on-preview="handlePreview"
							 :on-remove="fileRemove" :on-success="fileSuccess" :on-change="handleChange" :file-list="fileList" :auto-upload="false">
								<el-button type="primary" icon="search" slot="trigger" size="small" type="primary">选取预案文件</el-button>
								<span slot="tip" class="el-upload__tip ml10">只能上传zip压缩文件</span>
							</el-upload>
						</el-col>
						<el-col :span="1">&nbsp;</el-col>
						<el-col :span="11">
							<el-upload class="upload-demo" ref="uploadPics" action="/dpapi/yafjxz/upload" :data="upLoadData" :on-preview="handlePreview"
							 :on-remove="picRemove" :on-success="picSuccess" :on-change="PicChange" :file-list="picList" :auto-upload="false">
								<el-button type="primary" icon="search" slot="trigger" size="small" type="primary">选取图片文件</el-button>
								<span slot="tip" class="el-upload__tip ml10">只能上传png图片文件</span>
							</el-upload>
						</el-col>
					</el-row>
				</div>
				<div id="remark" class="pt15">
					<el-row class="mb5" style="border-bottom:1px solid #20a0ff;line-height: 29px;">
						<strong style="color: #20a0ff;">备注</strong>
					</el-row>
					<el-row class="tr">
						<el-col :span="2">
							<el-label class="mr5 vbm">备注</el-label>
						</el-col>
						<el-col :span="21">
							<el-input size="small" v-model="addForm.bz" maxlength="200" placeholder="备注" type="textarea" :autosize="{ minRows: 2, maxRows: 4}"></el-input>
						</el-col>
						<el-col :span="1">&nbsp;</el-col>
					</el-row>
				</div>
				<el-row class="mt35 mb20 tc">
					<el-button type="clear" icon="close" size="small" class="btn_submit" @click="cancel"> 取消</el-button>
					<el-button type="primary" icon="document" size="small" class="btn_save" @click="save('addForm')"> 暂存</el-button>
					<el-button type="success" icon="check" size="small" class="btn_submit" @click="submit('addForm')">提交</el-button>
				</el-row>
				<!--选择重点单位界面-->
				<el-dialog title="选择重点单位" :visible.sync="unitsListVisible" :close-on-click-modal="false">
					<div id="tableView" v-loading="loading_units" element-loading-text="加载中">
						<el-row>
							<el-row>
								<el-col :span="18" class="searchInline">
									<label class="el-form-item__label" style="width:90px;">单位名称</label>
									<el-input size="small" v-model="searchForm_units.dwmc" placeholder="单位名称" maxlength="100" clearable></el-input>
								</el-col>
								<el-col :span="6" class="btnSearchPlus">
									<el-button type="primary" icon="search" size="small" @click="keyunitList('click')">查询</el-button>
									<el-button type="clear" icon="delete" size="small" @click="clearkeyunitList">清空</el-button>
								</el-col>
							</el-row>
						</el-row>
						<div class="table_container">
							<el-table border id="table" :data="tableData_units.slice((currentPage_units-1)*pageSize_units,currentPage_units*pageSize_units)"
							 class="tableStyle" :height="tableheight_units" @row-click="selectRow_units">
								<el-table-column type="index" label="序号" show-overflow-tooltip width="65" align="center"></el-table-column>
								<el-table-column prop="dwmc" label="单位名称" show-overflow-tooltip min-width="40%" align="center"></el-table-column>
								<el-table-column prop="dwxzmc" label="单位类别" show-overflow-tooltip min-width="25%" align="center"></el-table-column>
								<el-table-column prop="xzqhmc" label="行政区划" show-overflow-tooltip min-width="25%" align="center"></el-table-column>
							</el-table>
							<!--列表底部工具条和分页符-->
							<el-row type="flex" justify="end">
								<el-col :span="18">
									<el-pagination @current-change="currentPageChange_units" :current-page="currentPage_units" :page-size="pageSize_units" layout="total, prev, pager, next, jumper"
									 :total=parseInt(total_units)>
									</el-pagination>
								</el-col>
							</el-row>
						</div>
					</div>
				</el-dialog>
				<!--选择灾情部位界面-->
				<el-dialog title="选择灾情部位" :visible.sync="partsListVisible" :close-on-click-modal="false">
					<div id="tableView" v-loading="loading_parts" element-loading-text="加载中">
						<el-row>
							<el-col :span="18" class="searchInline">
								<label class="el-form-item__label" style="width:90px;">部位名称</label>
								<el-input size="small" v-model="searchForm_parts.zdbwmc" maxlength="50" placeholder="部位名称" clearable></el-input>
							</el-col>
							<el-col :span="6" class="btnSearchPlus">
								<el-button type="primary" icon="search" size="small" @click="partsList('click','')">查询</el-button>
								<el-button type="clear" icon="delete" size="small" @click="clearpartsList">清空</el-button>
							</el-col>
						</el-row>
						<div class="table_container">
							<el-table border id="table" :data="tableData_parts.slice((currentPage_parts-1)*pageSize_parts,currentPage_parts*pageSize_parts)"
							 class="tableStyle" :height="tableheight_parts" @row-click="selectRow_parts">
								<el-table-column type="index" label="序号" show-overflow-tooltip width="65" align="center"></el-table-column>
								<el-table-column prop="zdbwmc" label="部位名称" show-overflow-tooltip min-width="40%" align="center"></el-table-column>
								<el-table-column prop="zdbwlxmc" label="部位类型" show-overflow-tooltip min-width="25%" align="center"></el-table-column>
								<el-table-column prop="zdbwwz" label="部位位置" show-overflow-tooltip min-width="25%" align="center"></el-table-column>
							</el-table>
							<!--列表底部工具条和分页符-->
							<el-row type="flex" justify="end">
								<el-col :span="18">
									<el-pagination @current-change="currentPageChange_parts" :current-page="currentPage_parts" :page-size="pageSize_parts" layout="total, prev, pager, next, jumper"
									 :total=parseInt(total_parts)>
									</el-pagination>
								</el-col>
							</el-row>
						</div>
					</div>
				</el-dialog>
				<!--选择所属建筑界面-->
				<el-dialog title="选择所属建筑" :visible.sync="buildingListVisible" :close-on-click-modal="false">
					<div id="tableView" v-loading="loading_building" element-loading-text="加载中">
						<el-row>
							<el-col :span="18" class="searchInline">
								<label class="el-form-item__label" style="width:90px;">建筑名称</label>
								<el-input size="small" v-model="searchForm_building.jzmc" maxlength="50" placeholder="建筑名称" clearable></el-input>
							</el-col>
							<el-col :span="6" class="btnSearchPlus">
								<el-button type="primary" icon="search" size="small" @click="buildingList('click','')">查询</el-button>
								<el-button type="clear" icon="delete" size="small" @click="clearbuildingList">清空</el-button>
							</el-col>
						</el-row>
						<div class="table_container">
							<el-table border id="table" :data="tableData_building.slice((currentPage_building-1)*pageSize_building,currentPage_building*pageSize_building)"
							 class="tableStyle" :height="tableheight_building" @row-click="selectRow_building">
								<el-table-column type="index" label="序号" show-overflow-tooltip width="65" align="center"></el-table-column>
								<el-table-column prop="jzmc" label="建筑名称" show-overflow-tooltip min-width="30%" align="center"></el-table-column>
								<el-table-column prop="jzlxmc" label="建筑类型" show-overflow-tooltip min-width="30%" align="center"></el-table-column>
								<el-table-column prop="jzwz" label="建筑位置" show-overflow-tooltip min-width="30%" align="center"></el-table-column>
							</el-table>
							<!--列表底部工具条和分页符-->
							<el-row type="flex" justify="end">
								<el-col :span="18">
									<el-pagination @current-change="currentPageChange_building" :current-page="currentPage_building" :page-size="pageSize_building"
									 layout="total, prev, pager, next, jumper" :total=parseInt(total_building)>
									</el-pagination>
								</el-col>
							</el-row>
						</div>
					</div>
				</el-dialog>
				<!--选择消防队站界面-->
				<el-dialog title="选择消防队站" :visible.sync="fireStaListVisible" :close-on-click-modal="false">
					<div id="tableView" v-loading="loading_fireSta" element-loading-text="加载中">
						<el-row>
							<el-col :span="18" class="searchInline">
								<label class="el-form-item__label" style="width:90px;">队站名称</label>
								<el-input size="small" v-model="searchForm_fireSta.dzmc" maxlength="50" placeholder="队站名称" clearable></el-input>
							</el-col>
							<el-col :span="6" class="btnSearchPlus">
								<el-button type="primary" icon="search" size="small" @click="fireStaList('click','','')">查询</el-button>
								<el-button type="clear" icon="delete" size="small" @click="clearfireStaList">清空</el-button>
							</el-col>
						</el-row>
						<div class="table_container">
							<el-table border id="table" :data="tableData_fireSta.slice((currentPage_fireSta-1)*pageSize_fireSta,currentPage_fireSta*pageSize_fireSta)"
							 class="tableStyle" :height="tableheight_fireSta" @row-click="selectRow_fireSta">
								<el-table-column type="index" label="序号" show-overflow-tooltip width="65" align="center"></el-table-column>
								<el-table-column prop="dzmc" label="队站名称" show-overflow-tooltip min-width="35%" align="center"></el-table-column>
								<el-table-column prop="dzlxmc" label="队站类型" show-overflow-tooltip min-width="20%" align="center"></el-table-column>
								<el-table-column prop="dzdz" label="队站地址" show-overflow-tooltip min-width="35%" align="center"></el-table-column>
							</el-table>
							<!--列表底部工具条和分页符-->
							<el-row type="flex" justify="end">
								<el-col :span="18">
									<el-pagination @current-change="currentPageChange_fireSta" :current-page="currentPage_fireSta" :page-size="pageSize_fireSta"
									 layout="total, prev, pager, next, jumper" :total=parseInt(total_fireSta)>
									</el-pagination>
								</el-col>
							</el-row>
						</div>
					</div>
				</el-dialog>
			</div>
		</div>
	</div>
</body>
<script src="../../static/js/common/config.js"></script>
<script src="../../static/js/digitalplan/digitalplan_add.js"></script>

</html>