<html>
<head>
    <script src="../../static/js/vue.js"></script>
    <script src="../../static/js/elementUI.js"></script>
    <script src="../../static/js/digitalplan/guardobjectsplan_detail.js"></script>
</head>
<body class="fw f14 main-index-body">
    <!--详情界面-->
        <div id="detailDisplay">
            <div class="dib" id="basic-Inform-Title">
                <div class="detailBox" style="display: inline-flex;">
                <div id="basic-Inform-Picture">
                    <img id="photo" class="detail_picture_size">
                </div>
                <div class="detailBox">
                    <div>
                        <dl class="inform-left inform-margin-left">
                            <dt class="dtdlStyle">预案名称：</dt>
                            <dd class="dtdlStyle" v-text="detailData.yamc"></dd>
                        </dl>
                    </div>
                    <div class="inform-margin">
                        <dl class="inform-left inform-margin-left">
                            <dt class="dtdlStyle">预案对象：</dt>
                            <dd class="dtdlStyle" v-text="detailData.dxmc||'无'"></dd>
                        </dl>
                    </div>
                    <div class="inform-margin">
                        <dl class="inform-left inform-margin-left">
                            <dt class="dtdlStyle">预案类型：</dt>
                            <dd class="dtdlStyle" v-text="detailData.yalxmc||'无'"></dd>
                        </dl>
                    </div>
                    <div class="inform-margin">
                        <dl class="inform-left inform-margin-left">
                            <dt class="dtdlStyle">是否跨区域：</dt>
                            <dd class="dtdlStyle" v-text="detailData.sfkqymc||'无'"></dd>
                        </dl>
                    </div>
                    <div class="inform-margin inform-margin-left">
                        <dl class="inform-left">
                            <dt class="dtdlStyle">制作机构：</dt>
                            <dd class="dtdlStyle" v-text="detailData.jgidmc||'无'"></dd>
                        </dl>
                    </div>
                    <div class="inform-margin">
                        <dl class="inform-left inform-margin-left">
                            <dt class="dtdlStyle">制作人名称：</dt>
                            <dd class="dtdlStyle" v-text="detailData.zzrmc||'无'"></dd>
                        </dl>
                    </div>
                    <div class="inform-margin">
                        <dl class="inform-left inform-margin-left">
                            <dt class="dtdlStyle">制作时间：</dt>
                            <dd class="dtdlStyle" v-text="detailData.zzsj||'无'"></dd>
                        </dl>
                    </div>
                    <!-- <div class="inform-margin">
                        <dl class="inform-left">
                            <dt class="dtdlStyle">创建人：</dt>
                            <dd class="dtdlStyle" v-text="detailData.cjrmc||'无'"></dd>
                        </dl>
                    </div>
                    <div class="inform-margin">
                        <dl class="inform-left">
                            <dt class="dtdlStyle">创建时间：</dt>
                            <dd class="dtdlStyle" v-text="detailData.cjsj||'无'"></dd>
                        </dl>
                    </div> -->
                    <!-- <div class="inform-margin">
                        <dl class="inform-left">
                            <dt class="dtdlStyle">修改人：</dt>
                            <dd class="dtdlStyle" v-text="detailData.xgrmc||'无'"></dd>
                        </dl>
                    </div>
                    <div class="inform-margin">
                        <dl class="inform-left">
                            <dt class="dtdlStyle">修改时间：</dt>
                            <dd class="dtdlStyle" v-text="detailData.xgsj||'无'"></dd>
                        </dl>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>
